workflows/jira-sla-products-status-changed (1).json
{
  "name": "jira-sla-products-status-changed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jira-sla-products-status-changed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8598bc91-56ce-4a42-a5ad-f91c783e4bda",
      "name": "Trigger — Jira Status Changed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        240
      ],
      "webhookId": "jira-sla-products-status-changed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {}
      },
      "id": "4d32d29e-6ee5-4efa-87ac-abeca6784ca0",
      "name": "Respond — Acknowledge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -144,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// EXTRACT STATUS CHANGE EVENT FROM JIRA WEBHOOK\n// ============================================================\nconst body = $input.item.json.body || $input.item.json;\nconst issue = body.issue || {};\nconst fields = issue.fields || {};\nconst changelog = body.changelog || {};\nconst changelogItems = changelog.items || [];\n\nconst key = issue.key || '';\nconst projectKey = (fields.project && fields.project.key) || key.split('-')[0];\n\n// Only process REQ project\nif (projectKey !== 'REQ') {\n  return [{ json: { skip: true, reason: 'Not a REQ ticket', key } }];\n}\n\n// Find the status change item\nconst statusChange = changelogItems.find(item => item.field === 'status');\nif (!statusChange) {\n  return [{ json: { skip: true, reason: 'No status change found', key } }];\n}\n\nconst fromStatus = statusChange.fromString || '';\nconst toStatus = statusChange.toString || '';\nconst changedAt = body.timestamp\n  ? new Date(body.timestamp).toISOString().split('T')[0]\n  : new Date().toISOString().split('T')[0];\n\nconst summary = fields.summary || '';\nconst issueType = (fields.issuetype && fields.issuetype.name) || '';\nconst assignee = (fields.assignee && fields.assignee.displayName) || '';\nconst jiraUrl = `https://arduasolutions.atlassian.net/browse/${key}`;\n\nlet tipo = 'REQ';\nif (issueType === 'Task' || issueType === 'TASK') tipo = 'TASK';\n\n// Determine responsable for each status\nconst getResponsable = (status) => {\n  const producto = ['BACKLOG', 'IN ANALYSIS', 'In Progress', 'Blocked'];\n  const it = ['SENT TO DEV', 'Ready for Dev', 'In Development'];\n  if (it.includes(status)) return 'IT';\n  if (['Done', 'DEPRECATED'].includes(status)) return 'Ninguno';\n  return 'Producto';\n};\n\nreturn [{\n  json: {\n    skip: false,\n    key,\n    summary,\n    tipo,\n    fromStatus,\n    toStatus,\n    changedAt,\n    assignee,\n    jiraUrl,\n    responsableFromStatus: getResponsable(fromStatus),\n    responsableToStatus: getResponsable(toStatus)\n  }\n}];"
      },
      "id": "796303fd-9b5d-4fff-b257-7fcfdfc9bee8",
      "name": "Extract Status Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e830bf6c-c483-4d73-89e7-ee325558e48d",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        240
      ]
    },
    {
      "parameters": {},
      "id": "0fb8e388-e61c-4663-95cb-53604cee93a6",
      "name": "Ignore — Not Relevant",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        304,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/9d4e0a6f-514a-4e90-968b-89241f53ad86/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"property\": \"Ticket Key\",\n    \"title\": {\n      \"equals\": \"{{ $json.key }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "5e270bbe-07cd-40cb-b92e-115d217f69f8",
      "name": "Find Ticket in Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        256
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CALCULATE DAYS IN PREVIOUS STATUS & BUILD PAYLOADS\n// ============================================================\nconst notionResults = $input.item.json.results || [];\nconst extract = $('Extract Status Change').item.json;\n\nif (notionResults.length === 0) {\n  return [{ json: { skip: true, reason: 'Ticket not found in Notion', key: extract.key } }];\n}\n\nconst page = notionResults[0];\nconst pageId = page.id;\nconst props = page.properties || {};\n\n// Get fecha entrada of the FROM status to calculate days spent\nconst statusToFechaField = {\n  'BACKLOG':        'Fecha entrada BACKLOG',\n  'IN ANALYSIS':    'Fecha entrada IN ANALYSIS',\n  'In Progress':    'Fecha entrada In Progress',\n  'Blocked':        'Fecha entrada Blocked',\n  'SENT TO DEV':    'Fecha entrada SENT TO DEV',\n  'Ready for Dev':  'Fecha entrada Ready for Dev',\n  'In Development': 'Fecha entrada In Development',\n  'Done':           'Fecha entrada Done',\n  'DEPRECATED':     'Fecha entrada DEPRECATED'\n};\n\nconst statusToDiasField = {\n  'BACKLOG':        'Días en BACKLOG',\n  'IN ANALYSIS':    'Días en IN ANALYSIS',\n  'In Progress':    'Días en In Progress',\n  'Blocked':        'Días en Blocked',\n  'SENT TO DEV':    'Días en SENT TO DEV',\n  'Ready for Dev':  'Días en Ready for Dev',\n  'In Development': 'Días en In Development',\n  'Done':           'Días en Done',\n  'DEPRECATED':     'Días en DEPRECATED'\n};\n\n// Calculate days in fromStatus\nconst fromFechaKey = statusToFechaField[extract.fromStatus];\nlet diasEnEstadoAnterior = 0;\n\nif (fromFechaKey && props[fromFechaKey] && props[fromFechaKey].date && props[fromFechaKey].date.start) {\n  const fechaEntrada = new Date(props[fromFechaKey].date.start);\n  const fechaSalida = new Date(extract.changedAt);\n  const diffMs = fechaSalida - fechaEntrada;\n  diasEnEstadoAnterior = Math.max(0, Math.round(diffMs / (1000 * 60 * 60 * 24)));\n}\n\n// Build update properties for SLA — Tickets PRODUCTS\nconst updateProperties = {};\n\n// Update current status\nupdateProperties['Estado Actual'] = { select: { name: extract.toStatus } };\nupdateProperties['Responsable'] = { select: { name: extract.responsableToStatus } };\nupdateProperties['IT es responsable'] = { checkbox: extract.responsableToStatus === 'IT' };\nupdateProperties['Última Actualización'] = { date: { start: extract.changedAt } };\nupdateProperties['Días en Estado Actual'] = { number: 0 };\n\n// Update dias en fromStatus\nconst diasFromKey = statusToDiasField[extract.fromStatus];\nif (diasFromKey) {\n  updateProperties[diasFromKey] = { number: diasEnEstadoAnterior };\n}\n\n// Set fecha entrada for toStatus\nconst fechaToKey = statusToFechaField[extract.toStatus];\nif (fechaToKey) {\n  updateProperties[fechaToKey] = { date: { start: extract.changedAt } };\n}\n\n// Build changelog entry properties\nconst transitionId = `${extract.key}-${extract.fromStatus}-${extract.toStatus}-${extract.changedAt}`;\n\nconst changelogProperties = {\n  'ID Transición': { title: [{ text: { content: transitionId } }] },\n  'Ticket Key': { rich_text: [{ text: { content: extract.key } }] },\n  'Tipo': { select: { name: extract.tipo } },\n  'Estado Anterior': { rich_text: [{ text: { content: extract.fromStatus } }] },\n  'Estado Nuevo': { rich_text: [{ text: { content: extract.toStatus } }] },\n  'Responsable Estado Anterior': { select: { name: extract.responsableFromStatus } },\n  'Responsable Estado Nuevo': { select: { name: extract.responsableToStatus } },\n  'Fecha Entrada': { date: { start: fromFechaKey && props[fromFechaKey] && props[fromFechaKey].date ? props[fromFechaKey].date.start : extract.changedAt } },\n  'Fecha Salida': { date: { start: extract.changedAt } },\n  'Días en Estado': { number: diasEnEstadoAnterior },\n  'URL Jira': { url: extract.jiraUrl }\n};\n\nreturn [{\n  json: {\n    skip: false,\n    pageId,\n    updateProperties,\n    changelogProperties,\n    key: extract.key\n  }\n}];"
      },
      "id": "1c364000-22da-461e-9b02-81135da44bed",
      "name": "Calculate Days & Build Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip2",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4d1dde2-ee5a-407e-bbcd-c1de070db500",
      "name": "Ticket Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        752,
        256
      ]
    },
    {
      "parameters": {},
      "id": "e44aa56c-31b5-404f-984b-249589dfd6cc",
      "name": "Ignore — Ticket Not Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        80
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {{ JSON.stringify($json.updateProperties) }}\n}",
        "options": {}
      },
      "id": "6b59fd6f-d674-439c-a993-5efac3b6980e",
      "name": "Update Ticket — SLA Tickets PRODUCTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        272
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": { \"database_id\": \"1de23a75-d1ba-4a10-908c-126e456da721\" },\n  \"properties\": {{ JSON.stringify($('Calculate Days & Build Payloads').item.json.changelogProperties) }}\n}",
        "options": {}
      },
      "id": "d1b30a7b-0187-4dca-9f8b-d3d963df9e12",
      "name": "Create Changelog Entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        272
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger — Jira Status Changed": {
      "main": [
        [
          {
            "node": "Respond — Acknowledge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Status Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Status Change": {
      "main": [
        [
          {
            "node": "Should Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?": {
      "main": [
        [
          {
            "node": "Ignore — Not Relevant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Ticket in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Ticket in Notion": {
      "main": [
        [
          {
            "node": "Calculate Days & Build Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Days & Build Payloads": {
      "main": [
        [
          {
            "node": "Ticket Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Found?": {
      "main": [
        [
          {
            "node": "Ignore — Ticket Not Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Ticket — SLA Tickets PRODUCTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ticket — SLA Tickets PRODUCTS": {
      "main": [
        [
          {
            "node": "Create Changelog Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "31ba2445-6aec-4a1c-b8fe-0d1f63146426",
  "meta": {
    "instanceId": "95944be45d5aa5e5565d656a14e718ed8b92e30102ad1bd3fcad4cf1b1c2f383"
  },
  "id": "fTD7Aldgw5IVtqQk",
  "tags": []
}