workflows/miles-slack-event-router.json
{
  "name": "miles-slack-event-router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7c2527e-0968-44c1-b804-f164c6776445",
      "name": "Trigger — Slack Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        42112,
        34896
      ],
      "webhookId": "miles-slack-events"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c-ch",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bfcb85a0-b68c-4b79-8e8e-9cdb91401570",
      "name": "Is URL Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        42336,
        34896
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.body.challenge }) }}",
        "options": {}
      },
      "id": "232595eb-3ec9-4cb4-8a16-b2cdd612dd9c",
      "name": "Respond — URL Verification",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        42560,
        34768
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {}
      },
      "id": "eead7d16-779e-4577-bac3-b2618997ffc1",
      "name": "Respond — Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        42560,
        35008
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-slack-event-router · Classify Event\n// ----------------------------------------------------------------------------\n// Resuelve los 3 ejes de clasificacion y devuelve una unica `action`.\n//   Eje 1 (que):    tipo de evento Slack\n//   Eje 2 (quien):  origen del evento (Claude firmado / Miles / bot / humano)\n//   Eje 3 (donde):  canal REQ vs otro · raiz vs reply · con/sin mencion\n//\n// Acciones posibles:\n//   'challenge'        -> (lo maneja un IF previo, no llega aca)\n//   'app_home'         -> publicar App Home\n//   'capture_req'      -> forward al conversation-handler (captura REQ de Claude)\n//   'ignore'           -> noOp\n//\n// Catalogo (ver miles-discovery.md):\n//   1  url_verification                                          -> challenge (IF previo)\n//   2  app_home_opened + humano                                  -> app_home\n//   3  app_mention + Claude firmado + canal REQ + raiz           -> capture_req\n//   4  cualquiera + Miles                                        -> ignore (anti-loop)\n//   5  cualquiera + otro bot                                     -> ignore\n//   6  message + humano + DM (im)                                -> ignore\n//   7  app_mention + humano + fuera de canal REQ                 -> ignore\n//   8  message + humano + reply sin mencion                      -> ignore\n//   9  edit/delete                                               -> ignore\n//   10 message + Claude firmado + canal REQ + raiz               -> ignore (gemelo del app_mention)\n//   11 cualquier mencion/texto libre del usuario (no firmado)    -> ignore\n//\n// NOTA DE-DUP (REQ duplicados):\n//   Un posteo firmado por Claude que menciona a Miles en un canal REQ dispara\n//   DOS eventos Slack: `message` y `app_mention`, ambos con la firma. Para\n//   capturar el REQ una sola vez, el evento CANONICO de captura es `app_mention`\n//   (senal explicita de intencion hacia Miles). El `message` gemelo se descarta.\n//\n// NOTA INTERACCION POR TEXTO LIBRE (eliminado el follow-up):\n//   La UNICA interaccion habilitada usuario->Miles via texto es la firmada por\n//   Claude (captura de REQ). Mencionar a Miles a mano o escribir texto libre en\n//   un hilo NO dispara nada en este router. Las interacciones ricas del usuario\n//   (botones, inputs, modales) NO entran por la Events API: Slack las envia como\n//   interactivity payloads a /webhook/slack-actions (router aparte). Por eso aca\n//   no existe rama de follow-up: seria estructuralmente imposible que reciba esas\n//   interacciones, y solo atraparia texto libre, que esta deshabilitado.\n// ============================================================================\n\nconst body  = $json.body || {};\nconst event = body.event || {};\n\nconst MILES_ID  = 'U0ANEJ5BRPZ';\nconst CLAUDE_ID = 'U0AHZHTQE22';\nconst REQ_CHANNELS = ['C0AJ2599DA6','C0AJ67HK0ES','C0AK2PW5BGQ','C0AKNPCNNSU','C0AJMRFP0TD','C0ARDGP8134'];\nconst CLAUDE_SIGNATURES = ['Sent using','Sent with','Sent via','Sent from','Sent by',\n  'Enviado usando','Enviado mediante','Enviado con','Enviado vía','Enviado via','Enviado por','Enviado desde'];\n\n// 🧪 TESTING — Impersonar a otro usuario en App Home.\n// Dejar en null en producción. Con un Slack ID, el App Home se renderiza\n// como si lo hubiera abierto esa persona (perfil/área/jiraId se resuelven\n// a partir de este ID). Solo afecta la rama app_home_opened.\n// const IMPERSONATE = null; // ej: 'U05UZ83853Q' (Juan Gonzalez)\nconst IMPERSONATE = 'U0A6EM3KSKF';\n\nconst text = event.text || '';\nconst ignore = (reason) => [{ json: { action: 'ignore', _reason: reason } }];\n\n// --- Eje 1: tipo de evento --------------------------------------------------\nconst eventType = event.type || '';\nconst subtype   = event.subtype || '';\nconst isEditDelete = subtype === 'message_changed' || subtype === 'message_deleted' || !!event.edited;\n\n// (9) edit/delete -> ignore\nif (isEditDelete) return ignore('edit_or_delete');\n\n// (2) app_home_opened -> app_home  (solo humano; los bots no abren Home)\nif (eventType === 'app_home_opened') {\n  if (!event.user || event.user === MILES_ID) return ignore('home_non_human');\n  return [{ json: { action: 'app_home', user_id: IMPERSONATE || event.user, publish_user_id: event.user } }];\n}\n\n// --- Eje 2: origen ----------------------------------------------------------\n// (4) el propio Miles -> ignore (anti-loop)\nif (event.user === MILES_ID || event.bot_id) {\n  // bot_id cubre (5) otro bot y (4) Miles posteando como bot\n  // pero Claude firmado puede venir con bot_id? No: Claude postea como usuario humano.\n  // Excepcion: si es Claude firmado lo evaluamos abajo, antes de descartar por bot.\n  const sigOK = CLAUDE_SIGNATURES.some(s => text.includes(s)) && text.includes(CLAUDE_ID);\n  if (!sigOK) return ignore('bot_or_miles');\n}\n\nconst isClaudeSigned = CLAUDE_SIGNATURES.some(s => text.includes(s)) && text.includes(CLAUDE_ID);\n\n// --- Eje 3: ubicacion + intencion ------------------------------------------\nconst channel     = event.channel || '';\nconst isReqChannel = REQ_CHANNELS.includes(channel);\nconst isDM        = event.channel_type === 'im';\nconst isRoot      = !event.thread_ts || event.thread_ts === event.ts;\n\n// (6) DM entrante -> ignore (Miles solo reacciona a lo que el inicia)\nif (isDM) return ignore('dm_inbound');\n\n// --- (10) DE-DUP: descartar el `message` gemelo del posteo firmado ----------\n// Un posteo firmado por Claude que menciona a Miles dispara `message` Y\n// `app_mention`. La captura se hace SOLO por `app_mention` (abajo). Cualquier\n// evento `message` firmado se descarta para no duplicar el REQ.\nif (eventType === 'message' && isClaudeSigned) {\n  return ignore('claude_signed_message_dedup');\n}\n\n// --- (3) Captura de REQ: app_mention + Claude firmado + canal REQ + raiz ----\nif (eventType === 'app_mention' && isClaudeSigned && isReqChannel && isRoot) {\n  return [{ json: {\n    action: 'capture_req',\n    thread_ts: event.ts,\n    channel_id: channel,\n    user_id: event.user,\n    message_text: text.replace(/<@[A-Z0-9]+>/g, '').trim(),\n    source: 'claude'\n  }}];\n}\n\n// (7) app_mention fuera de canal REQ -> ignore\nif (eventType === 'app_mention' && !isReqChannel) return ignore('mention_outside_req');\n\n// (11) app_mention en canal REQ sin firma (mano del usuario) -> ignore\n//      Incluye menciones en raiz y en reply: texto libre no habilitado.\nif (eventType === 'app_mention') return ignore('mention_unsigned_noop');\n\n// (8) message (humano, sin firma) -> ignore (texto libre no habilitado)\nreturn ignore('no_match');"
      },
      "id": "708254d5-2910-4c44-b444-efbe3a6a1f61",
      "name": "Classify Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        42784,
        35008
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "app_home",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "app_home"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "capture_req",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "capture_req"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignore"
            }
          ]
        },
        "options": {}
      },
      "id": "2444a9c7-4b8f-4f89-b70f-2d06941916d8",
      "name": "Switch — Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        42992,
        35008
      ]
    },
    {
      "parameters": {
        "url": "https://slack.com/api/users.info",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('Classify Event').first().json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "83872059-1437-4eec-bc3a-38fab028d5fd",
      "name": "Get Home User Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        43232,
        34656
      ],
      "credentials": {
        "slackApi": {
          "id": "BCycvSbTaX6nUIo1",
          "name": "Slack-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/views.publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.publish_user_id || $json.user_id, view: $json.view }) }}",
        "options": {}
      },
      "id": "4c27e411-e1cc-48d0-9c4b-d0dac6e40309",
      "name": "Publish App Home",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        45264,
        34656
      ],
      "credentials": {
        "slackApi": {
          "id": "BCycvSbTaX6nUIo1",
          "name": "Slack-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.arduasolutions.com/webhook/req-conversation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ thread_ts: $json.thread_ts, channel_id: $json.channel_id, user_id: $json.user_id, message_text: $json.message_text, source: $json.source }) }}",
        "options": {}
      },
      "id": "6fcdfd07-9e00-47a7-9d75-98fbb6efc348",
      "name": "Forward — Capture REQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        43232,
        35008
      ]
    },
    {
      "parameters": {},
      "id": "30a1adc4-65ea-4dd8-97e3-883749e8c457",
      "name": "Ignore",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        43232,
        35312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/376e8880-def6-805c-bd88-fc5b2c6765f0/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Slack ID', rich_text: { equals: $('Classify Event').first().json.user_id } }, page_size: 1 }) }}",
        "options": {}
      },
      "id": "ffc5beee-dec0-4fca-8ede-f23b59cfd99a",
      "name": "Query Stakeholder by Slack ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        43456,
        34656
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ============================================================================\n// miles-slack-event-router · Resolve Profile  (v3 — precedencia Role > Group)\n// ----------------------------------------------------------------------------\n// Orden de precedencia (ver miles-home-discovery.md):\n//   1. Group Head/C-Level + Area Technology -> 'it_lead' (vista global de IT)\n//   2. Group Head / C-Level (otras areas)   -> 'lider'\n//   3. Business Area = Technology -> 'tecnico' (is_tech_lead si Role = Technical Lead)\n//   4. Business Area = Product    -> 'producto'\n//   5. Group Analyst            -> 'stakeholder'\n//   6. Group Manager/Specialist -> 'stakeholder' (de su area)\n//   7. fallback                 -> 'producto'\n//\n// Flag adicional: is_tech_lead = (perfil tecnico Y Role == \"Technical Lead\").\n// Suma la seccion de Refinamiento en el builder tecnico.\n//\n// Exporta tambien: jira_id (assignee para queries), business_area_id (pageId,\n// para resolver el nombre del area), first_name.\n// ============================================================================\n\nconst stkRes = $('Query Stakeholder by Slack ID').first().json.results || [];\nconst slackUser = $('Classify Event').first().json.user_id;\nconst publishUser = $('Classify Event').first().json.publish_user_id || slackUser;\nconst info = $('Get Home User Info').first().json;\nconst sProfile = (info.user && info.user.profile) || {};\nconst firstName = sProfile.first_name || sProfile.display_name || sProfile.real_name || 'che';\n\nconst capRes = $('Query Capability — ticket.take').first().json.results || [];\nconst ticketTakeId = capRes[0] ? capRes[0].id : null;\n\nfunction emit(profile, reason, extra={}) {\n  return [{ json: {\n    profile, _reason: reason, user_id: slackUser, publish_user_id: publishUser, first_name: firstName,\n    is_tech_lead: false, jira_id: null, business_area_id: null, ...extra\n  } }];\n}\n\nif (stkRes.length === 0) return emit('producto', 'no_stakeholder_match', { group: [], capabilities: [], role: '' });\n\nconst props = stkRes[0].properties || {};\nconst group = (props['Group']?.multi_select || []).map(g => g.name);\nconst capabilities = (props['Capabilities']?.relation || []).map(r => r.id);\nconst businessAreaId = (props['Business Area']?.relation || [])[0]?.id || null;\nconst role = props['Role']?.rich_text?.[0]?.plain_text || '';\nconst jiraId = props['Jira ID']?.rich_text?.[0]?.plain_text || null;\n\nconst base = { group, capabilities, role, jira_id: jiraId, business_area_id: businessAreaId };\n\n// IDs de areas que definen perfil por dominio (estables en Notion)\nconst AREA_TECHNOLOGY = '376e8880-def6-8188-9ddc-e3e24b20ee64';\nconst AREA_PRODUCT    = '376e8880-def6-813a-a216-e704c2b59c8b';\n\n// 1) Liderazgo de IT: Head/C-Level + area Technology -> it_lead (vista global de IT)\n//    (Santiago = Head of Technology, Mati = CTO). Precede al lider generico.\nif ((group.includes('C-Level') || group.includes('Head')) && businessAreaId === AREA_TECHNOLOGY) {\n  return emit('it_lead', 'group_head_tech', base);\n}\n\n// 2) Group Head / C-Level (otras areas) -> lider\nif (group.includes('C-Level') || group.includes('Head')) return emit('lider', 'group_head', base);\n\n// 3) Area Technology -> tecnico (is_tech_lead si el Role lo indica)\nif (businessAreaId === AREA_TECHNOLOGY) {\n  const isTL = /technical lead/i.test(role);\n  return emit('tecnico', isTL ? 'tech_lead' : 'dev', { ...base, is_tech_lead: isTL });\n}\n\n// 3) Area Product -> producto\nif (businessAreaId === AREA_PRODUCT) return emit('producto', 'area_product', base);\n\n// 4) Analyst -> stakeholder\nif (group.includes('Analyst')) return emit('stakeholder', 'group_analyst', base);\n\n// 5) Manager / Specialist (no tech, no product) -> stakeholder de su area\nif (group.includes('Manager') || group.includes('Specialist')) {\n  return emit('stakeholder', 'manager_non_tech', base);\n}\n\n// fallback\nreturn emit('producto', 'fallback', base);\n"
      },
      "id": "4ffc98d8-84ee-455d-abad-bd6456a40636",
      "name": "Resolve Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        43904,
        34656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/836a99fd-c232-44b8-a2bf-17fb388f0d0c/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Code', rich_text: { equals: 'req.ticket.take' } }, page_size: 1 }) }}",
        "options": {}
      },
      "id": "f6451f1e-59b5-4a41-8db2-b953e3bac0b4",
      "name": "Query Capability — ticket.take",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        43680,
        34656
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad + datos Jira ya resueltos aguas arriba\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst myJiraId = bj.jira_id || null;\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\n\n// ---------------------------------------------------------------------------\n// Aplanador de ADF -> texto plano (para Blocked cause: parrafo o tabla).\n// ---------------------------------------------------------------------------\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\n\n// Antiguedad en el estado actual (desde statuscategorychangedate)\nfunction daysAgo(iso){\n  if (!iso) return null;\n  const then = new Date(iso); if (isNaN(then)) return null;\n  return Math.floor((Date.now() - then.getTime()) / 86400000);\n}\nfunction agoLabel(iso){\n  const d = daysAgo(iso);\n  if (d === null) return null;\n  if (d <= 0) return 'hoy';\n  if (d === 1) return 'hace 1 día';\n  return `hace ${d} días`;\n}\nfunction prioEmoji(prioName){\n  const p = (prioName || '').toLowerCase();\n  if (p === 'highest') return '🔺';\n  if (p === 'high')    return '🔴';\n  if (p === 'medium')  return '🟠';\n  if (p === 'low')     return '🟢';\n  return '⚪';\n}\nfunction clip(s, n){ s = String(s||''); return s.length > n ? s.slice(0, n-1).trimEnd() + '…' : s; }\n\n// Normaliza un issue\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key,\n    summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    rank: f.customfield_10019 || ''\n  };\n}\nconst rows = issues.map(row);\nfunction inStatus(r, arr){ return arr.includes(r.status); }\nconst isMine = (r) => myJiraId && r.assigneeId === myJiraId;\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// ---------------------------------------------------------------------------\n// Card builder (shape slack_icon, sin imagenes, 1 boton Ver en Jira).\n// useBlockedCause=true -> body = Blocked cause; si no -> body = summary completo.\n// ---------------------------------------------------------------------------\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const useBlocked = !!opts.useBlockedCause;\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText;\n  if (useBlocked) {\n    bodyText = r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_';\n  } else {\n    bodyText = r.summary || '_Sin descripción_';\n  }\n  return {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) },\n    actions: [\n      {\n        type: 'button',\n        text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n        action_id: `view_${r.key}`,\n        url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n      }\n    ]\n  };\n}\nfunction carousel(cardRows, opts){\n  return { type: 'carousel', elements: cardRows.map(r => pwiCard(r, opts)) };\n}\n\n// ---------------------------------------------------------------------------\n// Reparto de secciones\n// ---------------------------------------------------------------------------\n// Personales (filtran por mi assignee)\nconst enCurso       = rows.filter(r => isMine(r) && inStatus(r, ['IN ANALYSIS','IN PROGRESS']));\nconst porEnriquecer = rows.filter(r => isMine(r) && r.status === 'To Do');\nconst disponibles   = rows.filter(r => !r.assigneeId && r.status === 'To Do');\nconst bloqueados    = rows.filter(r => isMine(r) && r.status === 'BLOCKED');\n// Global (todos los activos traidos por la query)\nconst globales = rows\n  .filter(r => r.issueType === 'Requirement')\n  .sort((a, b) => {\n    // LexoRank: el orden lexicografico del string es el orden de ranking.\n    // Los sin rank van al final.\n    if (!a.rank && !b.rank) return 0;\n    if (!a.rank) return 1;\n    if (!b.rank) return -1;\n    return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n  });\n\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\nVista de Product Manager · Todas las  Áreas` } },\n  { type:'actions', elements:[\n    { type:'button', style:'primary', text:{type:'plain_text',text:'+ Nuevo requerimiento',emoji:true}, action_id:'new_requirement', value:'new_req' },\n    { type:'button', text:{type:'plain_text',text:'Pedir informe',emoji:true}, action_id:'request_report', value:'report' }\n  ]},\n  { type:'divider' },\n  ...sectionCarousel('En curso', enCurso, {}, '_Nada en curso ahora._'),\n  { type:'divider' },\n  ...sectionCarousel('Por enriquecer', porEnriquecer, {}, '_Nada por enriquecer._'),\n  { type:'divider' },\n  ...sectionCarousel('Disponibles', disponibles, {}, '_Sin requerimientos disponibles._'),\n  { type:'divider' },\n  ...sectionCarousel('Bloqueados', bloqueados, { useBlockedCause:true }, '_Sin bloqueos._'),\n  { type:'header', text:{ type:'plain_text', text:`Prioridades globales (${globales.length})`, emoji:true } },\n  globales.length\n    ? table('Prioridades globales', ['Key','Requerimiento','Estado','Prioridad','Área'],\n        globales.map(r=>[r.key, r.summary, r.status, r.priority||'—', r.area||'—']))\n    : emptyNote('_Sin PWIs activos._'),\n  { type:'context', elements:[{ type:'mrkdwn', text:`Miles · ${rows.length} PWIs activos · datos en vivo` }] }\n];\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "7065733e-41d1-467c-be24-f44abe9c8937",
      "name": "Build Home — Producto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        45024,
        34416
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst areaName = bj.area_name || 'tu área';\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\n\n// --- Aplanador ADF -> texto (Blocked cause: parrafo o tabla) ---\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\nfunction daysAgo(iso){ if(!iso) return null; const d=new Date(iso); if(isNaN(d)) return null; return Math.floor((Date.now()-d.getTime())/86400000); }\nfunction agoLabel(iso){ const d=daysAgo(iso); if(d===null) return null; if(d<=0) return 'hoy'; if(d===1) return 'hace 1 día'; return `hace ${d} días`; }\nfunction prioEmoji(p){ p=(p||'').toLowerCase(); if(p==='highest')return'🔺'; if(p==='high')return'🔴'; if(p==='medium')return'🟠'; if(p==='low')return'🟢'; return'⚪'; }\nfunction clip(s,n){ s=String(s||''); return s.length>n ? s.slice(0,n-1).trimEnd()+'…' : s; }\n\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key, summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    rank: f.customfield_10019 || ''\n  };\n}\nconst rows = issues.map(row);\nfunction inStatus(r, arr){ return arr.includes(r.status); }\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// Card (slack_icon rocket). opts.useBlockedCause -> body=causa; opts.withButton -> boton Ver en Jira\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText = opts.useBlockedCause\n    ? (r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_')\n    : (r.summary || '_Sin descripción_');\n  const card = {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) }\n  };\n  if (opts.withButton) {\n    card.actions = [{\n      type: 'button',\n      text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n      action_id: `view_${r.key}`,\n      url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n    }];\n  }\n  return card;\n}\nfunction carousel(cardRows, opts){ return { type:'carousel', elements: cardRows.map(r => pwiCard(r, opts)) }; }\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\n// Stakeholder: una seccion \"Requerimientos activos\" (todos los del area que trajo la query)\n// --- Reparto por estado (filtrado al area del stakeholder) ---\nconst delArea = rows.filter(r => r.area === areaName);\nconst secFuncional = delArea.filter(r => inStatus(r, ['To Do','IN ANALYSIS']));\nconst secBloqueados = delArea.filter(r => r.status === 'BLOCKED');\nconst secTecnica   = delArea.filter(r => r.status === 'SENT TO DEV');\nconst secDesarrollo= delArea.filter(r => inStatus(r, ['READY FOR DEV','IN DEVELOPMENT','IN PROGRESS']));\n\n// --- Cola global (todas las areas), solo Requirements, ordenada por LexoRank ---\nconst globales = rows\n  .filter(r => r.issueType === 'Requirement')\n  .sort((a, b) => {\n    if (!a.rank && !b.rank) return 0;\n    if (!a.rank) return 1;\n    if (!b.rank) return -1;\n    return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n  });\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\nVista de Stakeholder · ${areaName}` } },\n  { type:'actions', elements:[\n    { type:'button', style:'primary', text:{type:'plain_text',text:'+ Nuevo requerimiento',emoji:true}, action_id:'new_requirement', value:'new_req' },\n    { type:'button', text:{type:'plain_text',text:'Pedir informe',emoji:true}, action_id:'request_report', value:'report' }\n  ]},\n  { type:'divider' },\n  ...sectionCarousel('En análisis y validación funcional', secFuncional, { withButton:false }, '_Nada en análisis funcional._'),\n  { type:'divider' },\n  ...sectionCarousel('Bloqueados', secBloqueados, { withButton:false, useBlockedCause:true }, '_Sin bloqueos._'),\n  { type:'divider' },\n  ...sectionCarousel('En análisis y validación técnica', secTecnica, { withButton:false }, '_Nada en validación técnica._'),\n  { type:'divider' },\n  ...sectionCarousel('En desarrollo', secDesarrollo, { withButton:false }, '_Nada en desarrollo._'),\n  { type:'header', text:{ type:'plain_text', text:`Prioridades globales (${globales.length})`, emoji:true } },\n  globales.length\n    ? table('Prioridades globales', ['Key','Requerimiento','Estado','Prioridad','Área'],\n        globales.map(r=>[r.key, r.summary, r.status, r.priority||'—', r.area||'—']))\n    : emptyNote('_Sin PWIs activos._'),\n  { type:'context', elements:[{ type:'mrkdwn', text:`Miles · ${delArea.length} de ${areaName} · ${globales.length} en cola global` }] }\n];\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "2c383e44-c837-4222-b3ad-412934bc5e35",
      "name": "Build Home — Stakeholder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        45024,
        34576
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst areaName = bj.area_name || 'tu área';\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\n\n// --- Aplanador ADF -> texto (Blocked cause: parrafo o tabla) ---\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\nfunction daysAgo(iso){ if(!iso) return null; const d=new Date(iso); if(isNaN(d)) return null; return Math.floor((Date.now()-d.getTime())/86400000); }\nfunction agoLabel(iso){ const d=daysAgo(iso); if(d===null) return null; if(d<=0) return 'hoy'; if(d===1) return 'hace 1 día'; return `hace ${d} días`; }\nfunction prioEmoji(p){ p=(p||'').toLowerCase(); if(p==='highest')return'🔺'; if(p==='high')return'🔴'; if(p==='medium')return'🟠'; if(p==='low')return'🟢'; return'⚪'; }\nfunction clip(s,n){ s=String(s||''); return s.length>n ? s.slice(0,n-1).trimEnd()+'…' : s; }\n\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key, summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    rank: f.customfield_10019 || ''\n  };\n}\nconst rows = issues.map(row);\nfunction inStatus(r, arr){ return arr.includes(r.status); }\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// Card (slack_icon rocket). opts.useBlockedCause -> body=causa; opts.withButton -> boton Ver en Jira\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText = opts.useBlockedCause\n    ? (r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_')\n    : (r.summary || '_Sin descripción_');\n  const card = {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) }\n  };\n  if (opts.withButton) {\n    card.actions = [{\n      type: 'button',\n      text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n      action_id: `view_${r.key}`,\n      url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n    }];\n  }\n  return card;\n}\nfunction carousel(cardRows, opts){ return { type:'carousel', elements: cardRows.map(r => pwiCard(r, opts)) }; }\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\n// --- Reparto por estado (filtrado al area del lider) ---\nconst delArea = rows.filter(r => r.area === areaName);\nconst secFuncional = delArea.filter(r => inStatus(r, ['To Do','IN ANALYSIS']));\nconst secBloqueados = delArea.filter(r => r.status === 'BLOCKED');\nconst secTecnica   = delArea.filter(r => r.status === 'SENT TO DEV');\nconst secDesarrollo= delArea.filter(r => inStatus(r, ['READY FOR DEV','IN DEVELOPMENT','IN PROGRESS']));\n\n// --- Cola global (todas las areas), solo Requirements, ordenada por LexoRank ---\nconst globales = rows\n  .filter(r => r.issueType === 'Requirement')\n  .sort((a, b) => {\n    if (!a.rank && !b.rank) return 0;\n    if (!a.rank) return 1;\n    if (!b.rank) return -1;\n    return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n  });\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\nVista de Liderazgo · ${areaName}` } },\n  { type:'actions', elements:[\n    { type:'button', style:'primary', text:{type:'plain_text',text:'+ Nuevo requerimiento',emoji:true}, action_id:'new_requirement', value:'new_req' },\n    { type:'button', text:{type:'plain_text',text:'Pedir informe',emoji:true}, action_id:'request_report', value:'report' }\n  ]},\n  { type:'divider' },\n  { type:'header', text:{ type:'plain_text', text:'En espera de tu aprobación', emoji:true } },\n  { type:'section', text:{ type:'mrkdwn', text:':hourglass_flowing_sand: _Próximamente_ — aún no existe un estado de \"espera de aprobación\" en el workflow de PWI.' } },\n  { type:'divider' },\n  ...sectionCarousel('En análisis y validación funcional', secFuncional, { withButton:false }, '_Nada en análisis funcional._'),\n  { type:'divider' },\n  ...sectionCarousel('Bloqueados', secBloqueados, { withButton:false, useBlockedCause:true }, '_Sin bloqueos._'),\n  { type:'divider' },\n  ...sectionCarousel('En análisis y validación técnica', secTecnica, { withButton:false }, '_Nada en validación técnica._'),\n  { type:'divider' },\n  ...sectionCarousel('En desarrollo', secDesarrollo, { withButton:false }, '_Nada en desarrollo._'),\n  { type:'divider' },\n  { type:'header', text:{ type:'plain_text', text:`Prioridades globales (${globales.length})`, emoji:true } },\n  globales.length\n    ? table('Prioridades globales', ['Key','Requerimiento','Estado','Prioridad','Área'],\n        globales.map(r=>[r.key, r.summary, r.status, r.priority||'—', r.area||'—']))\n    : emptyNote('_Sin PWIs activos._'),\n  { type:'context', elements:[{ type:'mrkdwn', text:`Miles · ${delArea.length} de ${areaName} · ${globales.length} en cola global` }] }\n];\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "b68cd703-832a-4a4a-9e6f-c4e87cc4e37e",
      "name": "Build Home — Lider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        45024,
        34736
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst areaName = bj.area_name || 'tu área';\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\n\n// --- Aplanador ADF -> texto (Blocked cause: parrafo o tabla) ---\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\nfunction daysAgo(iso){ if(!iso) return null; const d=new Date(iso); if(isNaN(d)) return null; return Math.floor((Date.now()-d.getTime())/86400000); }\nfunction agoLabel(iso){ const d=daysAgo(iso); if(d===null) return null; if(d<=0) return 'hoy'; if(d===1) return 'hace 1 día'; return `hace ${d} días`; }\nfunction prioEmoji(p){ p=(p||'').toLowerCase(); if(p==='highest')return'🔺'; if(p==='high')return'🔴'; if(p==='medium')return'🟠'; if(p==='low')return'🟢'; return'⚪'; }\nfunction clip(s,n){ s=String(s||''); return s.length>n ? s.slice(0,n-1).trimEnd()+'…' : s; }\n\n// Extrae la PWI que CAUSA este EWI (link \"is caused by\" -> inwardIssue del proyecto PWI).\n// Replica en JS el filtro que las automatizaciones hacen con el Branch \"is caused by\".\nfunction causedByPwiKey(links){\n  if (!Array.isArray(links)) return null;\n  for (const l of links) {\n    const t = l.type || {};\n    // El EWI \"is caused by\" la PWI: la PWI aparece como inwardIssue cuando inward = \"is caused by\".\n    if (t.inward === 'is caused by' && l.inwardIssue) {\n      const k = l.inwardIssue.key || '';\n      if (k.startsWith('PWI-')) return k;\n    }\n    // Robustez: tambien contemplar el caso espejo (outward causes apuntando a PWI)\n    if (t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      if (k.startsWith('PWI-')) return k;\n    }\n  }\n  return null;\n}\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key, summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    rank: f.customfield_10019 || '',\n    causedByPwi: causedByPwiKey(f.issuelinks)\n  };\n}\nconst rows = issues.map(row);\nfunction inStatus(r, arr){ return arr.includes(r.status); }\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// Card (slack_icon rocket). opts.useBlockedCause -> body=causa; opts.withButton -> boton Ver en Jira\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText = opts.useBlockedCause\n    ? (r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_')\n    : (r.summary || '_Sin descripción_');\n  const card = {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) }\n  };\n  if (opts.withButton) {\n    card.actions = [{\n      type: 'button',\n      text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n      action_id: `view_${r.key}`,\n      url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n    }];\n  }\n  return card;\n}\nfunction carousel(cardRows, opts){ return { type:'carousel', elements: cardRows.map(r => pwiCard(r, opts)) }; }\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\n\n// Identidad + flag TL\nconst isTL = bj.is_tech_lead;\n\n// Desarrollo\nconst devEnCurso     = rows.filter(r => inStatus(r, ['IN PROGRESS','CODE REVIEW']) && r.assignee);\nconst devDisponibles = rows.filter(r => r.status === 'READY FOR DEV' && !r.assignee);\nconst devBloqueados  = rows.filter(r => r.status === 'BLOCKED' && (isTL || r.assignee));\n// Refinamiento (solo TL)\nconst refDisponibles = rows.filter(r => r.status === 'TO REFINEMENT' && !r.assignee);\nconst refParaHacer   = rows.filter(r => r.status === 'TO REFINEMENT' && r.assignee);\nconst refEnCurso     = rows.filter(r => r.status === 'IN REFINEMENT');\n\n// --- Cola global (TL): EWIs en refinamiento/dev que son caused-by una PWI,\n// ordenados por LexoRank. Filtra los candidatos que trajo la query. ---\nconst tlGlobalStates = ['TO REFINEMENT','IN REFINEMENT','READY FOR DEV','BLOCKED'];\nconst globales = rows\n  .filter(r => r.causedByPwi && inStatus(r, tlGlobalStates))\n  // dedup por key (la query puede traer el mismo EWI por varias clausulas)\n  .filter((r, i, arr) => arr.findIndex(x => x.key === r.key) === i)\n  .sort((a, b) => {\n    if (!a.rank && !b.rank) return 0;\n    if (!a.rank) return 1;\n    if (!b.rank) return -1;\n    return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n  });\n\nconst OPT  = { withButton:true };                       // body=summary, con boton\nconst OPTB = { withButton:true, useBlockedCause:true }; // body=causa, con boton\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\n${isTL ? 'Vista de Liderazgo · Tecnología' : 'Vista de Desarrollador · Tecnología'}` } },\n  { type:'actions', elements:[\n    { type:'button', style:'danger', text:{type:'plain_text',text:'Informar bloqueante',emoji:true}, action_id:'report_blocker', value:'blocker' }\n  ]},\n];\n\nif (isTL) {\n  blocks.push({ type:'divider' });\n  blocks.push({ type:'header', text:{ type:'plain_text', text:'▸ REFINAMIENTO', emoji:true } });\n  blocks.push(...sectionCarousel('Disponibles', refDisponibles, OPT, '_Nada disponible para refinar._'));\n  blocks.push(...sectionCarousel('Para hacer', refParaHacer, OPT, '_Nada asignado para refinar._'));\n  blocks.push(...sectionCarousel('En curso', refEnCurso, OPT, '_Nada refinando ahora._'));\n}\n\nblocks.push({ type:'divider' });\nblocks.push({ type:'header', text:{ type:'plain_text', text:isTL ? '▸ DESARROLLO' : 'Desarrollo', emoji:true } });\nblocks.push(...sectionCarousel('En curso', devEnCurso, OPT, '_Nada en curso._'));\nblocks.push(...sectionCarousel('Disponibles', devDisponibles, OPT, '_Sin tickets disponibles._'));\nblocks.push(...sectionCarousel('Bloqueados', devBloqueados, OPTB, '_Sin bloqueos._'));\n\n// --- Prioridades Globales (solo TL): cola priorizada de EWIs ligados a PWIs ---\nif (isTL) {\n  blocks.push({ type:'divider' });\n  blocks.push({ type:'header', text:{ type:'plain_text', text:`Prioridades globales (${globales.length})`, emoji:true } });\n  blocks.push(\n    globales.length\n      ? table('Prioridades globales', ['EWI','PWI','Requerimiento','Estado','Prioridad'],\n          globales.map(r=>[r.key, r.causedByPwi, r.summary, r.status, r.priority||'—']))\n      : emptyNote('_Sin EWIs ligados a PWIs en cola._')\n  );\n}\n\nblocks.push({ type:'context', elements:[{ type:'mrkdwn', text:`Miles · ${rows.length} EWIs · datos en vivo` }] });\n\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "f98af41d-17cc-4b2e-bf6a-04db0de5a353",
      "name": "Build Home — Tecnico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        45024,
        34896
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "producto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "producto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "stakeholder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stakeholder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "lider",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lider"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "tecnico",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tecnico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "it_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "it_lead"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "id": "e1b12945-b428-4f02-84e3-e1d7ea31603c",
      "name": "Switch — Profile",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        44800,
        34656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/43a8018b-e397-44b6-87f6-59c6dadaba00/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ page_size: 100 }) }}",
        "options": {}
      },
      "id": "936a3012-e5af-4012-9a97-ec60c2fd45e7",
      "name": "Resolve Area Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        44128,
        34656
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ============================================================================\n// miles-slack-event-router · Build JQL\n// ----------------------------------------------------------------------------\n// Arma el JQL segun el perfil. Una query amplia por perfil; el reparto en\n// secciones se hace despues en el builder.\n// Estados verificados 2026-06-06 (PWI y EWI).\n// ============================================================================\n\nconst rp = $('Resolve Profile').first().json;\nconst profile = rp.profile;\nconst jiraId = rp.jira_id;\nconst areaId = rp.business_area_id;\nconst isTL = rp.is_tech_lead;\n\n// Resolver nombre de area desde Resolve Area Name (pageId -> Name)\nlet areaName = null;\nif (areaId) {\n  const areas = $('Resolve Area Name').first().json.results || [];\n  const match = areas.find(a => a.id === areaId);\n  areaName = match ? (match.properties?.Name?.title?.[0]?.plain_text || null) : null;\n}\n\nfunction esc(s){ return String(s).replace(/\"/g, '\\\\\"'); }\n\nlet jql = '';\nif (profile === 'stakeholder' || profile === 'lider') {\n  // Query amplia: TODOS los PWIs activos. El builder reparte:\n  //  - las 4 secciones por estado se filtran al area (en JS)\n  //  - la tabla de Prioridades globales usa todos (cola global)\n  jql = `project = PWI AND status NOT IN (Done, DEPRECATED) ORDER BY status ASC`;\n} else if (profile === 'producto') {\n  // PWIs: query amplia (todos los activos). El reparto personal (mis secciones)\n  // vs global (Prioridades Globales) se hace en el builder por assignee.\n  jql = `project = PWI AND status NOT IN (\"IN DEVELOPMENT\", Done, DEPRECATED) ORDER BY status ASC`;\n} else if (profile === 'it_lead') {\n  // Liderazgo de IT (CTO / Head of Technology): vista global de TODO el EWI activo.\n  // Sin parte \"asignada a mi\": trae todos los estados operativos, sin filtrar por assignee.\n  // El builder agrupa por estado y arma la tabla de Prioridades globales (caused-by PWI).\n  jql = `project = EWI AND status NOT IN (Done, DEPRECATED) ORDER BY status ASC`;\n} else if (profile === 'tecnico') {\n  // EWIs. Dev comun: lo mio (in progress/code review/blocked propios) + disponibles (ready for dev sin asignar).\n  // TL: ademas refinamiento (to/in refinement) + TODOS los BLOCKED del EWI (de cualquier persona).\n  const mine = jiraId ? `assignee = \"${esc(jiraId)}\"` : 'assignee IS EMPTY';\n  const devStates = '\"IN PROGRESS\",\"CODE REVIEW\",BLOCKED';\n  const refStates = isTL ? ',\"TO REFINEMENT\",\"IN REFINEMENT\"' : '';\n  // Clausula extra para el TL: cola global -> todos los EWIs en estos estados\n  // (sin importar assignee). El builder filtra luego los que son caused-by una PWI.\n  const tlGlobal = isTL ? ' OR status IN (\"TO REFINEMENT\",\"IN REFINEMENT\",\"READY FOR DEV\",BLOCKED)' : '';\n  jql = `project = EWI AND ( (${mine} AND status IN (${devStates}${refStates})) OR (assignee IS EMPTY AND status IN (\"READY FOR DEV\"${isTL ? ',\"TO REFINEMENT\"' : ''}))${tlGlobal} ) ORDER BY status ASC`;\n} else {\n  jql = `project = PWI AND assignee IS EMPTY AND status = \"To Do\"`;\n}\n\nreturn [{ json: { jql, profile, jira_id: jiraId, area_name: areaName, is_tech_lead: isTL,\n                  user_id: rp.user_id, publish_user_id: rp.publish_user_id, first_name: rp.first_name } }];\n"
      },
      "id": "09ab45f5-e1d2-4916-bbc1-7f71c076d79d",
      "name": "Build JQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        44352,
        34656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.arduasolutions.com/webhook/jira-work-items",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ operation: 'search', jql: $json.jql, maxResults: 100, fields: 'summary,status,assignee,customfield_10310,priority,customfield_10306,statuscategorychangedate,issuetype,customfield_10019,issuelinks' }) }}",
        "options": {}
      },
      "id": "9b4c3996-c109-4bce-93bd-0ed32564f977",
      "name": "Query Jira (via handler)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        44576,
        34656
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst areaName = bj.area_name || 'tu área';\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\n\n// --- Aplanador ADF -> texto (Blocked cause: parrafo o tabla) ---\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\nfunction daysAgo(iso){ if(!iso) return null; const d=new Date(iso); if(isNaN(d)) return null; return Math.floor((Date.now()-d.getTime())/86400000); }\nfunction agoLabel(iso){ const d=daysAgo(iso); if(d===null) return null; if(d<=0) return 'hoy'; if(d===1) return 'hace 1 día'; return `hace ${d} días`; }\nfunction prioEmoji(p){ p=(p||'').toLowerCase(); if(p==='highest')return'🔺'; if(p==='high')return'🔴'; if(p==='medium')return'🟠'; if(p==='low')return'🟢'; return'⚪'; }\nfunction clip(s,n){ s=String(s||''); return s.length>n ? s.slice(0,n-1).trimEnd()+'…' : s; }\n\n// Extrae la PWI que CAUSA este EWI (link \"is caused by\" -> inwardIssue del proyecto PWI).\n// Replica en JS el filtro que las automatizaciones hacen con el Branch \"is caused by\".\nfunction causedByPwiKey(links){\n  if (!Array.isArray(links)) return null;\n  for (const l of links) {\n    const t = l.type || {};\n    // El EWI \"is caused by\" la PWI: la PWI aparece como inwardIssue cuando inward = \"is caused by\".\n    if (t.inward === 'is caused by' && l.inwardIssue) {\n      const k = l.inwardIssue.key || '';\n      if (k.startsWith('PWI-')) return k;\n    }\n    // Robustez: tambien contemplar el caso espejo (outward causes apuntando a PWI)\n    if (t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      if (k.startsWith('PWI-')) return k;\n    }\n  }\n  return null;\n}\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key, summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    rank: f.customfield_10019 || '',\n    causedByPwi: causedByPwiKey(f.issuelinks)\n  };\n}\nconst rows = issues.map(row);\nfunction inStatus(r, arr){ return arr.includes(r.status); }\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// Card (slack_icon rocket). opts.useBlockedCause -> body=causa; opts.withButton -> boton Ver en Jira\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText = opts.useBlockedCause\n    ? (r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_')\n    : (r.summary || '_Sin descripción_');\n  const card = {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) }\n  };\n  if (opts.withButton) {\n    card.actions = [{\n      type: 'button',\n      text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n      action_id: `view_${r.key}`,\n      url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n    }];\n  }\n  return card;\n}\nfunction carousel(cardRows, opts){ return { type:'carousel', elements: cardRows.map(r => pwiCard(r, opts)) }; }\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\n\n// Vista global de IT (CTO / Head of Technology). Sin parte \"asignada a mi\":\n// agrupa TODO el EWI activo por estado.\n\n// Refinamiento (global)\nconst refDisponibles = rows.filter(r => r.status === 'TO REFINEMENT' && !r.assignee);\nconst refParaHacer   = rows.filter(r => r.status === 'TO REFINEMENT' && r.assignee);\nconst refEnCurso     = rows.filter(r => r.status === 'IN REFINEMENT');\n// Desarrollo (global)\nconst devDisponibles = rows.filter(r => r.status === 'READY FOR DEV' && !r.assignee);\nconst devEnCurso     = rows.filter(r => inStatus(r, ['IN PROGRESS','CODE REVIEW']));\nconst devBloqueados  = rows.filter(r => r.status === 'BLOCKED');\n\n// Cola global: EWIs caused-by una PWI, ordenados por LexoRank\nconst tlGlobalStates = ['TO REFINEMENT','IN REFINEMENT','READY FOR DEV','BLOCKED'];\nconst globales = rows\n  .filter(r => r.causedByPwi && inStatus(r, tlGlobalStates))\n  .filter((r, i, arr) => arr.findIndex(x => x.key === r.key) === i)\n  .sort((a, b) => {\n    if (!a.rank && !b.rank) return 0;\n    if (!a.rank) return 1;\n    if (!b.rank) return -1;\n    return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n  });\n\nconst OPT  = { withButton:true };\nconst OPTB = { withButton:true, useBlockedCause:true };\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\nVista Global de IT \\u00b7 Tecnolog\\u00eda` } },\n  { type:'actions', elements:[\n    { type:'button', style:'danger', text:{type:'plain_text',text:'Informar bloqueante',emoji:true}, action_id:'report_blocker', value:'blocker' }\n  ]},\n];\n\nblocks.push({ type:'divider' });\nblocks.push({ type:'header', text:{ type:'plain_text', text:'\\u25b8 REFINAMIENTO', emoji:true } });\nblocks.push(...sectionCarousel('Disponibles', refDisponibles, OPT, '_Nada disponible para refinar._'));\nblocks.push(...sectionCarousel('Para hacer', refParaHacer, OPT, '_Nada asignado para refinar._'));\nblocks.push(...sectionCarousel('En curso', refEnCurso, OPT, '_Nada refinando ahora._'));\n\nblocks.push({ type:'divider' });\nblocks.push({ type:'header', text:{ type:'plain_text', text:'\\u25b8 DESARROLLO', emoji:true } });\nblocks.push(...sectionCarousel('Disponibles', devDisponibles, OPT, '_Sin tickets disponibles._'));\nblocks.push(...sectionCarousel('En curso', devEnCurso, OPT, '_Nada en curso._'));\nblocks.push(...sectionCarousel('Bloqueados', devBloqueados, OPTB, '_Sin bloqueos._'));\n\nblocks.push({ type:'divider' });\nblocks.push({ type:'header', text:{ type:'plain_text', text:`Prioridades globales (${globales.length})`, emoji:true } });\nblocks.push(\n  globales.length\n    ? table('Prioridades globales', ['EWI','PWI','Requerimiento','Estado','Prioridad'],\n        globales.map(r=>[r.key, r.causedByPwi, r.summary, r.status, r.priority||'\\u2014']))\n    : emptyNote('_Sin EWIs ligados a PWIs en cola._')\n);\n\nblocks.push({ type:'context', elements:[{ type:'mrkdwn', text:`Miles \\u00b7 ${rows.length} EWIs \\u00b7 datos en vivo` }] });\n\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "b1771ead-1100-4d00-9000-1700itlead001",
      "name": "Build Home — IT Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        44208,
        36128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger — Slack Events": {
      "main": [
        [
          {
            "node": "Is URL Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URL Verification?": {
      "main": [
        [
          {
            "node": "Respond — URL Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond — Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond — Ack": {
      "main": [
        [
          {
            "node": "Classify Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Event": {
      "main": [
        [
          {
            "node": "Switch — Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Action": {
      "main": [
        [
          {
            "node": "Get Home User Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward — Capture REQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Home User Info": {
      "main": [
        [
          {
            "node": "Query Stakeholder by Slack ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Stakeholder by Slack ID": {
      "main": [
        [
          {
            "node": "Query Capability — ticket.take",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Profile": {
      "main": [
        [
          {
            "node": "Resolve Area Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Capability — ticket.take": {
      "main": [
        [
          {
            "node": "Resolve Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Profile": {
      "main": [
        [
          {
            "node": "Build Home — Producto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Home — Stakeholder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Home — Lider",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Home — Tecnico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Home — IT Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — Producto": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — Stakeholder": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — Lider": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — Tecnico": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Area Name": {
      "main": [
        [
          {
            "node": "Build JQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JQL": {
      "main": [
        [
          {
            "node": "Query Jira (via handler)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Jira (via handler)": {
      "main": [
        [
          {
            "node": "Switch — Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — IT Lead": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "6cbb4bb5-b31a-4e7e-a1b5-83660e949157",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95944be45d5aa5e5565d656a14e718ed8b92e30102ad1bd3fcad4cf1b1c2f383"
  },
  "id": "oAFCmrntS6da6cCA",
  "tags": [
    {
      "updatedAt": "2026-03-25T20:09:56.359Z",
      "createdAt": "2026-03-25T20:09:56.359Z",
      "id": "m3quhhGHST3hiHGb",
      "name": "miles"
    }
  ]
}