workflows/miles-slack-event-router.json
{
  "name": "miles-slack-event-router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2ff0db5c-e1dc-45c2-bcb5-4a0e8321e915",
      "name": "Trigger — Slack Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        17792,
        54272
      ],
      "webhookId": "miles-slack-events"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c-ch",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed1ed155-5e6a-451e-b717-48dda8b6c01a",
      "name": "Is URL Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        18016,
        54272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.body.challenge }) }}",
        "options": {}
      },
      "id": "3fefc68a-0e5a-49a4-bd92-1be939de522b",
      "name": "Respond — URL Verification",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        18240,
        54144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {}
      },
      "id": "2912e362-18bc-401b-b20d-aaa976e475c9",
      "name": "Respond — Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        18240,
        54384
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-slack-event-router · Classify Event\n// ----------------------------------------------------------------------------\n// Resuelve los 3 ejes de clasificacion y devuelve una unica `action`.\n//   Eje 1 (que):    tipo de evento Slack\n//   Eje 2 (quien):  origen del evento (Claude firmado / Miles / bot / humano)\n//   Eje 3 (donde):  canal REQ vs otro · raiz vs reply · con/sin mencion\n//\n// Acciones posibles:\n//   'challenge'        -> (lo maneja un IF previo, no llega aca)\n//   'app_home'         -> publicar App Home\n//   'capture_req'      -> forward al conversation-handler (captura REQ de Claude)\n//   'ignore'           -> noOp\n//\n// Catalogo (ver miles-discovery.md):\n//   1  url_verification                                          -> challenge (IF previo)\n//   2  app_home_opened + humano                                  -> app_home\n//   3  app_mention + Claude firmado + canal REQ + raiz           -> capture_req\n//   4  cualquiera + Miles                                        -> ignore (anti-loop)\n//   5  cualquiera + otro bot                                     -> ignore\n//   6  message + humano + DM (im)                                -> ignore\n//   7  app_mention + humano + fuera de canal REQ                 -> ignore\n//   8  message + humano + reply sin mencion                      -> ignore\n//   9  edit/delete                                               -> ignore\n//   10 message + Claude firmado + canal REQ + raiz               -> ignore (gemelo del app_mention)\n//   11 cualquier mencion/texto libre del usuario (no firmado)    -> ignore\n//\n// NOTA DE-DUP (REQ duplicados):\n//   Un posteo firmado por Claude que menciona a Miles en un canal REQ dispara\n//   DOS eventos Slack: `message` y `app_mention`, ambos con la firma. Para\n//   capturar el REQ una sola vez, el evento CANONICO de captura es `app_mention`\n//   (senal explicita de intencion hacia Miles). El `message` gemelo se descarta.\n//\n// NOTA INTERACCION POR TEXTO LIBRE (eliminado el follow-up):\n//   La UNICA interaccion habilitada usuario->Miles via texto es la firmada por\n//   Claude (captura de REQ). Mencionar a Miles a mano o escribir texto libre en\n//   un hilo NO dispara nada en este router. Las interacciones ricas del usuario\n//   (botones, inputs, modales) NO entran por la Events API: Slack las envia como\n//   interactivity payloads a /webhook/slack-actions (router aparte). Por eso aca\n//   no existe rama de follow-up: seria estructuralmente imposible que reciba esas\n//   interacciones, y solo atraparia texto libre, que esta deshabilitado.\n// ============================================================================\n\nconst body  = $json.body || {};\nconst event = body.event || {};\n\nconst MILES_ID  = 'U0ANEJ5BRPZ';\nconst CLAUDE_ID = 'U0AHZHTQE22';\nconst REQ_CHANNELS = ['C0AJ2599DA6','C0AJ67HK0ES','C0AK2PW5BGQ','C0AKNPCNNSU','C0AJMRFP0TD','C0ARDGP8134'];\nconst CLAUDE_SIGNATURES = ['Sent using','Sent with','Sent via','Sent from','Sent by',\n  'Enviado usando','Enviado mediante','Enviado con','Enviado vía','Enviado via','Enviado por','Enviado desde'];\n\n// 🧪 TESTING — Impersonar a otro usuario en App Home.\n// Dejar en null en producción. Con un Slack ID, el App Home se renderiza\n// como si lo hubiera abierto esa persona (perfil/área/jiraId se resuelven\n// a partir de este ID). Solo afecta la rama app_home_opened.\nconst IMPERSONATE = null; // ej: 'U05UZ83853Q' (Juan Gonzalez)\n// const IMPERSONATE = 'U0B1MM6MF0U';\n\nconst text = event.text || '';\nconst ignore = (reason) => [{ json: { action: 'ignore', _reason: reason } }];\n\n// --- Eje 1: tipo de evento --------------------------------------------------\nconst eventType = event.type || '';\nconst subtype   = event.subtype || '';\nconst isEditDelete = subtype === 'message_changed' || subtype === 'message_deleted' || !!event.edited;\n\n// (9) edit/delete -> ignore\nif (isEditDelete) return ignore('edit_or_delete');\n\n// (2) app_home_opened -> app_home  (solo humano; los bots no abren Home)\nif (eventType === 'app_home_opened') {\n  if (!event.user || event.user === MILES_ID) return ignore('home_non_human');\n  return [{ json: { action: 'app_home', user_id: IMPERSONATE || event.user, publish_user_id: event.user } }];\n}\n\n// --- Eje 2: origen ----------------------------------------------------------\n// (4) el propio Miles -> ignore (anti-loop)\nif (event.user === MILES_ID || event.bot_id) {\n  // bot_id cubre (5) otro bot y (4) Miles posteando como bot\n  // pero Claude firmado puede venir con bot_id? No: Claude postea como usuario humano.\n  // Excepcion: si es Claude firmado lo evaluamos abajo, antes de descartar por bot.\n  const sigOK = CLAUDE_SIGNATURES.some(s => text.includes(s)) && text.includes(CLAUDE_ID);\n  if (!sigOK) return ignore('bot_or_miles');\n}\n\nconst isClaudeSigned = CLAUDE_SIGNATURES.some(s => text.includes(s)) && text.includes(CLAUDE_ID);\n\n// --- Eje 3: ubicacion + intencion ------------------------------------------\nconst channel     = event.channel || '';\nconst isReqChannel = REQ_CHANNELS.includes(channel);\nconst isDM        = event.channel_type === 'im';\nconst isRoot      = !event.thread_ts || event.thread_ts === event.ts;\n\n// (6) DM entrante -> ignore (Miles solo reacciona a lo que el inicia)\nif (isDM) return ignore('dm_inbound');\n\n// --- (10) DE-DUP: descartar el `message` gemelo del posteo firmado ----------\n// Un posteo firmado por Claude que menciona a Miles dispara `message` Y\n// `app_mention`. La captura se hace SOLO por `app_mention` (abajo). Cualquier\n// evento `message` firmado se descarta para no duplicar el REQ.\nif (eventType === 'message' && isClaudeSigned) {\n  return ignore('claude_signed_message_dedup');\n}\n\n// --- (3) Captura de REQ: app_mention + Claude firmado + canal REQ + raiz ----\nif (eventType === 'app_mention' && isClaudeSigned && isReqChannel && isRoot) {\n  return [{ json: {\n    action: 'capture_req',\n    thread_ts: event.ts,\n    channel_id: channel,\n    user_id: event.user,\n    message_text: text.replace(/<@[A-Z0-9]+>/g, '').trim(),\n    source: 'claude'\n  }}];\n}\n\n// (7) app_mention fuera de canal REQ -> ignore\nif (eventType === 'app_mention' && !isReqChannel) return ignore('mention_outside_req');\n\n// (11) app_mention en canal REQ sin firma (mano del usuario) -> ignore\n//      Incluye menciones en raiz y en reply: texto libre no habilitado.\nif (eventType === 'app_mention') return ignore('mention_unsigned_noop');\n\n// (8) message (humano, sin firma) -> ignore (texto libre no habilitado)\nreturn ignore('no_match');"
      },
      "id": "64f0449a-5829-4f66-b322-4424f31fcf98",
      "name": "Classify Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18464,
        54384
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "app_home",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "app_home"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "capture_req",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "capture_req"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignore"
            }
          ]
        },
        "options": {}
      },
      "id": "808955d1-1c47-46df-82cf-1d58f964bb0d",
      "name": "Switch — Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        18672,
        54384
      ]
    },
    {
      "parameters": {
        "url": "https://slack.com/api/users.info",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('Classify Event').first().json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8bc05695-729e-4aee-bc96-3ef8737c485f",
      "name": "Get Home User Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        18912,
        54032
      ],
      "credentials": {
        "slackApi": {
          "id": "BCycvSbTaX6nUIo1",
          "name": "Slack-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/views.publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.publish_user_id || $json.user_id, view: $json.view }) }}",
        "options": {}
      },
      "id": "61abe94d-2372-45ac-a7c7-24e9407a3669",
      "name": "Publish App Home",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20944,
        54032
      ],
      "credentials": {
        "slackApi": {
          "id": "BCycvSbTaX6nUIo1",
          "name": "Slack-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.arduasolutions.com/webhook/req-conversation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ thread_ts: $json.thread_ts, channel_id: $json.channel_id, user_id: $json.user_id, message_text: $json.message_text, source: $json.source }) }}",
        "options": {}
      },
      "id": "245408e0-3af4-4dc7-ba9b-49c03bfb53e0",
      "name": "Forward — Capture REQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18912,
        54384
      ]
    },
    {
      "parameters": {},
      "id": "12b798cf-c21f-4732-ba62-7f85f2d741dc",
      "name": "Ignore",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        18912,
        54688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/376e8880-def6-805c-bd88-fc5b2c6765f0/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Slack ID', rich_text: { equals: $('Classify Event').first().json.user_id } }, page_size: 1 }) }}",
        "options": {}
      },
      "id": "794eb3aa-70a8-489d-9ccd-1ab1231849a4",
      "name": "Query Stakeholder by Slack ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        19136,
        54032
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ============================================================================\n// miles-slack-event-router · Resolve Profile  (v3 — precedencia Role > Group)\n// ----------------------------------------------------------------------------\n// Orden de precedencia (ver miles-home-discovery.md):\n//   1. Group Head/C-Level + Area Technology -> 'it_lead' (vista global de IT)\n//   2. Group Head/C-Level + Area Product    -> 'producto' (vista de PM)\n//   3. Group Head / C-Level (otras areas)   -> 'lider'\n//   4. Business Area = Technology -> 'tecnico' (is_tech_lead si Role = Technical Lead)\n//   5. Business Area = Product    -> 'producto'\n//   6. Group Analyst            -> 'stakeholder'\n//   7. Group Manager/Specialist -> 'stakeholder' (de su area)\n//   8. fallback                 -> 'producto'\n//\n// Flag adicional: is_tech_lead = (perfil tecnico Y Role == \"Technical Lead\").\n// Suma la seccion de Refinamiento en el builder tecnico.\n//\n// Exporta tambien: jira_id (assignee para queries), business_area_id (pageId,\n// para resolver el nombre del area), first_name.\n// ============================================================================\n\nconst stkRes = $('Query Stakeholder by Slack ID').first().json.results || [];\nconst slackUser = $('Classify Event').first().json.user_id;\nconst publishUser = $('Classify Event').first().json.publish_user_id || slackUser;\nconst info = $('Get Home User Info').first().json;\nconst sProfile = (info.user && info.user.profile) || {};\nconst firstName = sProfile.first_name || sProfile.display_name || sProfile.real_name || 'che';\n\nconst capRes = $('Query Capability — ticket.take').first().json.results || [];\nconst ticketTakeId = capRes[0] ? capRes[0].id : null;\n\nfunction emit(profile, reason, extra={}) {\n  return [{ json: {\n    profile, _reason: reason, user_id: slackUser, publish_user_id: publishUser, first_name: firstName,\n    is_tech_lead: false, jira_id: null, business_area_id: null, ...extra\n  } }];\n}\n\nif (stkRes.length === 0) return emit('producto', 'no_stakeholder_match', { group: [], capabilities: [], role: '' });\n\nconst props = stkRes[0].properties || {};\nconst group = (props['Group']?.multi_select || []).map(g => g.name);\nconst capabilities = (props['Capabilities']?.relation || []).map(r => r.id);\nconst businessAreaId = (props['Business Area']?.relation || [])[0]?.id || null;\nconst role = props['Role']?.rich_text?.[0]?.plain_text || '';\nconst jiraId = props['Jira ID']?.rich_text?.[0]?.plain_text || null;\n\nconst base = { group, capabilities, role, jira_id: jiraId, business_area_id: businessAreaId };\n\n// IDs de areas que definen perfil por dominio (estables en Notion)\nconst AREA_TECHNOLOGY = '376e8880-def6-8188-9ddc-e3e24b20ee64';\nconst AREA_PRODUCT    = '376e8880-def6-813a-a216-e704c2b59c8b';\n\n// 1) Liderazgo de IT: Head/C-Level + area Technology -> it_lead (vista global de IT)\n//    (Santiago = Head of Technology, Mati = CTO). Precede al lider generico.\nif ((group.includes('C-Level') || group.includes('Head')) && businessAreaId === AREA_TECHNOLOGY) {\n  return emit('it_lead', 'group_head_tech', base);\n}\n\n// 2) Liderazgo de Producto: Head/C-Level + area Product -> producto (vista de PM)\n//    (Head of Product opera como PM, no como lider de area generico).\nif ((group.includes('C-Level') || group.includes('Head')) && businessAreaId === AREA_PRODUCT) {\n  return emit('producto', 'group_head_product', base);\n}\n\n// 3) Group Head / C-Level (otras areas) -> lider\nif (group.includes('C-Level') || group.includes('Head')) return emit('lider', 'group_head', base);\n\n// 3) Area Technology -> tecnico (is_tech_lead si el Role lo indica)\nif (businessAreaId === AREA_TECHNOLOGY) {\n  const isTL = /technical lead/i.test(role);\n  return emit('tecnico', isTL ? 'tech_lead' : 'dev', { ...base, is_tech_lead: isTL });\n}\n\n// 3) Area Product -> producto\nif (businessAreaId === AREA_PRODUCT) return emit('producto', 'area_product', base);\n\n// 4) Analyst -> stakeholder\nif (group.includes('Analyst')) return emit('stakeholder', 'group_analyst', base);\n\n// 5) Manager / Specialist (no tech, no product) -> stakeholder de su area\nif (group.includes('Manager') || group.includes('Specialist')) {\n  return emit('stakeholder', 'manager_non_tech', base);\n}\n\n// fallback\nreturn emit('producto', 'fallback', base);\n"
      },
      "id": "e48ebce1-698c-4fd2-9212-9f1bbf60308c",
      "name": "Resolve Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19584,
        54032
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/836a99fd-c232-44b8-a2bf-17fb388f0d0c/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Code', rich_text: { equals: 'req.ticket.take' } }, page_size: 1 }) }}",
        "options": {}
      },
      "id": "42e6f6fb-5699-4864-a2f9-efb271096846",
      "name": "Query Capability — ticket.take",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        19360,
        54032
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad + datos Jira ya resueltos aguas arriba\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst myJiraId = bj.jira_id || null;\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $('Query Jira (via handler)').item.json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\nconst prioCounts = {};\n// byParent: child de los espejos Story de going-on (Fetch Children Progress).\nlet _children = $json;\nif (typeof _children === 'string') { try { _children = JSON.parse(_children); } catch(e){ _children = {}; } }\nif (_children && _children.body && !_children.byParent) {\n  let b = _children.body; if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _children = b;\n}\nconst byParent = (_children && _children.byParent) || {};\n\n// ---------------------------------------------------------------------------\n// Aplanador de ADF -> texto plano (para Blocked cause: parrafo o tabla).\n// ---------------------------------------------------------------------------\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\n\n// Antiguedad en el estado actual (desde statuscategorychangedate)\nfunction daysAgo(iso){\n  if (!iso) return null;\n  const then = new Date(iso); if (isNaN(then)) return null;\n  return Math.floor((Date.now() - then.getTime()) / 86400000);\n}\nfunction agoLabel(iso){\n  const d = daysAgo(iso);\n  if (d === null) return null;\n  if (d <= 0) return 'hoy';\n  if (d === 1) return 'hace 1 día';\n  return `hace ${d} días`;\n}\nfunction prioEmoji(prioName){\n  const p = (prioName || '').toLowerCase();\n  if (p === 'highest') return '🔺';\n  if (p === 'high')    return '🔴';\n  if (p === 'medium')  return '🟠';\n  if (p === 'low')     return '🟢';\n  return '⚪';\n}\nfunction clip(s, n){ s = String(s||''); return s.length > n ? s.slice(0, n-1).trimEnd() + '…' : s; }\n\n// Normaliza un issue\n// ============================================================================\n// BLOQUE COMÚN — Sección \"Prioridades globales\" (dos tablas: What's next / What's going on)\n// Se inyecta en los 5 builders. Construida SIEMPRE desde el PWI. La ven TODOS los perfiles.\n// Depende de: helpers table()/emptyNote() definidos en el builder.\n// opts.tecnico=true agrega la columna EWI (key del espejo) en ambas tablas.\n// ----------------------------------------------------------------------------\n// Columnas:\n//   What's next     : Rank · PWI · Requerimiento · Estado(PWI) · Prioridad · Área [· EWI]\n//                     (Rank = entero consecutivo 1,2,3… según orden LexoRank del PWI)\n//   What's going on : PWI · Requerimiento · Estado(EWI) · Prioridad · Área [· EWI]\n//                     (Estado = estado del EWI espejo: lo más cercano a la realidad)\n// ============================================================================\n\n// Resuelve el EWI espejo válido de un PWI Requirement desde sus issuelinks.\n// Validación del par: name 'Problem/Incident' + outward 'causes' + target EWI-*\n// + tipo Epic/Story. Descarta Relates/Blocks, AM-* legacy y links sucios.\nfunction espejoValido(issuelinks){\n  if (!Array.isArray(issuelinks)) return null;\n  for (const l of issuelinks) {\n    const t = l.type || {};\n    if (t.name === 'Problem/Incident' && t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      const ty = ((l.outwardIssue.fields || {}).issuetype || {}).name || '';\n      if (k.startsWith('EWI-') && (ty === 'Epic' || ty === 'Story')) {\n        const stObj = ((l.outwardIssue.fields || {}).status || {});\n        const st = stObj.name || '';\n        const stCat = (stObj.statusCategory || {}).key || '';\n        return { key: k, type: ty, status: st, statusCategory: stCat };\n      }\n    }\n  }\n  return null;\n}\n\nfunction rankCmp(a, b){\n  if (!a.rank && !b.rank) return 0;\n  if (!a.rank) return 1;\n  if (!b.rank) return -1;\n  return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n}\n\n// Orden de fase para \"What's going on\" (avance del pipeline de dev del PWI).\nconst PWI_PHASE_ORDER = { 'SENT TO DEV':0, 'READY FOR DEV':1, 'IN DEVELOPMENT':2, 'BLOCKED':3 };\nfunction phaseCmp(a, b){\n  const pa = PWI_PHASE_ORDER[a.status] ?? 99;\n  const pb = PWI_PHASE_ORDER[b.status] ?? 99;\n  if (pa !== pb) return pa - pb;\n  return rankCmp(a, b);\n}\n\n\n// Barra de progreso textual de 10 segmentos.\nfunction progressBar(pct){\n  const filled = Math.round((pct/100)*10);\n  return '\\u2593'.repeat(filled) + '\\u2591'.repeat(10-filled) + ` ${pct}%`;\n}\n\n// Completitud de un PWI en going-on, dado su espejo y el mapa byParent.\n// Regla: si el espejo Story tiene child -> done/total (mandan los child).\n//        si no tiene child -> la Story es la unidad: 100 si está Done, 0 si no.\nfunction completitud(esp, byParent){\n  if (!esp) return { pct: 0, label: '\\u2014' };\n  const childs = (byParent && byParent[esp.key]) || [];\n  if (childs.length > 0) {\n    const done = childs.filter(c => c.statusCategory === 'done').length;\n    const total = childs.length;\n    const pct = Math.round((done/total)*100);\n    return { pct, label: `${done}/${total}` };\n  }\n  // sin child: la Story misma\n  const espDone = (esp.statusCategory || '').toLowerCase() === 'done';\n  return { pct: espDone ? 100 : 0, label: '\\u2014' };\n}\n\n// Construye la sección \"Prioridades globales\" completa (header + dos sub-tablas).\n// rows: array normalizado con key, summary, status, priority, area, rank,\n//       issueType, issuelinks (raw, para resolver el espejo).\nfunction buildPrioridadesGlobales(rows, opts){\n  opts = opts || {};\n  const tecnico = !!opts.tecnico;\n  const counts = (opts.counts && typeof opts.counts === 'object') ? opts.counts : null;\n  const byParent = (opts.byParent && typeof opts.byParent === 'object') ? opts.byParent : {};\n\n  // Solo PWI Requirement entran a la cola (perspectiva del PWI).\n  const reqs = rows.filter(r => r.issueType === 'Requirement');\n\n  const next = [], going = [];\n  for (const r of reqs) {\n    const esp = espejoValido(r.issuelinks);\n    r._esp = esp;\n    if (!esp || esp.type === 'Epic') next.push(r);  // sin espejo o en refinamiento\n    else going.push(r);                              // espejo Story -> en desarrollo\n  }\n  next.sort(rankCmp);\n  going.sort(phaseCmp);\n  if (counts) { counts.next = next.length; counts.going = going.length; }\n\n  // Header de sección que engloba las dos tablas. Los sub-títulos (con contador)\n  // van en el caption de cada data_table, evitando duplicar el header. El header\n  // lleva un emoji marcador + un kicker de contexto debajo para fijar la jerarquía\n  // de sección frente al caption de las tablas (decisión validada en Block Kit Builder).\n  const blocks = [\n    { type:'header', text:{ type:'plain_text', text:':round_pushpin: Prioridades globales', emoji:true } },\n    { type:'context', elements:[{ type:'mrkdwn', text:'_Cola de Producto y Tecnología · priorización y seguimiento_' }] }\n  ];\n\n  // --- What's next ---  (Rank consecutivo + Estado del PWI)\n  if (next.length) {\n    const headerNext = tecnico\n      ? ['Rank','PWI','Requerimiento','Estado','Prioridad','Área','EWI']\n      : ['Rank','PWI','Requerimiento','Estado','Prioridad','Área'];\n    const rowsNext = next.map((r, i) => {\n      const base = [String(i+1), r.key, r.summary, r.status, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's next? (${next.length})`, headerNext, rowsNext));\n  } else {\n    blocks.push(emptyNote(`*What's next? (0)* — _Sin requerimientos en cola de priorización._`));\n  }\n\n  // --- What's going on ---  (Estado del EWI espejo)\n  if (going.length) {\n    const headerGoing = tecnico\n      ? ['PWI','Requerimiento','Estado','Avance','Prioridad','Área','EWI']\n      : ['PWI','Requerimiento','Estado','Avance','Prioridad','Área'];\n    const rowsGoing = going.map(r => {\n      const estadoEwi = r._esp ? r._esp.status : (r.status || '—');\n      const comp = completitud(r._esp, byParent);\n      const avance = progressBar(comp.pct) + (comp.label !== '—' ? ` (${comp.label})` : '');\n      const base = [r.key, r.summary, estadoEwi, avance, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's going on? (${going.length})`, headerGoing, rowsGoing));\n  } else {\n    blocks.push(emptyNote(`*What's going on? (0)* — _Nada en desarrollo ahora._`));\n  }\n\n  return blocks;\n}\n\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key,\n    summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    project: (it.fields && it.fields.project && it.fields.project.key) || (String(it.key||'').split('-')[0]),\n    issuelinks: (it.fields && it.fields.issuelinks) || [],\n    rank: f.customfield_10019 || ''\n  };\n}\nconst rows = issues.map(row);\nfunction inStatus(r, arr){ return arr.includes(r.status); }\nconst isMine = (r) => myJiraId && r.assigneeId === myJiraId;\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// ---------------------------------------------------------------------------\n// Card builder (shape slack_icon, sin imagenes, 1 boton Ver en Jira).\n// useBlockedCause=true -> body = Blocked cause; si no -> body = summary completo.\n// ---------------------------------------------------------------------------\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const useBlocked = !!opts.useBlockedCause;\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText;\n  if (useBlocked) {\n    bodyText = r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_';\n  } else {\n    bodyText = r.summary || '_Sin descripción_';\n  }\n  return {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) },\n    actions: [\n      {\n        type: 'button',\n        text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n        action_id: `view_${r.key}`,\n        url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n      }\n    ]\n  };\n}\nfunction carousel(cardRows, opts){\n  return { type: 'carousel', elements: cardRows.map(r => pwiCard(r, opts)) };\n}\n\n// ---------------------------------------------------------------------------\n// Reparto de secciones\n// ---------------------------------------------------------------------------\n// Personales (filtran por mi assignee)\nconst enCurso       = rows.filter(r => isMine(r) && inStatus(r, ['IN ANALYSIS','IN PROGRESS']));\nconst porEnriquecer = rows.filter(r => isMine(r) && r.status === 'To Do');\nconst disponibles   = rows.filter(r => !r.assigneeId && r.status === 'To Do');\nconst bloqueados    = rows.filter(r => isMine(r) && r.status === 'BLOCKED');\n\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\nVista de Product Manager · Todas las  Áreas` } },\n  { type:'actions', elements:[\n    { type:'button', style:'primary', text:{type:'plain_text',text:'+ Nuevo requerimiento',emoji:true}, action_id:'new_requirement', value:'new_req' },\n    { type:'button', text:{type:'plain_text',text:'Pedir informe',emoji:true}, action_id:'request_report', value:'report' }\n  ]},\n  { type:'divider' },\n  ...sectionCarousel('En curso', enCurso, {}, '_Nada en curso ahora._'),\n  { type:'divider' },\n  ...sectionCarousel('Por enriquecer', porEnriquecer, {}, '_Nada por enriquecer._'),\n  { type:'divider' },\n  ...sectionCarousel('Disponibles', disponibles, {}, '_Sin requerimientos disponibles._'),\n  { type:'divider' },\n  ...sectionCarousel('Bloqueados', bloqueados, { useBlockedCause:true }, '_Sin bloqueos._'),\n  ...buildPrioridadesGlobales(rows, { tecnico:false, counts: prioCounts, byParent }),\n  { type:'context', elements:[{ type:'mrkdwn', text:`Miles · ${prioCounts.next||0} en cola · ${prioCounts.going||0} en curso · datos en vivo` }] }\n];\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "3bbe20f2-fc9c-4c2b-92d1-cc39b5433aa0",
      "name": "Build Home — Producto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20704,
        53792
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst areaName = bj.area_name || 'tu área';\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $('Query Jira (via handler)').item.json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\nconst prioCounts = {};\n// byParent: child de los espejos Story de going-on (Fetch Children Progress).\nlet _children = $json;\nif (typeof _children === 'string') { try { _children = JSON.parse(_children); } catch(e){ _children = {}; } }\nif (_children && _children.body && !_children.byParent) {\n  let b = _children.body; if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _children = b;\n}\nconst byParent = (_children && _children.byParent) || {};\n\n// --- Aplanador ADF -> texto (Blocked cause: parrafo o tabla) ---\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\nfunction daysAgo(iso){ if(!iso) return null; const d=new Date(iso); if(isNaN(d)) return null; return Math.floor((Date.now()-d.getTime())/86400000); }\nfunction agoLabel(iso){ const d=daysAgo(iso); if(d===null) return null; if(d<=0) return 'hoy'; if(d===1) return 'hace 1 día'; return `hace ${d} días`; }\nfunction prioEmoji(p){ p=(p||'').toLowerCase(); if(p==='highest')return'🔺'; if(p==='high')return'🔴'; if(p==='medium')return'🟠'; if(p==='low')return'🟢'; return'⚪'; }\nfunction clip(s,n){ s=String(s||''); return s.length>n ? s.slice(0,n-1).trimEnd()+'…' : s; }\n\n// ============================================================================\n// BLOQUE COMÚN — Sección \"Prioridades globales\" (dos tablas: What's next / What's going on)\n// Se inyecta en los 5 builders. Construida SIEMPRE desde el PWI. La ven TODOS los perfiles.\n// Depende de: helpers table()/emptyNote() definidos en el builder.\n// opts.tecnico=true agrega la columna EWI (key del espejo) en ambas tablas.\n// ----------------------------------------------------------------------------\n// Columnas:\n//   What's next     : Rank · PWI · Requerimiento · Estado(PWI) · Prioridad · Área [· EWI]\n//                     (Rank = entero consecutivo 1,2,3… según orden LexoRank del PWI)\n//   What's going on : PWI · Requerimiento · Estado(EWI) · Prioridad · Área [· EWI]\n//                     (Estado = estado del EWI espejo: lo más cercano a la realidad)\n// ============================================================================\n\n// Resuelve el EWI espejo válido de un PWI Requirement desde sus issuelinks.\n// Validación del par: name 'Problem/Incident' + outward 'causes' + target EWI-*\n// + tipo Epic/Story. Descarta Relates/Blocks, AM-* legacy y links sucios.\nfunction espejoValido(issuelinks){\n  if (!Array.isArray(issuelinks)) return null;\n  for (const l of issuelinks) {\n    const t = l.type || {};\n    if (t.name === 'Problem/Incident' && t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      const ty = ((l.outwardIssue.fields || {}).issuetype || {}).name || '';\n      if (k.startsWith('EWI-') && (ty === 'Epic' || ty === 'Story')) {\n        const stObj = ((l.outwardIssue.fields || {}).status || {});\n        const st = stObj.name || '';\n        const stCat = (stObj.statusCategory || {}).key || '';\n        return { key: k, type: ty, status: st, statusCategory: stCat };\n      }\n    }\n  }\n  return null;\n}\n\nfunction rankCmp(a, b){\n  if (!a.rank && !b.rank) return 0;\n  if (!a.rank) return 1;\n  if (!b.rank) return -1;\n  return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n}\n\n// Orden de fase para \"What's going on\" (avance del pipeline de dev del PWI).\nconst PWI_PHASE_ORDER = { 'SENT TO DEV':0, 'READY FOR DEV':1, 'IN DEVELOPMENT':2, 'BLOCKED':3 };\nfunction phaseCmp(a, b){\n  const pa = PWI_PHASE_ORDER[a.status] ?? 99;\n  const pb = PWI_PHASE_ORDER[b.status] ?? 99;\n  if (pa !== pb) return pa - pb;\n  return rankCmp(a, b);\n}\n\n\n// Barra de progreso textual de 10 segmentos.\nfunction progressBar(pct){\n  const filled = Math.round((pct/100)*10);\n  return '\\u2593'.repeat(filled) + '\\u2591'.repeat(10-filled) + ` ${pct}%`;\n}\n\n// Completitud de un PWI en going-on, dado su espejo y el mapa byParent.\n// Regla: si el espejo Story tiene child -> done/total (mandan los child).\n//        si no tiene child -> la Story es la unidad: 100 si está Done, 0 si no.\nfunction completitud(esp, byParent){\n  if (!esp) return { pct: 0, label: '\\u2014' };\n  const childs = (byParent && byParent[esp.key]) || [];\n  if (childs.length > 0) {\n    const done = childs.filter(c => c.statusCategory === 'done').length;\n    const total = childs.length;\n    const pct = Math.round((done/total)*100);\n    return { pct, label: `${done}/${total}` };\n  }\n  // sin child: la Story misma\n  const espDone = (esp.statusCategory || '').toLowerCase() === 'done';\n  return { pct: espDone ? 100 : 0, label: '\\u2014' };\n}\n\n// Construye la sección \"Prioridades globales\" completa (header + dos sub-tablas).\n// rows: array normalizado con key, summary, status, priority, area, rank,\n//       issueType, issuelinks (raw, para resolver el espejo).\nfunction buildPrioridadesGlobales(rows, opts){\n  opts = opts || {};\n  const tecnico = !!opts.tecnico;\n  const counts = (opts.counts && typeof opts.counts === 'object') ? opts.counts : null;\n  const byParent = (opts.byParent && typeof opts.byParent === 'object') ? opts.byParent : {};\n\n  // Solo PWI Requirement entran a la cola (perspectiva del PWI).\n  const reqs = rows.filter(r => r.issueType === 'Requirement');\n\n  const next = [], going = [];\n  for (const r of reqs) {\n    const esp = espejoValido(r.issuelinks);\n    r._esp = esp;\n    if (!esp || esp.type === 'Epic') next.push(r);  // sin espejo o en refinamiento\n    else going.push(r);                              // espejo Story -> en desarrollo\n  }\n  next.sort(rankCmp);\n  going.sort(phaseCmp);\n  if (counts) { counts.next = next.length; counts.going = going.length; }\n\n  // Header de sección que engloba las dos tablas. Los sub-títulos (con contador)\n  // van en el caption de cada data_table, evitando duplicar el header. El header\n  // lleva un emoji marcador + un kicker de contexto debajo para fijar la jerarquía\n  // de sección frente al caption de las tablas (decisión validada en Block Kit Builder).\n  const blocks = [\n    { type:'header', text:{ type:'plain_text', text:':round_pushpin: Prioridades globales', emoji:true } },\n    { type:'context', elements:[{ type:'mrkdwn', text:'_Cola de Producto y Tecnología · priorización y seguimiento_' }] }\n  ];\n\n  // --- What's next ---  (Rank consecutivo + Estado del PWI)\n  if (next.length) {\n    const headerNext = tecnico\n      ? ['Rank','PWI','Requerimiento','Estado','Prioridad','Área','EWI']\n      : ['Rank','PWI','Requerimiento','Estado','Prioridad','Área'];\n    const rowsNext = next.map((r, i) => {\n      const base = [String(i+1), r.key, r.summary, r.status, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's next? (${next.length})`, headerNext, rowsNext));\n  } else {\n    blocks.push(emptyNote(`*What's next? (0)* — _Sin requerimientos en cola de priorización._`));\n  }\n\n  // --- What's going on ---  (Estado del EWI espejo)\n  if (going.length) {\n    const headerGoing = tecnico\n      ? ['PWI','Requerimiento','Estado','Avance','Prioridad','Área','EWI']\n      : ['PWI','Requerimiento','Estado','Avance','Prioridad','Área'];\n    const rowsGoing = going.map(r => {\n      const estadoEwi = r._esp ? r._esp.status : (r.status || '—');\n      const comp = completitud(r._esp, byParent);\n      const avance = progressBar(comp.pct) + (comp.label !== '—' ? ` (${comp.label})` : '');\n      const base = [r.key, r.summary, estadoEwi, avance, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's going on? (${going.length})`, headerGoing, rowsGoing));\n  } else {\n    blocks.push(emptyNote(`*What's going on? (0)* — _Nada en desarrollo ahora._`));\n  }\n\n  return blocks;\n}\n\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key, summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    project: (it.fields && it.fields.project && it.fields.project.key) || (String(it.key||'').split('-')[0]),\n    issuelinks: (it.fields && it.fields.issuelinks) || [],\n    rank: f.customfield_10019 || ''\n  };\n}\nconst rows = issues.map(row);\nfunction inStatus(r, arr){ return arr.includes(r.status); }\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// Card (slack_icon rocket). opts.useBlockedCause -> body=causa; opts.withButton -> boton Ver en Jira\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText = opts.useBlockedCause\n    ? (r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_')\n    : (r.summary || '_Sin descripción_');\n  const card = {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) }\n  };\n  if (opts.withButton) {\n    card.actions = [{\n      type: 'button',\n      text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n      action_id: `view_${r.key}`,\n      url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n    }];\n  }\n  return card;\n}\nfunction carousel(cardRows, opts){ return { type:'carousel', elements: cardRows.map(r => pwiCard(r, opts)) }; }\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\n// Stakeholder: una seccion \"Requerimientos activos\" (todos los del area que trajo la query)\n// --- Reparto por estado (filtrado al area del stakeholder) ---\nconst delArea = rows.filter(r => r.area === areaName);\nconst secFuncional = delArea.filter(r => inStatus(r, ['To Do','IN ANALYSIS']));\nconst secBloqueados = delArea.filter(r => r.status === 'BLOCKED');\nconst secTecnica   = delArea.filter(r => r.status === 'SENT TO DEV');\nconst secDesarrollo= delArea.filter(r => inStatus(r, ['READY FOR DEV','IN DEVELOPMENT','IN PROGRESS']));\n\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\nVista de Stakeholder · ${areaName}` } },\n  { type:'actions', elements:[\n    { type:'button', style:'primary', text:{type:'plain_text',text:'+ Nuevo requerimiento',emoji:true}, action_id:'new_requirement', value:'new_req' },\n    { type:'button', text:{type:'plain_text',text:'Pedir informe',emoji:true}, action_id:'request_report', value:'report' }\n  ]},\n  { type:'divider' },\n  ...sectionCarousel('En análisis y validación funcional', secFuncional, { withButton:false }, '_Nada en análisis funcional._'),\n  { type:'divider' },\n  ...sectionCarousel('Bloqueados', secBloqueados, { withButton:false, useBlockedCause:true }, '_Sin bloqueos._'),\n  { type:'divider' },\n  ...sectionCarousel('En análisis y validación técnica', secTecnica, { withButton:false }, '_Nada en validación técnica._'),\n  { type:'divider' },\n  ...sectionCarousel('En desarrollo', secDesarrollo, { withButton:false }, '_Nada en desarrollo._'),\n  ...buildPrioridadesGlobales(rows, { tecnico:false, counts: prioCounts, byParent }),\n  { type:'context', elements:[{ type:'mrkdwn', text:`Miles · ${prioCounts.next||0} en cola · ${prioCounts.going||0} en curso · datos en vivo` }] }\n];\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "00672ccd-d2ae-4c1d-bac0-2de07cdd04e9",
      "name": "Build Home — Stakeholder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20704,
        53952
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst areaName = bj.area_name || 'tu área';\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $('Query Jira (via handler)').item.json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\nconst prioCounts = {};\n// byParent: child de los espejos Story de going-on (Fetch Children Progress).\nlet _children = $json;\nif (typeof _children === 'string') { try { _children = JSON.parse(_children); } catch(e){ _children = {}; } }\nif (_children && _children.body && !_children.byParent) {\n  let b = _children.body; if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _children = b;\n}\nconst byParent = (_children && _children.byParent) || {};\nconst approvalCards = (_children && _children.approval_cards) || [];\n\n// --- Aplanador ADF -> texto (Blocked cause: parrafo o tabla) ---\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\nfunction daysAgo(iso){ if(!iso) return null; const d=new Date(iso); if(isNaN(d)) return null; return Math.floor((Date.now()-d.getTime())/86400000); }\nfunction agoLabel(iso){ const d=daysAgo(iso); if(d===null) return null; if(d<=0) return 'hoy'; if(d===1) return 'hace 1 día'; return `hace ${d} días`; }\nfunction prioEmoji(p){ p=(p||'').toLowerCase(); if(p==='highest')return'🔺'; if(p==='high')return'🔴'; if(p==='medium')return'🟠'; if(p==='low')return'🟢'; return'⚪'; }\nfunction clip(s,n){ s=String(s||''); return s.length>n ? s.slice(0,n-1).trimEnd()+'…' : s; }\n\n// ============================================================================\n// BLOQUE COMÚN — Sección \"Prioridades globales\" (dos tablas: What's next / What's going on)\n// Se inyecta en los 5 builders. Construida SIEMPRE desde el PWI. La ven TODOS los perfiles.\n// Depende de: helpers table()/emptyNote() definidos en el builder.\n// opts.tecnico=true agrega la columna EWI (key del espejo) en ambas tablas.\n// ----------------------------------------------------------------------------\n// Columnas:\n//   What's next     : Rank · PWI · Requerimiento · Estado(PWI) · Prioridad · Área [· EWI]\n//                     (Rank = entero consecutivo 1,2,3… según orden LexoRank del PWI)\n//   What's going on : PWI · Requerimiento · Estado(EWI) · Prioridad · Área [· EWI]\n//                     (Estado = estado del EWI espejo: lo más cercano a la realidad)\n// ============================================================================\n\n// Resuelve el EWI espejo válido de un PWI Requirement desde sus issuelinks.\n// Validación del par: name 'Problem/Incident' + outward 'causes' + target EWI-*\n// + tipo Epic/Story. Descarta Relates/Blocks, AM-* legacy y links sucios.\nfunction espejoValido(issuelinks){\n  if (!Array.isArray(issuelinks)) return null;\n  for (const l of issuelinks) {\n    const t = l.type || {};\n    if (t.name === 'Problem/Incident' && t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      const ty = ((l.outwardIssue.fields || {}).issuetype || {}).name || '';\n      if (k.startsWith('EWI-') && (ty === 'Epic' || ty === 'Story')) {\n        const stObj = ((l.outwardIssue.fields || {}).status || {});\n        const st = stObj.name || '';\n        const stCat = (stObj.statusCategory || {}).key || '';\n        return { key: k, type: ty, status: st, statusCategory: stCat };\n      }\n    }\n  }\n  return null;\n}\n\nfunction rankCmp(a, b){\n  if (!a.rank && !b.rank) return 0;\n  if (!a.rank) return 1;\n  if (!b.rank) return -1;\n  return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n}\n\n// Orden de fase para \"What's going on\" (avance del pipeline de dev del PWI).\nconst PWI_PHASE_ORDER = { 'SENT TO DEV':0, 'READY FOR DEV':1, 'IN DEVELOPMENT':2, 'BLOCKED':3 };\nfunction phaseCmp(a, b){\n  const pa = PWI_PHASE_ORDER[a.status] ?? 99;\n  const pb = PWI_PHASE_ORDER[b.status] ?? 99;\n  if (pa !== pb) return pa - pb;\n  return rankCmp(a, b);\n}\n\n\n// Barra de progreso textual de 10 segmentos.\nfunction progressBar(pct){\n  const filled = Math.round((pct/100)*10);\n  return '\\u2593'.repeat(filled) + '\\u2591'.repeat(10-filled) + ` ${pct}%`;\n}\n\n// Completitud de un PWI en going-on, dado su espejo y el mapa byParent.\n// Regla: si el espejo Story tiene child -> done/total (mandan los child).\n//        si no tiene child -> la Story es la unidad: 100 si está Done, 0 si no.\nfunction completitud(esp, byParent){\n  if (!esp) return { pct: 0, label: '\\u2014' };\n  const childs = (byParent && byParent[esp.key]) || [];\n  if (childs.length > 0) {\n    const done = childs.filter(c => c.statusCategory === 'done').length;\n    const total = childs.length;\n    const pct = Math.round((done/total)*100);\n    return { pct, label: `${done}/${total}` };\n  }\n  // sin child: la Story misma\n  const espDone = (esp.statusCategory || '').toLowerCase() === 'done';\n  return { pct: espDone ? 100 : 0, label: '\\u2014' };\n}\n\n// Construye la sección \"Prioridades globales\" completa (header + dos sub-tablas).\n// rows: array normalizado con key, summary, status, priority, area, rank,\n//       issueType, issuelinks (raw, para resolver el espejo).\nfunction buildPrioridadesGlobales(rows, opts){\n  opts = opts || {};\n  const tecnico = !!opts.tecnico;\n  const counts = (opts.counts && typeof opts.counts === 'object') ? opts.counts : null;\n  const byParent = (opts.byParent && typeof opts.byParent === 'object') ? opts.byParent : {};\n\n  // Solo PWI Requirement entran a la cola (perspectiva del PWI).\n  const reqs = rows.filter(r => r.issueType === 'Requirement');\n\n  const next = [], going = [];\n  for (const r of reqs) {\n    const esp = espejoValido(r.issuelinks);\n    r._esp = esp;\n    if (!esp || esp.type === 'Epic') next.push(r);  // sin espejo o en refinamiento\n    else going.push(r);                              // espejo Story -> en desarrollo\n  }\n  next.sort(rankCmp);\n  going.sort(phaseCmp);\n  if (counts) { counts.next = next.length; counts.going = going.length; }\n\n  // Header de sección que engloba las dos tablas. Los sub-títulos (con contador)\n  // van en el caption de cada data_table, evitando duplicar el header. El header\n  // lleva un emoji marcador + un kicker de contexto debajo para fijar la jerarquía\n  // de sección frente al caption de las tablas (decisión validada en Block Kit Builder).\n  const blocks = [\n    { type:'header', text:{ type:'plain_text', text:':round_pushpin: Prioridades globales', emoji:true } },\n    { type:'context', elements:[{ type:'mrkdwn', text:'_Cola de Producto y Tecnología · priorización y seguimiento_' }] }\n  ];\n\n  // --- What's next ---  (Rank consecutivo + Estado del PWI)\n  if (next.length) {\n    const headerNext = tecnico\n      ? ['Rank','PWI','Requerimiento','Estado','Prioridad','Área','EWI']\n      : ['Rank','PWI','Requerimiento','Estado','Prioridad','Área'];\n    const rowsNext = next.map((r, i) => {\n      const base = [String(i+1), r.key, r.summary, r.status, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's next? (${next.length})`, headerNext, rowsNext));\n  } else {\n    blocks.push(emptyNote(`*What's next? (0)* — _Sin requerimientos en cola de priorización._`));\n  }\n\n  // --- What's going on ---  (Estado del EWI espejo)\n  if (going.length) {\n    const headerGoing = tecnico\n      ? ['PWI','Requerimiento','Estado','Avance','Prioridad','Área','EWI']\n      : ['PWI','Requerimiento','Estado','Avance','Prioridad','Área'];\n    const rowsGoing = going.map(r => {\n      const estadoEwi = r._esp ? r._esp.status : (r.status || '—');\n      const comp = completitud(r._esp, byParent);\n      const avance = progressBar(comp.pct) + (comp.label !== '—' ? ` (${comp.label})` : '');\n      const base = [r.key, r.summary, estadoEwi, avance, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's going on? (${going.length})`, headerGoing, rowsGoing));\n  } else {\n    blocks.push(emptyNote(`*What's going on? (0)* — _Nada en desarrollo ahora._`));\n  }\n\n  return blocks;\n}\n\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key, summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    project: (it.fields && it.fields.project && it.fields.project.key) || (String(it.key||'').split('-')[0]),\n    issuelinks: (it.fields && it.fields.issuelinks) || [],\n    rank: f.customfield_10019 || ''\n  };\n}\nconst rows = issues.map(row);\nfunction inStatus(r, arr){ return arr.includes(r.status); }\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// Card (slack_icon rocket). opts.useBlockedCause -> body=causa; opts.withButton -> boton Ver en Jira\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText = opts.useBlockedCause\n    ? (r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_')\n    : (r.summary || '_Sin descripción_');\n  const card = {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) }\n  };\n  if (opts.withButton) {\n    card.actions = [{\n      type: 'button',\n      text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n      action_id: `view_${r.key}`,\n      url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n    }];\n  }\n  return card;\n}\nfunction carousel(cardRows, opts){ return { type:'carousel', elements: cardRows.map(r => pwiCard(r, opts)) }; }\n\n// --- Card de aprobacion pendiente (REQ esperando la decision del lider) ---\nfunction approvalAgoLabel(d){ if(d===null||d===undefined) return null; if(d<=0) return 'hoy'; if(d===1) return 'hace 1 día'; return `hace ${d} días`; }\nfunction approvalCard(c){\n  const ago = approvalAgoLabel(c.daysWaiting);\n  const sub = [];\n  sub.push('📢 <@' + (c.requesterId||'') + '>');\n  if (ago) sub.push('⏱ ' + ago);\n  const body = c.problema && c.problema.trim()\n    ? clip(c.problema, 200)\n    : '_Sin descripción del problema — abrí el hilo para verlo._';\n  return {\n    type: 'card',\n    block_id: 'apprv-' + (c.threadId||'').replace('.', '_'),\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: '*Requerimiento esperando tu aprobación*' },\n    subtitle: { type: 'mrkdwn', text: sub.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: body },\n    actions: [{\n      type: 'button',\n      text: { type: 'plain_text', text: 'Ir a conversación', emoji: true },\n      action_id: 'review_approval_' + (c.threadId||'').replace('.', '_'),\n      url: c.threadUrl\n    }]\n  };\n}\nfunction approvalCarousel(title, cardsArr, emptyTxt){\n  // App Home NO renderiza el bloque 'carousel' (validado en vivo 2026-06-07, H5).\n  // Se apilan cards individuales, que sí renderizan en surface 'home'.\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${cardsArr.length})`, emoji:true } }];\n  if (!cardsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10;\n  for (const c of cardsArr.slice(0, CAP)) out.push(approvalCard(c));\n  if (cardsArr.length > CAP) out.push(emptyNote(`_…y ${cardsArr.length - CAP} más._`));\n  return out;\n}\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\n// --- Reparto por estado (filtrado al area del lider) ---\nconst delArea = rows.filter(r => r.area === areaName);\nconst secFuncional = delArea.filter(r => inStatus(r, ['To Do','IN ANALYSIS']));\nconst secBloqueados = delArea.filter(r => r.status === 'BLOCKED');\nconst secTecnica   = delArea.filter(r => r.status === 'SENT TO DEV');\nconst secDesarrollo= delArea.filter(r => inStatus(r, ['READY FOR DEV','IN DEVELOPMENT','IN PROGRESS']));\n\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\nVista de Liderazgo · ${areaName}` } },\n  { type:'actions', elements:[\n    { type:'button', style:'primary', text:{type:'plain_text',text:'+ Nuevo requerimiento',emoji:true}, action_id:'new_requirement', value:'new_req' },\n    { type:'button', text:{type:'plain_text',text:'Pedir informe',emoji:true}, action_id:'request_report', value:'report' }\n  ]},\n  { type:'divider' },\n  ...approvalCarousel('En espera de tu aprobación', approvalCards, '_No tenés requerimientos esperando tu aprobación._'),\n  { type:'divider' },\n  ...sectionCarousel('En análisis y validación funcional', secFuncional, { withButton:false }, '_Nada en análisis funcional._'),\n  { type:'divider' },\n  ...sectionCarousel('Bloqueados', secBloqueados, { withButton:false, useBlockedCause:true }, '_Sin bloqueos._'),\n  { type:'divider' },\n  ...sectionCarousel('En análisis y validación técnica', secTecnica, { withButton:false }, '_Nada en validación técnica._'),\n  { type:'divider' },\n  ...sectionCarousel('En desarrollo', secDesarrollo, { withButton:false }, '_Nada en desarrollo._'),\n  { type:'divider' },\n  ...buildPrioridadesGlobales(rows, { tecnico:false, counts: prioCounts, byParent }),\n  { type:'context', elements:[{ type:'mrkdwn', text:`Miles · ${prioCounts.next||0} en cola · ${prioCounts.going||0} en curso · datos en vivo` }] }\n];\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "447c0d76-dc6d-45be-a48b-99bc423c9583",
      "name": "Build Home — Lider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20704,
        54112
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst areaName = bj.area_name || 'tu área';\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $('Query Jira (via handler)').item.json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\nconst prioCounts = {};\n// byParent: child de los espejos Story de going-on (Fetch Children Progress).\nlet _children = $json;\nif (typeof _children === 'string') { try { _children = JSON.parse(_children); } catch(e){ _children = {}; } }\nif (_children && _children.body && !_children.byParent) {\n  let b = _children.body; if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _children = b;\n}\nconst byParent = (_children && _children.byParent) || {};\n\n// --- Aplanador ADF -> texto (Blocked cause: parrafo o tabla) ---\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\nfunction daysAgo(iso){ if(!iso) return null; const d=new Date(iso); if(isNaN(d)) return null; return Math.floor((Date.now()-d.getTime())/86400000); }\nfunction agoLabel(iso){ const d=daysAgo(iso); if(d===null) return null; if(d<=0) return 'hoy'; if(d===1) return 'hace 1 día'; return `hace ${d} días`; }\nfunction prioEmoji(p){ p=(p||'').toLowerCase(); if(p==='highest')return'🔺'; if(p==='high')return'🔴'; if(p==='medium')return'🟠'; if(p==='low')return'🟢'; return'⚪'; }\nfunction clip(s,n){ s=String(s||''); return s.length>n ? s.slice(0,n-1).trimEnd()+'…' : s; }\n\n// Extrae la PWI que CAUSA este EWI (link \"is caused by\" -> inwardIssue del proyecto PWI).\n// Replica en JS el filtro que las automatizaciones hacen con el Branch \"is caused by\".\nfunction causedByPwiKey(links){\n  if (!Array.isArray(links)) return null;\n  for (const l of links) {\n    const t = l.type || {};\n    // El EWI \"is caused by\" la PWI: la PWI aparece como inwardIssue cuando inward = \"is caused by\".\n    if (t.inward === 'is caused by' && l.inwardIssue) {\n      const k = l.inwardIssue.key || '';\n      if (k.startsWith('PWI-')) return k;\n    }\n    // Robustez: tambien contemplar el caso espejo (outward causes apuntando a PWI)\n    if (t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      if (k.startsWith('PWI-')) return k;\n    }\n  }\n  return null;\n}\n// ============================================================================\n// BLOQUE COMÚN — Sección \"Prioridades globales\" (dos tablas: What's next / What's going on)\n// Se inyecta en los 5 builders. Construida SIEMPRE desde el PWI. La ven TODOS los perfiles.\n// Depende de: helpers table()/emptyNote() definidos en el builder.\n// opts.tecnico=true agrega la columna EWI (key del espejo) en ambas tablas.\n// ----------------------------------------------------------------------------\n// Columnas:\n//   What's next     : Rank · PWI · Requerimiento · Estado(PWI) · Prioridad · Área [· EWI]\n//                     (Rank = entero consecutivo 1,2,3… según orden LexoRank del PWI)\n//   What's going on : PWI · Requerimiento · Estado(EWI) · Prioridad · Área [· EWI]\n//                     (Estado = estado del EWI espejo: lo más cercano a la realidad)\n// ============================================================================\n\n// Resuelve el EWI espejo válido de un PWI Requirement desde sus issuelinks.\n// Validación del par: name 'Problem/Incident' + outward 'causes' + target EWI-*\n// + tipo Epic/Story. Descarta Relates/Blocks, AM-* legacy y links sucios.\nfunction espejoValido(issuelinks){\n  if (!Array.isArray(issuelinks)) return null;\n  for (const l of issuelinks) {\n    const t = l.type || {};\n    if (t.name === 'Problem/Incident' && t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      const ty = ((l.outwardIssue.fields || {}).issuetype || {}).name || '';\n      if (k.startsWith('EWI-') && (ty === 'Epic' || ty === 'Story')) {\n        const stObj = ((l.outwardIssue.fields || {}).status || {});\n        const st = stObj.name || '';\n        const stCat = (stObj.statusCategory || {}).key || '';\n        return { key: k, type: ty, status: st, statusCategory: stCat };\n      }\n    }\n  }\n  return null;\n}\n\nfunction rankCmp(a, b){\n  if (!a.rank && !b.rank) return 0;\n  if (!a.rank) return 1;\n  if (!b.rank) return -1;\n  return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n}\n\n// Orden de fase para \"What's going on\" (avance del pipeline de dev del PWI).\nconst PWI_PHASE_ORDER = { 'SENT TO DEV':0, 'READY FOR DEV':1, 'IN DEVELOPMENT':2, 'BLOCKED':3 };\nfunction phaseCmp(a, b){\n  const pa = PWI_PHASE_ORDER[a.status] ?? 99;\n  const pb = PWI_PHASE_ORDER[b.status] ?? 99;\n  if (pa !== pb) return pa - pb;\n  return rankCmp(a, b);\n}\n\n\n// Barra de progreso textual de 10 segmentos.\nfunction progressBar(pct){\n  const filled = Math.round((pct/100)*10);\n  return '\\u2593'.repeat(filled) + '\\u2591'.repeat(10-filled) + ` ${pct}%`;\n}\n\n// Completitud de un PWI en going-on, dado su espejo y el mapa byParent.\n// Regla: si el espejo Story tiene child -> done/total (mandan los child).\n//        si no tiene child -> la Story es la unidad: 100 si está Done, 0 si no.\nfunction completitud(esp, byParent){\n  if (!esp) return { pct: 0, label: '\\u2014' };\n  const childs = (byParent && byParent[esp.key]) || [];\n  if (childs.length > 0) {\n    const done = childs.filter(c => c.statusCategory === 'done').length;\n    const total = childs.length;\n    const pct = Math.round((done/total)*100);\n    return { pct, label: `${done}/${total}` };\n  }\n  // sin child: la Story misma\n  const espDone = (esp.statusCategory || '').toLowerCase() === 'done';\n  return { pct: espDone ? 100 : 0, label: '\\u2014' };\n}\n\n// Construye la sección \"Prioridades globales\" completa (header + dos sub-tablas).\n// rows: array normalizado con key, summary, status, priority, area, rank,\n//       issueType, issuelinks (raw, para resolver el espejo).\nfunction buildPrioridadesGlobales(rows, opts){\n  opts = opts || {};\n  const tecnico = !!opts.tecnico;\n  const counts = (opts.counts && typeof opts.counts === 'object') ? opts.counts : null;\n  const byParent = (opts.byParent && typeof opts.byParent === 'object') ? opts.byParent : {};\n\n  // Solo PWI Requirement entran a la cola (perspectiva del PWI).\n  const reqs = rows.filter(r => r.issueType === 'Requirement');\n\n  const next = [], going = [];\n  for (const r of reqs) {\n    const esp = espejoValido(r.issuelinks);\n    r._esp = esp;\n    if (!esp || esp.type === 'Epic') next.push(r);  // sin espejo o en refinamiento\n    else going.push(r);                              // espejo Story -> en desarrollo\n  }\n  next.sort(rankCmp);\n  going.sort(phaseCmp);\n  if (counts) { counts.next = next.length; counts.going = going.length; }\n\n  // Header de sección que engloba las dos tablas. Los sub-títulos (con contador)\n  // van en el caption de cada data_table, evitando duplicar el header. El header\n  // lleva un emoji marcador + un kicker de contexto debajo para fijar la jerarquía\n  // de sección frente al caption de las tablas (decisión validada en Block Kit Builder).\n  const blocks = [\n    { type:'header', text:{ type:'plain_text', text:':round_pushpin: Prioridades globales', emoji:true } },\n    { type:'context', elements:[{ type:'mrkdwn', text:'_Cola de Producto y Tecnología · priorización y seguimiento_' }] }\n  ];\n\n  // --- What's next ---  (Rank consecutivo + Estado del PWI)\n  if (next.length) {\n    const headerNext = tecnico\n      ? ['Rank','PWI','Requerimiento','Estado','Prioridad','Área','EWI']\n      : ['Rank','PWI','Requerimiento','Estado','Prioridad','Área'];\n    const rowsNext = next.map((r, i) => {\n      const base = [String(i+1), r.key, r.summary, r.status, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's next? (${next.length})`, headerNext, rowsNext));\n  } else {\n    blocks.push(emptyNote(`*What's next? (0)* — _Sin requerimientos en cola de priorización._`));\n  }\n\n  // --- What's going on ---  (Estado del EWI espejo)\n  if (going.length) {\n    const headerGoing = tecnico\n      ? ['PWI','Requerimiento','Estado','Avance','Prioridad','Área','EWI']\n      : ['PWI','Requerimiento','Estado','Avance','Prioridad','Área'];\n    const rowsGoing = going.map(r => {\n      const estadoEwi = r._esp ? r._esp.status : (r.status || '—');\n      const comp = completitud(r._esp, byParent);\n      const avance = progressBar(comp.pct) + (comp.label !== '—' ? ` (${comp.label})` : '');\n      const base = [r.key, r.summary, estadoEwi, avance, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's going on? (${going.length})`, headerGoing, rowsGoing));\n  } else {\n    blocks.push(emptyNote(`*What's going on? (0)* — _Nada en desarrollo ahora._`));\n  }\n\n  return blocks;\n}\n\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key, summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    project: (it.fields && it.fields.project && it.fields.project.key) || (String(it.key||'').split('-')[0]),\n    issuelinks: (it.fields && it.fields.issuelinks) || [],\n    rank: f.customfield_10019 || '',\n    causedByPwi: causedByPwiKey(f.issuelinks)\n  };\n}\nconst rows = issues.map(row);\n// Separar por proyecto: secciones operativas usan EWI; prioridades usa PWI.\nconst ewiRows = rows.filter(r => r.project === 'EWI');\nconst pwiRows = rows.filter(r => r.project === 'PWI');\nfunction inStatus(r, arr){ return arr.includes(r.status); }\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// Card (slack_icon rocket). opts.useBlockedCause -> body=causa; opts.withButton -> boton Ver en Jira\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText = opts.useBlockedCause\n    ? (r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_')\n    : (r.summary || '_Sin descripción_');\n  const card = {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) }\n  };\n  if (opts.withButton) {\n    card.actions = [{\n      type: 'button',\n      text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n      action_id: `view_${r.key}`,\n      url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n    }];\n  }\n  return card;\n}\nfunction carousel(cardRows, opts){ return { type:'carousel', elements: cardRows.map(r => pwiCard(r, opts)) }; }\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\n\n// Identidad + flag TL\nconst isTL = bj.is_tech_lead;\n\n// Desarrollo\nconst devEnCurso     = ewiRows.filter(r => inStatus(r, ['IN PROGRESS','CODE REVIEW']) && r.assignee);\nconst devDisponibles = ewiRows.filter(r => r.status === 'READY FOR DEV' && !r.assignee);\nconst devBloqueados  = ewiRows.filter(r => r.status === 'BLOCKED' && (isTL || r.assignee));\n// Refinamiento (solo TL)\nconst refDisponibles = ewiRows.filter(r => r.status === 'TO REFINEMENT' && !r.assignee);\nconst refParaHacer   = ewiRows.filter(r => r.status === 'TO REFINEMENT' && r.assignee);\nconst refEnCurso     = ewiRows.filter(r => r.status === 'IN REFINEMENT');\n\n// --- Cola global (TL): EWIs en refinamiento/dev que son caused-by una PWI,\n// ordenados por LexoRank. Filtra los candidatos que trajo la query. ---\n\nconst OPT  = { withButton:true };                       // body=summary, con boton\nconst OPTB = { withButton:true, useBlockedCause:true }; // body=causa, con boton\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\n${isTL ? 'Vista de Liderazgo · Tecnología' : 'Vista de Desarrollador · Tecnología'}` } },\n  { type:'actions', elements:[\n    { type:'button', style:'danger', text:{type:'plain_text',text:'Informar bloqueante',emoji:true}, action_id:'report_blocker', value:'blocker' }\n  ]},\n];\n\nif (isTL) {\n  blocks.push({ type:'divider' });\n  blocks.push({ type:'header', text:{ type:'plain_text', text:'▸ REFINAMIENTO', emoji:true } });\n  blocks.push(...sectionCarousel('Disponibles', refDisponibles, OPT, '_Nada disponible para refinar._'));\n  blocks.push(...sectionCarousel('Para hacer', refParaHacer, OPT, '_Nada asignado para refinar._'));\n  blocks.push(...sectionCarousel('En curso', refEnCurso, OPT, '_Nada refinando ahora._'));\n}\n\nblocks.push({ type:'divider' });\nblocks.push({ type:'header', text:{ type:'plain_text', text:isTL ? '▸ DESARROLLO' : 'Desarrollo', emoji:true } });\nblocks.push(...sectionCarousel('En curso', devEnCurso, OPT, '_Nada en curso._'));\nblocks.push(...sectionCarousel('Disponibles', devDisponibles, OPT, '_Sin tickets disponibles._'));\nblocks.push(...sectionCarousel('Bloqueados', devBloqueados, OPTB, '_Sin bloqueos._'));\n\n// --- Prioridades Globales (solo TL): cola priorizada de EWIs ligados a PWIs ---\n// Prioridades globales — la ven TODOS los perfiles técnicos (dev común incluido).\nblocks.push({ type:'divider' });\nblocks.push(...buildPrioridadesGlobales(pwiRows, { tecnico:true, counts: prioCounts, byParent }));\n\nblocks.push({ type:'context', elements:[{ type:'mrkdwn', text:`Miles · ${prioCounts.next||0} en cola · ${prioCounts.going||0} en curso · datos en vivo` }] });\n\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "a1c06326-c68b-463a-87fa-12d80d046dce",
      "name": "Build Home — Tecnico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20704,
        54272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "producto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "producto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "stakeholder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stakeholder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "lider",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lider"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "tecnico",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tecnico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build JQL').first().json.profile }}",
                    "rightValue": "it_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "it_lead"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "id": "79398063-adc1-44bc-ba22-1455587287e0",
      "name": "Switch — Profile",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        20480,
        54032
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/43a8018b-e397-44b6-87f6-59c6dadaba00/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ page_size: 100 }) }}",
        "options": {}
      },
      "id": "9adc08b5-50d1-4743-966a-57eb8a37a86d",
      "name": "Resolve Area Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        19808,
        54032
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ============================================================================\n// miles-slack-event-router · Build JQL\n// ----------------------------------------------------------------------------\n// Arma el JQL segun el perfil. Una query amplia por perfil; el reparto en\n// secciones se hace despues en el builder.\n// Estados verificados 2026-06-06 (PWI y EWI).\n// ============================================================================\n\nconst rp = $('Resolve Profile').first().json;\nconst profile = rp.profile;\nconst jiraId = rp.jira_id;\nconst areaId = rp.business_area_id;\nconst isTL = rp.is_tech_lead;\n\n// Resolver nombre de area desde Resolve Area Name (pageId -> Name)\nlet areaName = null;\nif (areaId) {\n  const areas = $('Resolve Area Name').first().json.results || [];\n  const match = areas.find(a => a.id === areaId);\n  areaName = match ? (match.properties?.Name?.title?.[0]?.plain_text || null) : null;\n}\n\nfunction esc(s){ return String(s).replace(/\"/g, '\\\\\"'); }\n\nlet jql = '';\nif (profile === 'stakeholder' || profile === 'lider') {\n  // Query amplia: TODOS los PWIs activos. El builder reparte:\n  //  - las 4 secciones por estado se filtran al area (en JS)\n  //  - la tabla de Prioridades globales usa todos (cola global)\n  jql = `project = PWI AND status NOT IN (Done, DEPRECATED) ORDER BY status ASC`;\n} else if (profile === 'producto') {\n  // PWIs: query amplia (todos los activos). El reparto personal (mis secciones)\n  // vs global (Prioridades Globales) se hace en el builder por assignee.\n  jql = `project = PWI AND status NOT IN (\"IN DEVELOPMENT\", Done, DEPRECATED) ORDER BY status ASC`;\n} else if (profile === 'it_lead') {\n  // Liderazgo de IT: EWI activo (operativo) + PWI Requirement activos (Prioridades\n  // globales, construidas desde el PWI; ver miles-home-discovery.md H6).\n  jql = `( project = EWI AND status NOT IN (Done, DEPRECATED) ) OR ( project = PWI AND issuetype = Requirement AND status NOT IN (Done, DEPRECATED) ) ORDER BY status ASC`;\n} else if (profile === 'tecnico') {\n  // EWIs. Dev comun: lo mio (in progress/code review/blocked propios) + disponibles (ready for dev sin asignar).\n  // TL: ademas refinamiento (to/in refinement) + TODOS los BLOCKED del EWI (de cualquier persona).\n  const mine = jiraId ? `assignee = \"${esc(jiraId)}\"` : 'assignee IS EMPTY';\n  const devStates = '\"IN PROGRESS\",\"CODE REVIEW\",BLOCKED';\n  const refStates = isTL ? ',\"TO REFINEMENT\",\"IN REFINEMENT\"' : '';\n  const ewiJql = `project = EWI AND ( (${mine} AND status IN (${devStates}${refStates})) OR (assignee IS EMPTY AND status IN (\"READY FOR DEV\"${isTL ? ',\"TO REFINEMENT\",\"IN REFINEMENT\"' : ''})) )`;\n  // Prioridades globales la ven TODOS los técnicos -> sumar PWI Requirement activos siempre.\n  // El builder separa por project.key y arma las dos tablas desde el PWI (H6).\n  jql = `( ${ewiJql} ) OR ( project = PWI AND issuetype = Requirement AND status NOT IN (Done, DEPRECATED) ) ORDER BY status ASC`;\n} else {\n  jql = `project = PWI AND assignee IS EMPTY AND status = \"To Do\"`;\n}\n\nreturn [{ json: { jql, profile, jira_id: jiraId, area_name: areaName, is_tech_lead: isTL,\n                  user_id: rp.user_id, publish_user_id: rp.publish_user_id, first_name: rp.first_name } }];\n"
      },
      "id": "c4550b8d-1713-42a8-ab0a-f46678bd974a",
      "name": "Build JQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20032,
        54032
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.arduasolutions.com/webhook/jira-work-items",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ operation: 'search', jql: $json.jql, maxResults: 100, fields: 'summary,status,assignee,customfield_10310,priority,customfield_10306,statuscategorychangedate,issuetype,customfield_10019,issuelinks' }) }}",
        "options": {}
      },
      "id": "d6525fd7-b0de-43b5-bf5d-11d491252fa3",
      "name": "Query Jira (via handler)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        20256,
        54032
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Identidad\nconst bj = $('Build JQL').first().json;\nconst userId = bj.user_id;\nconst publishUserId = bj.publish_user_id || bj.user_id;\nconst firstName = bj.first_name || 'che';\nconst areaName = bj.area_name || 'tu área';\n// La respuesta del handler puede venir como objeto o string JSON\nlet _resp = $('Query Jira (via handler)').item.json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\nconst prioCounts = {};\n// byParent: child de los espejos Story de going-on (Fetch Children Progress).\nlet _children = $json;\nif (typeof _children === 'string') { try { _children = JSON.parse(_children); } catch(e){ _children = {}; } }\nif (_children && _children.body && !_children.byParent) {\n  let b = _children.body; if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _children = b;\n}\nconst byParent = (_children && _children.byParent) || {};\n\n// --- Aplanador ADF -> texto (Blocked cause: parrafo o tabla) ---\nfunction adfToText(node){\n  if (!node || typeof node !== 'object') return '';\n  const t = node.type;\n  if (t === 'text') return node.text || '';\n  if (t === 'hardBreak') return ' ';\n  if (t === 'mention') return (node.attrs && node.attrs.text) || '';\n  if (t === 'emoji')   return (node.attrs && (node.attrs.text || node.attrs.shortName)) || '';\n  if (t === 'inlineCard' || t === 'blockCard') {\n    const u = node.attrs && node.attrs.url ? node.attrs.url : '';\n    return u ? `[${u}]` : '[link]';\n  }\n  const kids = Array.isArray(node.content) ? node.content : [];\n  if (t === 'tableCell' || t === 'tableHeader') return kids.map(adfToText).filter(Boolean).join(' ').trim();\n  if (t === 'tableRow') return kids.map(adfToText).filter(Boolean).join(' · ');\n  if (t === 'table')    return kids.map(adfToText).filter(Boolean).join('\\n');\n  if (t === 'paragraph') return kids.map(adfToText).join('');\n  return kids.map(adfToText).filter(Boolean).join('\\n');\n}\nfunction blockedCauseText(adf){\n  if (!adf) return null;\n  let txt = adfToText(adf).replace(/\\n{2,}/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n  if (!txt) return null;\n  const LIMIT = 280;\n  if (txt.length > LIMIT) txt = txt.slice(0, LIMIT - 1).trimEnd() + '…';\n  return txt;\n}\nfunction daysAgo(iso){ if(!iso) return null; const d=new Date(iso); if(isNaN(d)) return null; return Math.floor((Date.now()-d.getTime())/86400000); }\nfunction agoLabel(iso){ const d=daysAgo(iso); if(d===null) return null; if(d<=0) return 'hoy'; if(d===1) return 'hace 1 día'; return `hace ${d} días`; }\nfunction prioEmoji(p){ p=(p||'').toLowerCase(); if(p==='highest')return'🔺'; if(p==='high')return'🔴'; if(p==='medium')return'🟠'; if(p==='low')return'🟢'; return'⚪'; }\nfunction clip(s,n){ s=String(s||''); return s.length>n ? s.slice(0,n-1).trimEnd()+'…' : s; }\n\n// Extrae la PWI que CAUSA este EWI (link \"is caused by\" -> inwardIssue del proyecto PWI).\n// Replica en JS el filtro que las automatizaciones hacen con el Branch \"is caused by\".\nfunction causedByPwiKey(links){\n  if (!Array.isArray(links)) return null;\n  for (const l of links) {\n    const t = l.type || {};\n    // El EWI \"is caused by\" la PWI: la PWI aparece como inwardIssue cuando inward = \"is caused by\".\n    if (t.inward === 'is caused by' && l.inwardIssue) {\n      const k = l.inwardIssue.key || '';\n      if (k.startsWith('PWI-')) return k;\n    }\n    // Robustez: tambien contemplar el caso espejo (outward causes apuntando a PWI)\n    if (t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      if (k.startsWith('PWI-')) return k;\n    }\n  }\n  return null;\n}\n// ============================================================================\n// BLOQUE COMÚN — Sección \"Prioridades globales\" (dos tablas: What's next / What's going on)\n// Se inyecta en los 5 builders. Construida SIEMPRE desde el PWI. La ven TODOS los perfiles.\n// Depende de: helpers table()/emptyNote() definidos en el builder.\n// opts.tecnico=true agrega la columna EWI (key del espejo) en ambas tablas.\n// ----------------------------------------------------------------------------\n// Columnas:\n//   What's next     : Rank · PWI · Requerimiento · Estado(PWI) · Prioridad · Área [· EWI]\n//                     (Rank = entero consecutivo 1,2,3… según orden LexoRank del PWI)\n//   What's going on : PWI · Requerimiento · Estado(EWI) · Prioridad · Área [· EWI]\n//                     (Estado = estado del EWI espejo: lo más cercano a la realidad)\n// ============================================================================\n\n// Resuelve el EWI espejo válido de un PWI Requirement desde sus issuelinks.\n// Validación del par: name 'Problem/Incident' + outward 'causes' + target EWI-*\n// + tipo Epic/Story. Descarta Relates/Blocks, AM-* legacy y links sucios.\nfunction espejoValido(issuelinks){\n  if (!Array.isArray(issuelinks)) return null;\n  for (const l of issuelinks) {\n    const t = l.type || {};\n    if (t.name === 'Problem/Incident' && t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      const ty = ((l.outwardIssue.fields || {}).issuetype || {}).name || '';\n      if (k.startsWith('EWI-') && (ty === 'Epic' || ty === 'Story')) {\n        const stObj = ((l.outwardIssue.fields || {}).status || {});\n        const st = stObj.name || '';\n        const stCat = (stObj.statusCategory || {}).key || '';\n        return { key: k, type: ty, status: st, statusCategory: stCat };\n      }\n    }\n  }\n  return null;\n}\n\nfunction rankCmp(a, b){\n  if (!a.rank && !b.rank) return 0;\n  if (!a.rank) return 1;\n  if (!b.rank) return -1;\n  return a.rank < b.rank ? -1 : (a.rank > b.rank ? 1 : 0);\n}\n\n// Orden de fase para \"What's going on\" (avance del pipeline de dev del PWI).\nconst PWI_PHASE_ORDER = { 'SENT TO DEV':0, 'READY FOR DEV':1, 'IN DEVELOPMENT':2, 'BLOCKED':3 };\nfunction phaseCmp(a, b){\n  const pa = PWI_PHASE_ORDER[a.status] ?? 99;\n  const pb = PWI_PHASE_ORDER[b.status] ?? 99;\n  if (pa !== pb) return pa - pb;\n  return rankCmp(a, b);\n}\n\n\n// Barra de progreso textual de 10 segmentos.\nfunction progressBar(pct){\n  const filled = Math.round((pct/100)*10);\n  return '\\u2593'.repeat(filled) + '\\u2591'.repeat(10-filled) + ` ${pct}%`;\n}\n\n// Completitud de un PWI en going-on, dado su espejo y el mapa byParent.\n// Regla: si el espejo Story tiene child -> done/total (mandan los child).\n//        si no tiene child -> la Story es la unidad: 100 si está Done, 0 si no.\nfunction completitud(esp, byParent){\n  if (!esp) return { pct: 0, label: '\\u2014' };\n  const childs = (byParent && byParent[esp.key]) || [];\n  if (childs.length > 0) {\n    const done = childs.filter(c => c.statusCategory === 'done').length;\n    const total = childs.length;\n    const pct = Math.round((done/total)*100);\n    return { pct, label: `${done}/${total}` };\n  }\n  // sin child: la Story misma\n  const espDone = (esp.statusCategory || '').toLowerCase() === 'done';\n  return { pct: espDone ? 100 : 0, label: '\\u2014' };\n}\n\n// Construye la sección \"Prioridades globales\" completa (header + dos sub-tablas).\n// rows: array normalizado con key, summary, status, priority, area, rank,\n//       issueType, issuelinks (raw, para resolver el espejo).\nfunction buildPrioridadesGlobales(rows, opts){\n  opts = opts || {};\n  const tecnico = !!opts.tecnico;\n  const counts = (opts.counts && typeof opts.counts === 'object') ? opts.counts : null;\n  const byParent = (opts.byParent && typeof opts.byParent === 'object') ? opts.byParent : {};\n\n  // Solo PWI Requirement entran a la cola (perspectiva del PWI).\n  const reqs = rows.filter(r => r.issueType === 'Requirement');\n\n  const next = [], going = [];\n  for (const r of reqs) {\n    const esp = espejoValido(r.issuelinks);\n    r._esp = esp;\n    if (!esp || esp.type === 'Epic') next.push(r);  // sin espejo o en refinamiento\n    else going.push(r);                              // espejo Story -> en desarrollo\n  }\n  next.sort(rankCmp);\n  going.sort(phaseCmp);\n  if (counts) { counts.next = next.length; counts.going = going.length; }\n\n  // Header de sección que engloba las dos tablas. Los sub-títulos (con contador)\n  // van en el caption de cada data_table, evitando duplicar el header. El header\n  // lleva un emoji marcador + un kicker de contexto debajo para fijar la jerarquía\n  // de sección frente al caption de las tablas (decisión validada en Block Kit Builder).\n  const blocks = [\n    { type:'header', text:{ type:'plain_text', text:':round_pushpin: Prioridades globales', emoji:true } },\n    { type:'context', elements:[{ type:'mrkdwn', text:'_Cola de Producto y Tecnología · priorización y seguimiento_' }] }\n  ];\n\n  // --- What's next ---  (Rank consecutivo + Estado del PWI)\n  if (next.length) {\n    const headerNext = tecnico\n      ? ['Rank','PWI','Requerimiento','Estado','Prioridad','Área','EWI']\n      : ['Rank','PWI','Requerimiento','Estado','Prioridad','Área'];\n    const rowsNext = next.map((r, i) => {\n      const base = [String(i+1), r.key, r.summary, r.status, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's next? (${next.length})`, headerNext, rowsNext));\n  } else {\n    blocks.push(emptyNote(`*What's next? (0)* — _Sin requerimientos en cola de priorización._`));\n  }\n\n  // --- What's going on ---  (Estado del EWI espejo)\n  if (going.length) {\n    const headerGoing = tecnico\n      ? ['PWI','Requerimiento','Estado','Avance','Prioridad','Área','EWI']\n      : ['PWI','Requerimiento','Estado','Avance','Prioridad','Área'];\n    const rowsGoing = going.map(r => {\n      const estadoEwi = r._esp ? r._esp.status : (r.status || '—');\n      const comp = completitud(r._esp, byParent);\n      const avance = progressBar(comp.pct) + (comp.label !== '—' ? ` (${comp.label})` : '');\n      const base = [r.key, r.summary, estadoEwi, avance, r.priority||'—', r.area||'—'];\n      if (tecnico) base.push(r._esp ? r._esp.key : '—');\n      return base;\n    });\n    blocks.push(table(`What's going on? (${going.length})`, headerGoing, rowsGoing));\n  } else {\n    blocks.push(emptyNote(`*What's going on? (0)* — _Nada en desarrollo ahora._`));\n  }\n\n  return blocks;\n}\n\nfunction row(it){\n  const f = it.fields || {};\n  const a = f.assignee || null;\n  return {\n    key: it.key, summary: f.summary || '',\n    status: f.status ? f.status.name : '',\n    assignee: a ? (a.displayName || '') : '',\n    assigneeId: a ? (a.accountId || '') : '',\n    area: f.customfield_10310 ? (f.customfield_10310.value || f.customfield_10310.name || '') : '',\n    priority: f.priority ? f.priority.name : '',\n    blockedCause: blockedCauseText(f.customfield_10306),\n    blockedSince: f.statuscategorychangedate || null,\n    issueType: f.issuetype ? f.issuetype.name : '',\n    project: (it.fields && it.fields.project && it.fields.project.key) || (String(it.key||'').split('-')[0]),\n    issuelinks: (it.fields && it.fields.issuelinks) || [],\n    rank: f.customfield_10019 || '',\n    causedByPwi: causedByPwiKey(f.issuelinks)\n  };\n}\nconst rows = issues.map(row);\n// Separar por proyecto: secciones operativas usan EWI; prioridades usa PWI.\nconst ewiRows = rows.filter(r => r.project === 'EWI');\nconst pwiRows = rows.filter(r => r.project === 'PWI');\nfunction inStatus(r, arr){ return arr.includes(r.status); }\n\nfunction table(caption, header, dataRows){\n  const head = header.map(h => ({type:'raw_text', text:h}));\n  const body = dataRows.map(cells => cells.map(c => ({type:'raw_text', text:String(c)})));\n  return { type:'data_table', caption, rows:[head, ...body] };\n}\nfunction emptyNote(txt){ return { type:'context', elements:[{type:'mrkdwn', text:txt}] }; }\n\n// Card (slack_icon rocket). opts.useBlockedCause -> body=causa; opts.withButton -> boton Ver en Jira\nfunction pwiCard(r, opts){\n  opts = opts || {};\n  const ago = agoLabel(r.blockedSince);\n  const subParts = [];\n  if (r.priority) subParts.push(`${prioEmoji(r.priority)} ${r.priority}`);\n  if (r.area)     subParts.push(`📍 ${r.area}`);\n  if (ago)        subParts.push(`⏱ ${ago}`);\n  let bodyText = opts.useBlockedCause\n    ? (r.blockedCause ? r.blockedCause : '_Sin motivo en Blocked cause_')\n    : (r.summary || '_Sin descripción_');\n  const card = {\n    type: 'card',\n    block_id: `card-${r.key}`,\n    slack_icon: { type: 'icon', name: 'rocket' },\n    title:    { type: 'mrkdwn', text: `*${r.key}* · ${clip(r.summary, 80)}` },\n    subtitle: { type: 'mrkdwn', text: subParts.join('  ·  ') || '—' },\n    body:     { type: 'mrkdwn', text: (bodyText && bodyText.length > 200 ? bodyText.slice(0, 199).trimEnd() + '\\u2026' : bodyText) }\n  };\n  if (opts.withButton) {\n    card.actions = [{\n      type: 'button',\n      text: { type: 'plain_text', text: 'Ver en Jira', emoji: true },\n      action_id: `view_${r.key}`,\n      url: `https://arduasolutions.atlassian.net/browse/${r.key}`\n    }];\n  }\n  return card;\n}\nfunction carousel(cardRows, opts){ return { type:'carousel', elements: cardRows.map(r => pwiCard(r, opts)) }; }\nfunction sectionCarousel(title, rowsArr, opts, emptyTxt){\n  const out = [{ type:'header', text:{ type:'plain_text', text:`${title} (${rowsArr.length})`, emoji:true } }];\n  if (!rowsArr.length) { out.push(emptyNote(emptyTxt)); return out; }\n  const CAP = 10; // Slack: max 10 cards por carousel\n  out.push(carousel(rowsArr.slice(0, CAP), opts));\n  if (rowsArr.length > CAP) out.push(emptyNote(`_…y ${rowsArr.length - CAP} más._`));\n  return out;\n}\n\n\n// Vista global de IT (CTO / Head of Technology). Sin parte \"asignada a mi\":\n// agrupa TODO el EWI activo por estado.\n\n// Refinamiento (global)\nconst refDisponibles = ewiRows.filter(r => r.status === 'TO REFINEMENT' && !r.assignee);\nconst refParaHacer   = ewiRows.filter(r => r.status === 'TO REFINEMENT' && r.assignee);\nconst refEnCurso     = ewiRows.filter(r => r.status === 'IN REFINEMENT');\n// Desarrollo (global)\nconst devDisponibles = ewiRows.filter(r => r.status === 'READY FOR DEV' && !r.assignee);\nconst devEnCurso     = ewiRows.filter(r => inStatus(r, ['IN PROGRESS','CODE REVIEW']));\nconst devBloqueados  = ewiRows.filter(r => r.status === 'BLOCKED');\n\n// Cola global: EWIs caused-by una PWI, ordenados por LexoRank\n\nconst OPT  = { withButton:true };\nconst OPTB = { withButton:true, useBlockedCause:true };\n\nconst blocks = [\n  { type:'section', text:{ type:'mrkdwn', text:`:wave: *Hola, ${firstName}*\\nVista Global de IT \\u00b7 Tecnolog\\u00eda` } },\n  { type:'actions', elements:[\n    { type:'button', style:'danger', text:{type:'plain_text',text:'Informar bloqueante',emoji:true}, action_id:'report_blocker', value:'blocker' }\n  ]},\n];\n\nblocks.push({ type:'divider' });\nblocks.push({ type:'header', text:{ type:'plain_text', text:'\\u25b8 REFINAMIENTO', emoji:true } });\nblocks.push(...sectionCarousel('Disponibles', refDisponibles, OPT, '_Nada disponible para refinar._'));\nblocks.push(...sectionCarousel('Para hacer', refParaHacer, OPT, '_Nada asignado para refinar._'));\nblocks.push(...sectionCarousel('En curso', refEnCurso, OPT, '_Nada refinando ahora._'));\n\nblocks.push({ type:'divider' });\nblocks.push({ type:'header', text:{ type:'plain_text', text:'\\u25b8 DESARROLLO', emoji:true } });\nblocks.push(...sectionCarousel('Disponibles', devDisponibles, OPT, '_Sin tickets disponibles._'));\nblocks.push(...sectionCarousel('En curso', devEnCurso, OPT, '_Nada en curso._'));\nblocks.push(...sectionCarousel('Bloqueados', devBloqueados, OPTB, '_Sin bloqueos._'));\n\nblocks.push({ type:'divider' });\nblocks.push(...buildPrioridadesGlobales(pwiRows, { tecnico:true, counts: prioCounts, byParent }));\n\nblocks.push({ type:'context', elements:[{ type:'mrkdwn', text:`Miles · ${prioCounts.next||0} en cola · ${prioCounts.going||0} en curso · datos en vivo` }] });\n\nconst view={type:'home',blocks};\nreturn [{ json:{ user_id:userId, publish_user_id:publishUserId, view:JSON.stringify(view) } }];\n"
      },
      "id": "23c7804f-b4b7-421a-b8cc-495b037ec803",
      "name": "Build Home — IT Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19888,
        55504
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// ============================================================================\n// miles-slack-event-router · Resolve Children Keys\n// ----------------------------------------------------------------------------\n// Entre Query Jira y Fetch Children Progress. Resuelve los EWI espejo (Story) de\n// las PWI que caen en \"What's going on\" y arma parentKeys para pedir sus child\n// al handler (operación search_children). Preserva los issues originales.\n// ============================================================================\nlet _resp = $json;\nif (typeof _resp === 'string') { try { _resp = JSON.parse(_resp); } catch(e){ _resp = {}; } }\nif (_resp && _resp.body && !_resp.issues) {\n  let b = _resp.body;\n  if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  _resp = b;\n}\nconst issues = (_resp && _resp.issues) || [];\n\n// Espejo Story válido desde el PWI (mismo criterio que el builder).\nfunction espejoStory(issuelinks){\n  if (!Array.isArray(issuelinks)) return null;\n  for (const l of issuelinks) {\n    const t = l.type || {};\n    if (t.name === 'Problem/Incident' && t.outward === 'causes' && l.outwardIssue) {\n      const k = l.outwardIssue.key || '';\n      const ty = ((l.outwardIssue.fields || {}).issuetype || {}).name || '';\n      if (k.startsWith('EWI-') && ty === 'Story') return k;  // solo Story = going on\n    }\n  }\n  return null;\n}\n\nconst parentKeys = [];\nfor (const it of issues) {\n  const f = it.fields || {};\n  if (!(f.issuetype && f.issuetype.name === 'Requirement')) continue;\n  if (f.project && f.project.key && f.project.key !== 'PWI') continue;\n  const k = espejoStory(f.issuelinks);\n  if (k && !parentKeys.includes(k)) parentKeys.push(k);\n}\n\n// Pasa los issues (para que el HTTP los arrastre) + parentKeys\nreturn [{ json: { _issuesPassthrough: _resp, parentKeys } }];\n"
      },
      "id": "6608c9c7-0af0-4a3c-b37f-cad7ed6226ad",
      "name": "Resolve Children Keys",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20368,
        54256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.arduasolutions.com/webhook/jira-work-items",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ operation: 'search_children', parentKeys: $json.parentKeys }) }}",
        "options": {}
      },
      "id": "68e3e463-6596-4da3-a530-f285f9f2723a",
      "name": "Fetch Children Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20592,
        54256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/20437e6c297a4afe923a29b5d01ad26c/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { and: [ { property: 'Status', select: { equals: 'Pending' } }, { property: 'Eligible Approver IDs', rich_text: { contains: $('Build JQL').first().json.user_id } } ] } }) }}",
        "options": {}
      },
      "id": "ef643334-7684-4499-b150-d015eadd8d2e",
      "name": "Query Approval Locks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        20704,
        54352
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-slack-event-router · Split Locks\n// ----------------------------------------------------------------------------\n// Desagrega los locks Pending del lider (de 'Query Approval Locks') a N items,\n// uno por lock, para que 'Fetch Thread' (HTTP) lea cada hilo por item.\n// NO hace llamadas externas. Arrastra byParent (de Fetch Children Progress)\n// en cada item para reensamblar luego.\n// Sin pendientes -> 1 item { approval_empty:true, byParent }.\n// ============================================================================\n\nlet prev = $('Fetch Children Progress').item.json;\nif (typeof prev === 'string') { try { prev = JSON.parse(prev); } catch(e){ prev = {}; } }\nif (prev && prev.body && !prev.byParent) {\n  let b = prev.body; if (typeof b === 'string') { try { b = JSON.parse(b); } catch(e){ b = {}; } }\n  prev = b;\n}\nconst byParent = (prev && prev.byParent) || {};\n\nconst locks = ($('Query Approval Locks').item.json.results) || [];\n\nfunction daysAgo(iso){ if(!iso) return null; const d=new Date(iso); if(isNaN(d)) return null; return Math.floor((Date.now()-d.getTime())/86400000); }\n\nconst rows = [];\nfor (const lock of locks){\n  const p = lock.properties || {};\n  const threadId    = p['Thread ID']?.title?.[0]?.plain_text || '';\n  const channelId   = p['Channel ID']?.rich_text?.[0]?.plain_text || '';\n  const requesterId = p['Requester ID']?.rich_text?.[0]?.plain_text || '';\n  const lockedAt    = p['Locked At']?.created_time || lock.created_time || '';\n  if (!threadId || !channelId) continue;\n  const threadUrl = 'https://arduasolutions.slack.com/archives/' + channelId + '/p' + threadId.replace('.', '')\n    + '?thread_ts=' + threadId + '&cid=' + channelId;\n  rows.push({ threadId, channelId, requesterId, lockedAt, threadUrl, daysWaiting: daysAgo(lockedAt), byParent });\n}\n\nif (rows.length === 0) return [{ json: { approval_empty: true, byParent } }];\nreturn rows.map(r => ({ json: r }));\n"
      },
      "id": "a1a5aa29-59c0-47ea-a08f-7b924443bbc9",
      "name": "Split Locks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20928,
        54352
      ]
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.replies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channelId || '' }}"
            },
            {
              "name": "ts",
              "value": "={{ $json.threadId || '' }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "294caaea-1149-4d83-8b15-31bd28640bd6",
      "name": "Fetch Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        21152,
        54352
      ],
      "credentials": {
        "slackApi": {
          "id": "BCycvSbTaX6nUIo1",
          "name": "Slack-API-Miles"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-slack-event-router · Parse Thread\n// ----------------------------------------------------------------------------\n// Por item: toma la respuesta de 'Fetch Thread' (Slack conversations.replies)\n// en $json y los datos de la card por referencia a 'Split Locks'. Extrae el\n// Problema (texto del hilo) y arma fullText (material para Groq). Re-valida que\n// el hilo no este ya resuelto en Slack -> si lo esta, marca _skip=true.\n// El item vacio (approval_empty) pasa de largo.\n// ============================================================================\n\nconst me = $json;                         // respuesta de Slack (o item vacio)\nlet src;\ntry { src = $('Split Locks').item.json; } // datos de la card (item-paired)\ncatch (e) { src = {}; }\n\n// Item vacio (sin pendientes) -> pasar tal cual\nif (src && src.approval_empty) {\n  return [{ json: { approval_empty: true, byParent: src.byParent || {} } }];\n}\n\nconst replies = (me && me.messages) || [];\n\n// --- helpers ---\nfunction blocksToText(blocks){\n  if (!Array.isArray(blocks)) return '';\n  const parts = [];\n  function walk(el){\n    if (!el || typeof el !== 'object') return;\n    const t = el.type;\n    if (t === 'text')      parts.push(el.text || '');\n    else if (t === 'emoji') parts.push(':' + (el.name || '') + ':');\n    else if (t === 'link')  parts.push(el.text || el.url || '');\n    else if (t === 'user')  parts.push('<@' + (el.user_id || '') + '>');\n    const kids = el.elements || el.element || null;\n    if (Array.isArray(kids)) kids.forEach(walk);\n  }\n  for (const b of blocks){ if (b && Array.isArray(b.elements)) b.elements.forEach(walk); parts.push('\\n'); }\n  return parts.join('');\n}\nfunction extractFromText(text){\n  if (!text) return '';\n  const startRe = /:mag:\\s*_?\\s*Problema\\s*_?/i;\n  const m = text.match(startRe);\n  if (!m) return '';\n  let rest = text.slice(m.index + m[0].length);\n  const cuts = [':compass:', ':warning:', ':white_check_mark:', ':rotating_light:', ':bust_in_silhouette:', '*Enviado', 'Enviado mediante'];\n  let cut = rest.length;\n  for (const c of cuts){ const i = rest.indexOf(c); if (i !== -1 && i < cut) cut = i; }\n  return rest.slice(0, cut).replace(/^[\\s_*:]+/, '').replace(/[\\s_*]+$/, '').trim();\n}\nfunction rootText(msg){\n  if (!msg) return '';\n  const t = (msg.text || '').trim();\n  if (t) return t;\n  return blocksToText(msg.blocks).trim();\n}\nfunction isResolved(messages){\n  for (const m of messages){\n    const t = m.text || '';\n    if (t.indexOf('\\u{1F389} Requerimiento creado') !== -1) return true;\n    if (/tu requerimiento fue rechazado por/i.test(t)) return true;\n  }\n  return false;\n}\n\nconst root = replies[0] || null;\nconst full = rootText(root);\nlet problema = extractFromText(full);\nif (!problema) problema = extractFromText(blocksToText(root && root.blocks));\n\nconst skip = replies.length > 0 && isResolved(replies);\n\nreturn [{ json: {\n  threadId: src.threadId, channelId: src.channelId, requesterId: src.requesterId,\n  lockedAt: src.lockedAt, threadUrl: src.threadUrl, daysWaiting: src.daysWaiting,\n  byParent: src.byParent || {},\n  fullText: full,\n  problemaParser: problema,\n  _skip: skip\n} }];\n"
      },
      "id": "d4f150f6-1879-4da8-9e33-3d49e1345db5",
      "name": "Parse Thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21360,
        54352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.2, max_tokens: 160, messages: [ { role: 'system', content: 'Resumís problemas de requerimientos de producto de forma breve y precisa, en español rioplatense.' }, { role: 'user', content: 'A partir del siguiente requerimiento escrito en un hilo de Slack, devolvé ÚNICAMENTE un resumen del PROBLEMA en 1 o 2 líneas, claro y conciso, sin encabezados ni viñetas ni comillas. No agregues nada más que el resumen.\\n\\n--- REQUERIMIENTO ---\\n' + ($json.fullText || '(sin contenido)') } ] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "dc215c8a-c410-448f-891b-1c5c3e00b773",
      "name": "Summarize Problem (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        21584,
        54352
      ],
      "credentials": {
        "groqApi": {
          "id": "qHxYgDy2Guy89SQR",
          "name": "Groq-API-Miles"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-slack-event-router · Assemble Approval Cards\n// ----------------------------------------------------------------------------\n// Recibe N items que pasaron por Groq. Resumen en $json (choices...). Datos de\n// la card por referencia a 'Parse Thread' (item-paired).\n// Cascada: resumen Groq -> problemaParser -> '' ('abri el hilo').\n// Descarta items _skip (resueltos en Slack) y approval_empty. Reinyecta byParent.\n// ============================================================================\n\nconst items = $input.all();\nfunction cleanLLM(s){ return String(s || '').replace(/^[\"'\\s]+|[\"'\\s]+$/g, '').trim(); }\nfunction groqSummary(json){\n  try {\n    let r = json;\n    if (typeof r === 'string') r = JSON.parse(r);\n    if (r && r.body && !r.choices) { let b = r.body; if (typeof b === 'string') b = JSON.parse(b); r = b; }\n    const c = r && r.choices && r.choices[0] && r.choices[0].message ? r.choices[0].message.content : '';\n    return cleanLLM(c);\n  } catch (e) { return ''; }\n}\n\nlet byParent = {};\nconst cards = [];\n\nfor (let i = 0; i < items.length; i++) {\n  let src;\n  try { src = $('Parse Thread').all()[i].json; }\n  catch (e) { src = items[i].json || {}; }\n\n  if (!byParent || Object.keys(byParent).length === 0) {\n    byParent = (src && src.byParent) || (items[i].json && items[i].json.byParent) || byParent;\n  }\n\n  if (src && src.approval_empty) continue;\n  if (src && src._skip) continue;            // ya resuelto en Slack\n  if (!src || !src.threadId) continue;\n\n  const resumen = groqSummary(items[i].json);\n  const problema = resumen || src.problemaParser || '';\n\n  cards.push({\n    threadId: src.threadId, channelId: src.channelId, requesterId: src.requesterId,\n    lockedAt: src.lockedAt, problema, threadUrl: src.threadUrl, daysWaiting: src.daysWaiting,\n  });\n}\n\ncards.sort((a,b) => (b.daysWaiting||0) - (a.daysWaiting||0));\nreturn [{ json: { byParent, approval_cards: cards } }];\n"
      },
      "id": "544641b8-d8f7-49e7-8a2d-31b45ec23e99",
      "name": "Assemble Approval Cards",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21808,
        54352
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger — Slack Events": {
      "main": [
        [
          {
            "node": "Is URL Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URL Verification?": {
      "main": [
        [
          {
            "node": "Respond — URL Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond — Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond — Ack": {
      "main": [
        [
          {
            "node": "Classify Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Event": {
      "main": [
        [
          {
            "node": "Switch — Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Action": {
      "main": [
        [
          {
            "node": "Get Home User Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward — Capture REQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Home User Info": {
      "main": [
        [
          {
            "node": "Query Stakeholder by Slack ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Stakeholder by Slack ID": {
      "main": [
        [
          {
            "node": "Query Capability — ticket.take",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Profile": {
      "main": [
        [
          {
            "node": "Resolve Area Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Capability — ticket.take": {
      "main": [
        [
          {
            "node": "Resolve Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Profile": {
      "main": [
        [
          {
            "node": "Build Home — Producto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Home — Stakeholder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Approval Locks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Home — Tecnico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Home — IT Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — Producto": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — Stakeholder": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — Lider": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — Tecnico": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Area Name": {
      "main": [
        [
          {
            "node": "Build JQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JQL": {
      "main": [
        [
          {
            "node": "Query Jira (via handler)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Jira (via handler)": {
      "main": [
        [
          {
            "node": "Resolve Children Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Home — IT Lead": {
      "main": [
        [
          {
            "node": "Publish App Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Children Keys": {
      "main": [
        [
          {
            "node": "Fetch Children Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Children Progress": {
      "main": [
        [
          {
            "node": "Switch — Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Approval Locks": {
      "main": [
        [
          {
            "node": "Split Locks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Problem (Groq)": {
      "main": [
        [
          {
            "node": "Assemble Approval Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Approval Cards": {
      "main": [
        [
          {
            "node": "Build Home — Lider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Locks": {
      "main": [
        [
          {
            "node": "Fetch Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thread": {
      "main": [
        [
          {
            "node": "Parse Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Thread": {
      "main": [
        [
          {
            "node": "Summarize Problem (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "e40cae59-de59-49d5-8c26-6db6cb912d04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95944be45d5aa5e5565d656a14e718ed8b92e30102ad1bd3fcad4cf1b1c2f383"
  },
  "id": "oAFCmrntS6da6cCA",
  "tags": [
    {
      "updatedAt": "2026-03-25T20:09:56.359Z",
      "createdAt": "2026-03-25T20:09:56.359Z",
      "id": "m3quhhGHST3hiHGb",
      "name": "miles"
    }
  ]
}