workflows/miles-conversation-handler.json
{
  "name": "miles-conversation-handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "req-conversation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3c6d9eee-f49d-4624-96c6-e944f675bbd0",
      "name": "Trigger — Conversation Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6448,
        17968
      ],
      "webhookId": "miles-req-conversation"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {}
      },
      "id": "a234188d-d531-4fc6-b6bb-533c00f6111c",
      "name": "Respond — Acknowledge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -6240,
        17776
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "thread_ts",
              "value": "={{ $json.body.thread_ts }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "channel_id",
              "value": "={{ $json.body.channel_id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "message_text",
              "value": "={{ $json.body.message_text }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "source",
              "value": "={{ (() => { const t = $json.body.message_text || ''; const fromRouter = $json.body.source || ''; const signatures = ['Sent using','Sent with','Sent via','Sent from','Sent by','Enviado usando','Enviado mediante','Enviado con','Enviado vía','Enviado via','Enviado por','Enviado desde']; const hasSig = signatures.some(s => t.includes(s)); if (hasSig && t.includes('U0AHZHTQE22')) return 'claude'; if (fromRouter === 'claude') return 'claude'; if (fromRouter === 'mention') return 'mention'; if (fromRouter === 'thread_reply') return 'thread_reply'; return 'human'; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "715be8d9-17bd-4f4c-b6f1-0d15cafe021c",
      "name": "Extract Event Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6208,
        17968
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-source-claude",
              "leftValue": "={{ $json.source }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "64f35280-19a6-46d5-80ce-b59ae6fc6caa",
      "name": "Is Source Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -6016,
        17968
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FIX: Parse Claude Message — soporta 3 formatos de mensaje\n// A: bullets  \"• _Label:_ valor\"  (Legales)\n// B: shortcodes \":red_circle: _Label_\\ncontenido\"  (Finance)\n// C: emoji Unicode \"🔍 Label\\ncontenido\"  (formato estándar)\n// ============================================================\nconst rawText = $('Extract Event Data').item.json.message_text || '';\nconst text = rawText\n  .replace(/<@[A-Z0-9]+\\|[^>]+>/g, '')\n  .replace(/<@[A-Z0-9]+>/g, '')\n  .replace(/\\*?Sent using\\*?[^\\n]*/g, '')\n  .replace(/\\*?Sent with\\*?[^\\n]*/g, '')\n  .replace(/\\*?Sent via\\*?[^\\n]*/g, '')\n  .replace(/\\*?Enviado[^\\n]*/g, '')\n  .trim();\n\nconst channel_id = $('Extract Event Data').item.json.channel_id || '';\nconst thread_ts  = $('Extract Event Data').item.json.thread_ts  || '';\n\nconst channelMap = {\n  'C0AJ2599DA6': 'Finance & Accounting',\n  'C0AJ67HK0ES': 'Legal & Compliance',\n  'C0AK2PW5BGQ': 'Operations',\n  'C0AKNPCNNSU': 'Sales & Partnerships',\n  'C0AJMRFP0TD': 'Trading Desk',\n  'C0ARDGP8134': 'Management'\n};\nconst area = channelMap[channel_id] || '';\n\nconst extractBlock = (emojiLabel, bulletLabel, slackShortcodes) => {\n  // Formato C: emoji Unicode bloque\n  const emojiEscaped = emojiLabel.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const blockRegex = new RegExp(\n    emojiEscaped + '\\\\s*\\\\n([\\\\s\\\\S]*?)(?=\\\\n:[a-z_]+:|\\\\n[\\uD83D\\uDD0D\\uD83E\\uDDED\\u26A0\\u2705\\uD83D\\uDEA8\\uD83D\\uDCCE\\uD83D\\uDC64]|$)',\n    'i'\n  );\n  const blockMatch = text.match(blockRegex);\n  if (blockMatch && blockMatch[1].trim()) return blockMatch[1].trim();\n\n  // Formato B: shortcode de Slack bloque\n  for (const sc of (slackShortcodes || [])) {\n    const scEscaped = sc.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    const scBlockRegex = new RegExp(\n      scEscaped + '\\\\s*(?:_[^_]+_)?\\\\s*\\\\n([\\\\s\\\\S]*?)(?=\\\\n:[a-z_]+:|$)',\n      'i'\n    );\n    const scMatch = text.match(scBlockRegex);\n    if (scMatch && scMatch[1].trim()) return scMatch[1].trim();\n  }\n\n  // Formato A: bullet inline\n  const bulletEscaped = bulletLabel.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const bulletRegex = new RegExp(\n    '(?:\\u2022\\\\s*_?' + bulletEscaped + ':?_?\\\\*?|\\\\*' + bulletEscaped + ':\\\\*)\\\\s*([^\\\\n]+)',\n    'i'\n  );\n  const bulletMatch = text.match(bulletRegex);\n  return bulletMatch ? bulletMatch[1].trim() : '';\n};\n\nconst extractUrgencia = () => {\n  const inline = text.match(/:(?:zap|rotating_light|alarm_clock)[^:]*:\\s*_?Urgencia:?_?\\s*([^\\n]+)/i);\n  if (inline) return inline[1].trim();\n  const block = text.match(/:(?:zap|rotating_light|alarm_clock)[^:]*:\\s*_?Urgencia_?\\s*\\n([^\\n:]+)/i);\n  if (block) return block[1].trim();\n  const bullet = text.match(/[\\u2022\\-]\\s*_?Urgencia:?_?\\s*([^\\n]+)/i);\n  if (bullet) return bullet[1].trim();\n  return '';\n};\n\nconst solicitante = extractBlock('\\uD83D\\uDC64 Solicitante', 'Solicitante', [':bust_in_silhouette:']);\nconst problema    = extractBlock('\\uD83D\\uDD0D Problema',    'Problema',    [':red_circle:', ':mag:']);\nconst contexto    = extractBlock('\\uD83E\\uDDED Contexto',    'Contexto',    [':pushpin:', ':compass:']);\nconst impacto     = extractBlock('\\u26A0\\uFE0F Impacto',     'Impacto',     [':bar_chart:', ':warning:']);\nconst resultado   = extractBlock('\\u2705 Resultado esperado','Resultado esperado', [':white_check_mark:']);\nconst urgencia    = extractUrgencia();\n\nconst problemaFull = problema;\n\nconst urgLower = (urgencia || '').toLowerCase();\nlet priority_id = '3';\nif (urgLower.includes('cr\\u00edtico') || urgLower.includes('critico')) priority_id = '1';\nelse if (urgLower.includes('alt')) priority_id = '2';\nelse if (urgLower.includes('bajo')) priority_id = '4';\n\nconst areaIdMap = {\n  'Finance & Accounting': '10128',\n  'Legal & Compliance':   '10129',\n  'Operations':           '10130',\n  'Sales & Partnerships': '10131',\n  'Trading Desk':         '10132',\n  'Management':           '10133'\n};\nconst business_area_id = areaIdMap[area] || '';\n\nconst thread_url = 'https://arduasolutions.slack.com/archives/' + channel_id + '/p' + thread_ts.replace('.', '');\n\nconst rawSummary = '[Miles] ' + (area ? area + ' \\u2014 ' : '') + problemaFull.replace(/\\n/g, ' ');\nconst jira_summary = rawSummary.length > 150\n  ? rawSummary.substring(0, rawSummary.lastIndexOf(' ', 150)) + '\\u2026'\n  : rawSummary;\n\nreturn [{ json: {\n  channel_id, thread_ts, area, solicitante,\n  captured_area:      area,\n  captured_contexto: contexto,\n  captured_problema:  problemaFull,\n  captured_impacto:   impacto,\n  captured_resultado: resultado,\n  captured_urgencia:  urgencia,\n  priority_id, business_area_id, thread_url, jira_summary\n}}];"
      },
      "id": "c32f0b80-d2fe-427c-9b60-19d72eac5744",
      "name": "Parse Claude Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5792,
        17952
      ]
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $('Extract Event Data').item.json.channel_id }}"
            },
            {
              "name": "ts",
              "value": "={{ $('Extract Event Data').item.json.thread_ts }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6fc1309f-4269-432e-adb9-d3e947e36c36",
      "name": "Fetch Thread — Claude Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5632,
        17952
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgs = ($json.messages || []);\nconst thread_ts = $('Extract Event Data').item.json.thread_ts;\nconst milesAlreadyReplied = msgs.some(m => m.bot_id && m.ts !== thread_ts);\nreturn [{ json: { ...$json, is_duplicate: milesAlreadyReplied } }];"
      },
      "id": "a26c8465-6bce-48b5-bfac-f184094c2630",
      "name": "Is Duplicate? (Claude Path)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5440,
        17952
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-is-dup",
              "leftValue": "={{ $json.is_duplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f9960cb0-f5a4-4c87-b494-490fa8ad2882",
      "name": "Skip if Duplicate? (Claude Path)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -5200,
        17952
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-is-notification-claude",
              "leftValue": "={{ (() => { const msgs = $json.messages || []; if (msgs.length === 0) return false; const parent = msgs[0].text || ''; const markers = ['Nuevo requerimiento listo para desarrollo', 'requerimiento completado y disponible', 'en progreso —', 'completado —']; return markers.some(m => parent.includes(m)); })() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b9c0b83d-35ad-42e0-81d4-4cecced9a258",
      "name": "Is Notification Thread — Claude Path?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4896,
        17968
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-closed-claude",
              "leftValue": "={{ ($json.messages || []).some(m => m.text && m.text.includes('Requerimiento creado exitosamente')) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c58a2f1f-b196-4cf6-9a20-77eba1580fa8",
      "name": "Is Session Closed — Claude Path?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4640,
        17984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/7ddac325-ee1e-4459-8695-3fabd8f8a7ab/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Slack Channel ID', rich_text: { equals: $('Extract Event Data').item.json.channel_id } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4144,
        18000
      ],
      "id": "bb3f4fd3-9003-492e-95c0-37fa1a031675",
      "name": "Query Business Area",
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-conversation-handler · Check Approval Gate  (modelo capabilities)\n// ----------------------------------------------------------------------------\n// Resuelve, para el canal/area del requerimiento:\n//   - approver_ids: TODOS los stakeholders del area con req.approve.own (a mencionar)\n//   - needs_approval: false si el solicitante puede auto-aprobar\n//       (tiene req.approve.own de su area  O  req.approve.cross)\n//\n// Fuentes:\n//   Query Business Area     -> area (pageId + Name) desde el canal\n//   Query Capabilities      -> Code -> pageId  (own, cross)\n//   Query Area Stakeholders -> personas del area (con Capabilities[] + Slack ID)\n//   Query Requester         -> el solicitante por Slack ID (Capabilities[] + Business Area[])\n//\n// Sin area configurada (canal sin fila en Business Areas) -> sin gate.\n// ============================================================================\n\nconst CAP_OWN = 'req.approve.own';\nconst CAP_CROSS = 'req.approve.cross';\n\nconst channelId     = $('Extract Event Data').item.json.channel_id;\nconst solicitanteId = $('Extract Event Data').item.json.user_id || '';\nconst threadTs      = $('Extract Event Data').item.json.thread_ts;\n\n// Campos normalizados del requerimiento (para el work-items-handler)\nconst pcm = $('Parse Claude Message').first().json;\nconst reqFields = {\n  problema:           pcm.captured_problema   || pcm.problema   || '',\n  contexto:           pcm.captured_contexto   || pcm.contexto   || '',\n  impacto:            pcm.captured_impacto    || pcm.impacto    || '',\n  resultado_esperado: pcm.captured_resultado  || pcm.resultado_esperado || '',\n  urgencia:           pcm.captured_urgencia   || pcm.urgencia   || 'Normal',\n  area:               pcm.area                || '',\n  business_area_id:   pcm.business_area_id    || '',\n  priority_id:        pcm.priority_id         || '3',\n  thread_url:         pcm.thread_url          || '',\n};\n\n// --- Area del canal ---------------------------------------------------------\nconst baResults = $('Query Business Area').item.json.results || [];\nconst areaRow   = baResults[0] || null;\n\n// Sin area configurada -> sin gate de aprobacion\nif (!areaRow) {\n  return [{ json: { ...reqFields, needs_approval: false, channelId, threadTs, solicitanteId, approver_ids: [] } }];\n}\nconst areaPageId = areaRow.id;\nconst areaName   = areaRow.properties?.Name?.title?.[0]?.plain_text || '';\n\n// --- Code -> pageId de capabilities -----------------------------------------\nconst capResults = $('Query Capabilities').item.json.results || [];\nlet ownCapId='', crossCapId='';\nfor (const c of capResults) {\n  const code = c.properties?.Code?.rich_text?.[0]?.plain_text || '';\n  if (code === CAP_OWN)   ownCapId   = c.id;\n  if (code === CAP_CROSS) crossCapId = c.id;\n}\n\n// --- Aprobadores del area: stakeholders del area con req.approve.own --------\nconst areaStk = $('Query Area Stakeholders').item.json.results || [];\nconst approver_ids = [];\nfor (const s of areaStk) {\n  const caps = (s.properties?.Capabilities?.relation || []).map(r => r.id);\n  const slackId = s.properties?.['Slack ID']?.rich_text?.[0]?.plain_text || '';\n  if (ownCapId && caps.includes(ownCapId) && slackId) approver_ids.push(slackId);\n}\n\n// --- isAutoApproved: el solicitante puede aprobar? --------------------------\nconst reqResults = $('Query Requester').item.json.results || [];\nconst reqStk = reqResults[0] || null;\nlet isAutoApproved = false;\nif (reqStk) {\n  const caps    = (reqStk.properties?.Capabilities?.relation || []).map(r => r.id);\n  const reqArea = (reqStk.properties?.['Business Area']?.relation || []).map(r => r.id);\n  const hasOwnHere = ownCapId && caps.includes(ownCapId) && reqArea.includes(areaPageId);\n  const hasCross   = crossCapId && caps.includes(crossCapId);\n  isAutoApproved = hasOwnHere || hasCross;\n}\n\nreturn [{ json: {\n  ...reqFields,\n  needs_approval: !isAutoApproved,\n  approver_ids,\n  area_name: areaName,\n  channelId,\n  threadTs,\n  solicitanteId,\n} }];"
      },
      "id": "9b20789d-b4bb-4ff4-9979-4c1ea2ac91f6",
      "name": "Check Approval Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3888,
        18000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-needs-approval",
              "leftValue": "={{ $json.needs_approval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1d92556-ad66-49e9-ba42-32fca0fcdd31",
      "name": "IF — Needs Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3696,
        18000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construye el mensaje de aprobacion mencionando a TODOS los aprobadores del area.\nconst approverIds = $json.approver_ids || [];\nconst mentions = approverIds.length\n  ? approverIds.map(id => '<@' + id + '>').join(' ')\n  : 'el responsable del area';\n\nconst body = {\n  channel: $json.channelId,\n  thread_ts: $json.threadTs,\n  text: \"Aprobación pendiente\",\n  attachments: [{\n    text: \"👋 \" + mentions + \", un miembro del área envió un nuevo requerimiento. ¿Lo habilitás?\",\n    fallback: \"¿Habilitás este requerimiento?\",\n    callback_id: \"req_approval_\" + $json.channelId + \"_\" + $json.threadTs.replace(\".\", \"\"),\n    color: \"#f59e0b\",\n    attachment_type: \"default\",\n    actions: [\n      { name: \"approval\", text: \"✅ Confirmar\", type: \"button\", value: \"approve__\" + $json.solicitanteId, style: \"primary\" },\n      { name: \"approval\", text: \"❌ Rechazar\",  type: \"button\", value: \"reject__\"  + $json.solicitanteId, style: \"danger\"  }\n    ]\n  }]\n};\nreturn [{ json: { ...$json, slackBody: JSON.stringify(body) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3440,
        17808
      ],
      "id": "ceb4d550-4780-40da-8fad-293077b20eb1",
      "name": "Build Approval Buttons Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.slackBody }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3184,
        17808
      ],
      "id": "c2ea9a09-a073-4f71-8741-42441558a9e6",
      "name": "Post approval buttons",
      "credentials": {
        "httpBasicAuth": {
          "id": "LXRpdRXQLv37KLaS",
          "name": "Jira-API-Miles"
        },
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  parent: { database_id: \"20437e6c297a4afe923a29b5d01ad26c\" },\n  properties: {\n    \"Thread ID\":     { title:     [{ text: { content: $('Build Approval Buttons Body').item.json.threadTs } }] },\n    \"Channel ID\":    { rich_text: [{ text: { content: $('Build Approval Buttons Body').item.json.channelId } }] },\n    \"Requester ID\":  { rich_text: [{ text: { content: $('Build Approval Buttons Body').item.json.solicitanteId || \"\" } }] },\n    \"Status\":        { select: { name: \"Pending\" } }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2976,
        17808
      ],
      "id": "1650c34c-25af-4134-9b66-4ec37695f024",
      "name": "Create approval lock in Notion",
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Extract Event Data').item.json.channel_id, thread_ts: $('Extract Event Data').item.json.thread_ts, text: '🎉 Requerimiento creado exitosamente!\\n\\n*Ticket:* ' + $json.issueKey + '\\n*Link:* ' + $json.issueUrl + '\\n\\n📎 Podés sumar _documentos, capturas, links o consideraciones adicionales_ directamente en este hilo — todo ese contexto será tenido en cuenta durante el proceso de refinamiento del requerimiento por parte del equipo de Producto.' }) }}",
        "options": {}
      },
      "id": "f0d8b083-cf02-4ba2-9445-d0ede7533288",
      "name": "Post Success to Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3184,
        18016
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {},
      "id": "37e057cf-904c-4429-a740-225bffebdee9",
      "name": "Ignore — Session Closed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4656,
        17696
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.arduasolutions.com/webhook/jira-work-items",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ operation: 'create', project: 'PWI', intake_type_id: '10134', area: $json.area, business_area_id: $json.business_area_id, problema: $json.problema, contexto: $json.contexto, impacto: $json.impacto, resultado_esperado: $json.resultado_esperado, urgencia: $json.urgencia, priority_id: $json.priority_id, thread_url: $json.thread_url }) }}",
        "options": {}
      },
      "id": "47abd1b7-83c6-480c-90a4-907c864c5214",
      "name": "Create via Work-Items Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2384,
        17296
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/a2a071ba-0c63-4d4e-8ee4-d0197f837fa8/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { or: [ { property: 'Code', rich_text: { equals: 'req.approve.own' } }, { property: 'Code', rich_text: { equals: 'req.approve.cross' } } ] } }) }}",
        "options": {}
      },
      "id": "f5b28147-7f44-4e6e-9e66-e1e16f2e878a",
      "name": "Query Capabilities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4144,
        18208
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/376e8880-def6-80aa-bee4-000b5c221413/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Business Area', relation: { contains: ($('Query Business Area').item.json.results[0] ? $('Query Business Area').item.json.results[0].id : 'none') } } }) }}",
        "options": {}
      },
      "id": "29e26e71-5b84-46d0-a25e-1b6801702e07",
      "name": "Query Area Stakeholders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4144,
        18400
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/376e8880-def6-80aa-bee4-000b5c221413/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Slack ID', rich_text: { equals: $('Extract Event Data').item.json.user_id } } }) }}",
        "options": {}
      },
      "id": "7ff96fc6-1783-4b08-99ab-047b372eeac2",
      "name": "Query Requester",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4144,
        18608
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger — Conversation Event": {
      "main": [
        [
          {
            "node": "Respond — Acknowledge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Event Data": {
      "main": [
        [
          {
            "node": "Is Source Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Source Claude?": {
      "main": [
        [
          {
            "node": "Parse Claude Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Message": {
      "main": [
        [
          {
            "node": "Fetch Thread — Claude Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thread — Claude Path": {
      "main": [
        [
          {
            "node": "Is Duplicate? (Claude Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate? (Claude Path)": {
      "main": [
        [
          {
            "node": "Skip if Duplicate? (Claude Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if Duplicate? (Claude Path)": {
      "main": [
        [
          {
            "node": "Ignore — Session Closed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Notification Thread — Claude Path?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Notification Thread — Claude Path?": {
      "main": [
        [
          {
            "node": "Ignore — Session Closed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Session Closed — Claude Path?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Session Closed — Claude Path?": {
      "main": [
        [
          {
            "node": "Ignore — Session Closed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Business Area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Gate": {
      "main": [
        [
          {
            "node": "IF — Needs Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Needs Approval?": {
      "main": [
        [
          {
            "node": "Build Approval Buttons Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create via Work-Items Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Buttons Body": {
      "main": [
        [
          {
            "node": "Post approval buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post approval buttons": {
      "main": [
        [
          {
            "node": "Create approval lock in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create via Work-Items Handler": {
      "main": [
        [
          {
            "node": "Post Success to Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Business Area": {
      "main": [
        [
          {
            "node": "Query Capabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Capabilities": {
      "main": [
        [
          {
            "node": "Query Area Stakeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Area Stakeholders": {
      "main": [
        [
          {
            "node": "Query Requester",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Requester": {
      "main": [
        [
          {
            "node": "Check Approval Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "bec3d116-2d65-4fb7-80db-dd5353b49690",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95944be45d5aa5e5565d656a14e718ed8b92e30102ad1bd3fcad4cf1b1c2f383"
  },
  "id": "mLDlTEhHTPPKXtKD",
  "tags": [
    {
      "updatedAt": "2026-03-25T20:09:56.359Z",
      "createdAt": "2026-03-25T20:09:56.359Z",
      "id": "m3quhhGHST3hiHGb",
      "name": "miles"
    }
  ]
}