workflows/miles-requirement-approval-handler.json
{
  "name": "miles-requirement-approval-handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "req-approval",
        "options": {}
      },
      "id": "3b44e80e-b38d-416c-af24-6d283eb6b986",
      "name": "Trigger — From Actions Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        7728,
        8656
      ],
      "webhookId": "miles-req-approval"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-requirement-approval-handler · Parse Slack Payload\n// ----------------------------------------------------------------------------\n// Invocado por miles-slack-actions-router, que reenvia { payload: <string\n// original url-encoded de Slack> }. Solo PARSEA el payload y extrae los datos\n// de la interaccion. La AUTORIZACION se resuelve mas adelante (Resolve\n// Authorization), una vez consultadas Business Areas, Stakeholders y Capabilities.\n// ============================================================================\n\nconst raw = $('Trigger — From Actions Router').item.json.body?.payload\n         || $('Trigger — From Actions Router').item.json.body || '';\nlet payload;\ntry {\n  payload = typeof raw === 'string' ? JSON.parse(decodeURIComponent(raw)) : raw;\n} catch (e) {\n  return [{ json: { error: 'Could not parse payload', raw: String(raw).slice(0,500) } }];\n}\n\n// Idempotencia minima: sin acciones, nada que hacer.\nconst actions = payload.actions || [];\nif (actions.length === 0) {\n  return [{ json: { _abort: true, _reason: 'no_actions' } }];\n}\n\nconst action      = actions[0] || {};\nconst actionValue = action.value || '';\nconst [decision, requesterId] = actionValue.split('__');   // approve|reject __ <requesterSlackId>\n\n// callback_id formato: req_approval_<CHANNELID>_<THREADTS sin punto>\nconst callbackId = payload.callback_id || '';\nconst parts = callbackId.replace('req_approval_', '').split('_');\nconst channelId     = parts[0] || '';\nconst threadTsClean = parts[1] || '';\nconst threadTs      = threadTsClean.slice(0, 10) + '.' + threadTsClean.slice(10);\n\nconst approverId   = payload.user?.id || '';\nconst approverName = payload.user?.name || approverId;\nconst responseUrl  = payload.response_url || '';\n\nreturn [{ json: {\n  decision,        // 'approve' | 'reject'\n  requesterId,     // Slack ID del solicitante\n  approverId,      // Slack ID de quien clickeo\n  approverName,\n  channelId,\n  threadTs,\n  responseUrl,\n  callbackId,\n}}];"
      },
      "id": "923137b0-7cca-41f6-bb24-8c715b0ae307",
      "name": "Parse Slack Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8176,
        8656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-authorized",
              "leftValue": "={{ $json.isAuthorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bb12bde2-4bc0-4d87-ad7b-b5b04bcf05d9",
      "name": "Is Authorized Approver?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8400,
        8656
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Parse Slack Payload').item.json.decision }}",
        "rules": {
          "rules": [
            {
              "value2": "approve"
            },
            {
              "value2": "reject",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "a205e758-c1c3-44f8-9e67-8bbf08669e53",
      "name": "Switch — Approve or Reject?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        9568,
        8624
      ]
    },
    {
      "parameters": {
        "jsCode": "const fullName = $('Fetch Approver Info').item.json.user?.profile?.real_name || $('Parse Slack Payload').item.json.approverName;\nreturn [{ json: { ...$('Parse Slack Payload').item.json, approverDisplayName: fullName } }];"
      },
      "id": "1785c1bf-77b8-4802-a8df-7f1b6a525d48",
      "name": "Get Approver Display Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10064,
        8416
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Reconstruye los campos del requerimiento parseando los Block Kit del hilo,\n// porque al aprobar el contexto original ya no esta en memoria del workflow.\n// AHORA produce campos NORMALIZADOS para el work-items-handler (no arma el ADF).\nconst msgs = $json.messages || [];\nconst channelId = $('Parse Slack Payload').item.json.channelId;\nconst threadTs  = $('Parse Slack Payload').item.json.threadTs;\n\nconst rootMsg = msgs[0] || {};\nconst elements = rootMsg.blocks?.[0]?.elements?.[0]?.elements || [];\n\nconst extractFromBlocks = (labelText) => {\n  for (let i = 0; i < elements.length; i++) {\n    const el = elements[i];\n    if (el.type === 'text' && el.style?.italic && el.text.trim() === labelText) {\n      let value = '';\n      for (let j = i + 1; j < elements.length; j++) {\n        const next = elements[j];\n        if (next.type === 'text' && next.text === '\\n\\n') break;\n        if (next.type === 'text' && next.text !== '\\n') value += next.text;\n      }\n      return value.trim();\n    }\n  }\n  return '';\n};\n\nconst problema  = extractFromBlocks('Problema');\nconst contexto  = extractFromBlocks('Contexto');\nconst impacto   = extractFromBlocks('Impacto');\nconst resultado = extractFromBlocks('Resultado esperado');\nconst urgencia  = extractFromBlocks('Urgencia') || 'Normal';\n\nconst urgLower = urgencia.toLowerCase();\nlet priority_id = '3';\nif (urgLower.includes('crítico') || urgLower.includes('critico')) priority_id = '1';\nelse if (urgLower.includes('alto'))  priority_id = '2';\nelse if (urgLower.includes('bajo'))  priority_id = '4';\n\nconst area = $('Resolve Authorization').item.json.area || '';\nconst thread_url = 'https://arduasolutions.slack.com/archives/' + channelId + '/p' + threadTs.replace('.', '');\n\nreturn [{ json: {\n  // campos normalizados que consume el work-items-handler\n  problema, contexto, impacto, resultado_esperado: resultado, urgencia,\n  area, priority_id, thread_url,\n  // metadata para nodos siguientes\n  channelId, threadTs,\n} }];\n"
      },
      "id": "d743be77-3faf-4891-8627-115b7f5c6ffe",
      "name": "Rebuild Jira Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11184,
        8320
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        9840,
        8976
      ],
      "id": "5f8fe541-22b7-452b-9a09-842642d237bd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "url": "=https://slack.com/api/users.info?user={{ $('Parse Slack Payload').item.json.approverId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "57e01853-0669-440f-86d0-b7788aff0a1e",
      "name": "Fetch Approver Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9840,
        8416
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-decision",
              "leftValue": "={{ $('Parse Slack Payload').item.json.decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dfe87c35-9c0a-4394-bb30-75d44b4c6966",
      "name": "IF — Approve or Reject?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        10304,
        8416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Parse Slack Payload').item.json.channelId, thread_ts: $('Parse Slack Payload').item.json.threadTs, text: '<@' + $('Parse Slack Payload').item.json.requesterId + '> tu requerimiento fue rechazado por ' + $('Get Approver Display Name').item.json.approverDisplayName + '. El ticket no fue creado en Jira.', mrkdwn: true }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10976,
        8512
      ],
      "id": "544060a7-327a-46c2-929e-ac45beced8e3",
      "name": "Notify user Rejected",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slack Payload').item.json.responseUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replace_original: true, text: '✅ *Habilitado por @' + $json.approverDisplayName + '*', attachments: [] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10560,
        8320
      ],
      "id": "699c3285-2154-43f4-b4f3-d87e87c4b6bf",
      "name": "Update Message approved",
      "credentials": {
        "httpBasicAuth": {
          "id": "LXRpdRXQLv37KLaS",
          "name": "Jira-API-Miles"
        },
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Parse Slack Payload').item.json.channelId, thread_ts: $('Parse Slack Payload').item.json.threadTs, text: '🎉 Requerimiento creado exitosamente!\\n\\n*Ticket:* ' + $json.issueKey + '\\n*Link:* ' + $json.issueUrl + '\\n\\n📎 Podés sumar _documentos, capturas, links o consideraciones adicionales_ directamente en este hilo.', mrkdwn: true }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11584,
        8320
      ],
      "id": "916f32f3-b512-4cdd-84c6-56c89b0896c4",
      "name": "Post to Thread",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slack Payload').item.json.responseUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replace_original: true, text: '❌ *Rechazado por ' + $json.approverDisplayName + '*', attachments: [] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10560,
        8512
      ],
      "id": "0c3badbb-6315-4eb7-810f-7d3dc67dbfdd",
      "name": "Update message Reject",
      "credentials": {
        "httpBasicAuth": {
          "id": "LXRpdRXQLv37KLaS",
          "name": "Jira-API-Miles"
        },
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $('Parse Slack Payload').item.json.channelId }}"
            },
            {
              "name": "ts",
              "value": "={{ $('Parse Slack Payload').item.json.threadTs }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10976,
        8320
      ],
      "id": "0a5eb33f-1f7d-4196-b538-087019405563",
      "name": "Fetch Thread-Rebuild Payload",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/20437e6c297a4afe923a29b5d01ad26c/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Thread ID', title: { equals: $('Parse Slack Payload').item.json.threadTs } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8640,
        8640
      ],
      "id": "ef8d108b-16e5-45c0-9601-9e64bbd4b167",
      "name": "Check Tracker",
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c-exists",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "c-resolved",
              "leftValue": "={{ $json.results[0]?.properties?.Status?.select?.name }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8896,
        8640
      ],
      "id": "815057d8-8fd7-46e5-891d-5a244cc0049a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/43a8018b-e397-44b6-87f6-59c6dadaba00/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Slack Channel ID', rich_text: { equals: $json.channelId } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7968,
        8656
      ],
      "id": "a68254fb-1c72-4630-b81c-c96354533b6a",
      "name": "Query Business Area",
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.notion.com/v1/pages/' + $('Check Tracker').item.json.results[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'Status': { select: { name: 'Rejected' } }, 'Approver ID': { rich_text: [{ text: { content: $('Parse Slack Payload').item.json.approverId } }] } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10768,
        8512
      ],
      "id": "9549f47e-e1d0-4924-92c0-6342a4188b8a",
      "name": "Update Notion Lock — Rejected",
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.notion.com/v1/pages/' + $('Check Tracker').item.json.results[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'Status': { select: { name: 'Approved' } }, 'Approver ID': { rich_text: [{ text: { content: $('Parse Slack Payload').item.json.approverId } }] } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10768,
        8320
      ],
      "id": "a53096ef-d7bc-4673-bf49-bc8871f6f6bd",
      "name": "Update Notion Lock — Approved",
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.arduasolutions.com/webhook/jira-work-items",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ operation: 'create', project: 'PWI', intake_type_id: '10134', area: $json.area, problema: $json.problema, contexto: $json.contexto, impacto: $json.impacto, resultado_esperado: $json.resultado_esperado, urgencia: $json.urgencia, priority_id: $json.priority_id, thread_url: $json.thread_url }) }}",
        "options": {}
      },
      "id": "90ee3cd6-842e-42e9-be6b-508fcfb2d898",
      "name": "Create via Work-Items Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11392,
        8320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/376e8880-def6-805c-bd88-fc5b2c6765f0/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Slack ID', rich_text: { equals: $('Parse Slack Payload').item.json.approverId } } }) }}",
        "options": {}
      },
      "id": "ff573126-94fc-4786-a45a-8b468ff1ca5c",
      "name": "Query Stakeholder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8176,
        8912
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/836a99fd-c232-44b8-a2bf-17fb388f0d0c/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { or: [ { property: 'Code', rich_text: { equals: 'req.approve.own' } }, { property: 'Code', rich_text: { equals: 'req.approve.cross' } } ] } }) }}",
        "options": {}
      },
      "id": "43f7a77c-a4ed-4e85-bb4c-9ac6ecff6d6f",
      "name": "Query Capabilities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8176,
        9120
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-requirement-approval-handler · Resolve Authorization\n// ----------------------------------------------------------------------------\n// Autoriza por CAPABILITIES (modelo nuevo), no por la tabla Area Heads.\n//   1. Business Areas: canal -> area (pageId + Name).\n//   2. Stakeholders:   el aprobador (por Slack ID) con sus Capabilities[] + Business Area[].\n//   3. Capabilities:   resuelve Code -> pageId para 'req.approve.own' y 'req.approve.cross'.\n//\n// Autorizado si:\n//   (tiene req.approve.own  Y  su Business Area == area del canal)   // head del area\n//   O\n//   (tiene req.approve.cross)                                        // universal (Producto + C-Level)\n//\n// Los Code son identificadores semanticos estables del dominio (no UUIDs).\n// Agregar capabilities nuevas NO requiere tocar este flujo: solo importan estas dos.\n// ============================================================================\n\nconst CAP_OWN   = 'req.approve.own';\nconst CAP_CROSS = 'req.approve.cross';\n\nconst p = $('Parse Slack Payload').item.json;\n\n// --- 1. Area del canal ------------------------------------------------------\nconst baResults = $('Query Business Area').item.json.results || [];\nconst areaRow   = baResults[0] || null;\nconst areaPageId = areaRow ? areaRow.id : '';\nconst areaName   = areaRow ? (areaRow.properties?.Name?.title?.[0]?.plain_text || '') : '';\n\n// --- 3. Resolver Code -> pageId de capabilities -----------------------------\nconst capResults = $('Query Capabilities').item.json.results || [];\nlet ownCapId = '', crossCapId = '';\nfor (const c of capResults) {\n  const code = c.properties?.Code?.rich_text?.[0]?.plain_text || '';\n  if (code === CAP_OWN)   ownCapId   = c.id;\n  if (code === CAP_CROSS) crossCapId = c.id;\n}\n\n// --- 2. Stakeholder aprobador ----------------------------------------------\nconst stkResults = $('Query Stakeholder').item.json.results || [];\nconst stk = stkResults[0] || null;\n\nlet isAuthorized = false;\nif (stk) {\n  const caps    = (stk.properties?.Capabilities?.relation || []).map(r => r.id);\n  const stkArea = (stk.properties?.['Business Area']?.relation || []).map(r => r.id);\n\n  const hasOwn   = ownCapId   && caps.includes(ownCapId);\n  const hasCross = crossCapId && caps.includes(crossCapId);\n\n  const isOwnArea = hasOwn && areaPageId && stkArea.includes(areaPageId);\n  isAuthorized = isOwnArea || hasCross;\n}\n\nreturn [{ json: {\n  ...p,\n  area: areaName,        // nombre del area, para el work-items-handler\n  areaPageId,\n  isAuthorized,\n}}];"
      },
      "id": "f87f668d-5d6a-4ae3-a88d-373ab6f6369c",
      "name": "Resolve Authorization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8416,
        8912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slack Payload').item.json.responseUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replace_original: true, text: '⏳ Procesando tu decisión…', attachments: [] }) }}",
        "options": {}
      },
      "id": "53bfcec5-3050-45c3-9549-81c8fce11219",
      "name": "Disable Buttons — Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9568,
        8832
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger — From Actions Router": {
      "main": [
        [
          {
            "node": "Parse Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Payload": {
      "main": [
        [
          {
            "node": "Query Business Area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Business Area": {
      "main": [
        [
          {
            "node": "Query Stakeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Stakeholder": {
      "main": [
        [
          {
            "node": "Query Capabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Capabilities": {
      "main": [
        [
          {
            "node": "Resolve Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Authorization": {
      "main": [
        [
          {
            "node": "Is Authorized Approver?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized Approver?": {
      "main": [
        [
          {
            "node": "Check Tracker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tracker": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disable Buttons — Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Approve or Reject?": {
      "main": [
        [
          {
            "node": "Fetch Approver Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Approver Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Approver Info": {
      "main": [
        [
          {
            "node": "Get Approver Display Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approver Display Name": {
      "main": [
        [
          {
            "node": "IF — Approve or Reject?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Approve or Reject?": {
      "main": [
        [
          {
            "node": "Update Message approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update message Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Message approved": {
      "main": [
        [
          {
            "node": "Update Notion Lock — Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Lock — Approved": {
      "main": [
        [
          {
            "node": "Fetch Thread-Rebuild Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thread-Rebuild Payload": {
      "main": [
        [
          {
            "node": "Rebuild Jira Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild Jira Payload": {
      "main": [
        [
          {
            "node": "Create via Work-Items Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update message Reject": {
      "main": [
        [
          {
            "node": "Update Notion Lock — Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Lock — Rejected": {
      "main": [
        [
          {
            "node": "Notify user Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create via Work-Items Handler": {
      "main": [
        [
          {
            "node": "Post to Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disable Buttons — Processing": {
      "main": [
        [
          {
            "node": "Switch — Approve or Reject?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "3142cd2e-09bb-4ed6-bd6c-6e70b07ceaf9",
  "meta": {
    "instanceId": "95944be45d5aa5e5565d656a14e718ed8b92e30102ad1bd3fcad4cf1b1c2f383"
  },
  "id": "H6uzCMuikHQy3jJa",
  "tags": [
    {
      "updatedAt": "2026-03-25T20:09:56.359Z",
      "createdAt": "2026-03-25T20:09:56.359Z",
      "id": "m3quhhGHST3hiHGb",
      "name": "miles"
    }
  ]
}