workflows/miles-reminder-handler.json
{
  "name": "miles-reminder-handler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10-18 * * 1-5"
            }
          ]
        }
      },
      "id": "dbe636b8-c216-43a2-b3dd-c9771b0daa32",
      "name": "Trigger — Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        4448,
        1568
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/20437e6c297a4afe923a29b5d01ad26c/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Status', select: { equals: 'Pending' } } }) }}",
        "options": {}
      },
      "id": "bca76c5e-4dca-44b9-8dd0-cbdfae545508",
      "name": "Query Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4672,
        1568
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-reminder-handler · Resolve Reminders\n// ----------------------------------------------------------------------------\n// Por cada fila Pending del Tracker:\n//   1. Decide si toca recordar: pasaron >= THRESHOLD horas habiles desde\n//      Last Reminder At (o desde Locked At si nunca se recordo).\n//   2. Deriva los aprobadores del area (stakeholders con req.approve.own cuya\n//      Business Area == area del canal de la fila) -> sus Slack IDs.\n//   3. Emite UN item por (fila x aprobador) para mandar DM, mas metadata para\n//      marcar Last Reminder At una vez por fila.\n//\n// Horas habiles: L-V 10:00-18:00 Argentina (UTC-3). Threshold 4h.\n// ============================================================================\n\nconst TIMEZONE_OFFSET = -3;\nconst DAY_START = 10, DAY_END = 18;\nconst THRESHOLD_HOURS = 4;\n\nfunction toArg(d){ return new Date(d.getTime() + TIMEZONE_OFFSET*3600*1000); }\nfunction businessHoursElapsed(sinceISO){\n  const now = toArg(new Date());\n  const start = toArg(new Date(sinceISO));\n  let elapsed = 0;\n  const cur = new Date(start);\n  while (cur < now){\n    const day = cur.getUTCDay(), hour = cur.getUTCHours();\n    if (day>=1 && day<=5 && hour>=DAY_START && hour<DAY_END){\n      const next = new Date(cur.getTime()+3600*1000);\n      const end = next<now ? next : now;\n      elapsed += (end-cur)/3600000;\n    }\n    cur.setTime(cur.getTime()+3600*1000);\n  }\n  return elapsed;\n}\n\n// --- Mapa area pageId -> { channelId, name } desde Business Areas -----------\nconst baResults = $('Query Business Areas').item.json.results || [];\nconst areaByChannel = {};   // channelId -> areaPageId\nfor (const a of baResults){\n  const chan = a.properties?.['Slack Channel ID']?.rich_text?.[0]?.plain_text || '';\n  if (chan) areaByChannel[chan] = a.id;\n}\n\n// --- Aprobadores con own: pageArea -> [slackIds] ----------------------------\nconst ownStk = $('Query Own Stakeholders').item.json.results || [];\nconst approversByArea = {};  // areaPageId -> [slackId]\nfor (const s of ownStk){\n  const slackId = s.properties?.['Slack ID']?.rich_text?.[0]?.plain_text || '';\n  const areas = (s.properties?.['Business Area']?.relation || []).map(r => r.id);\n  if (!slackId) continue;\n  for (const ap of areas){\n    (approversByArea[ap] = approversByArea[ap] || []).push(slackId);\n  }\n}\n\n// --- Recorrer filas pendientes ---------------------------------------------\nconst rows = $('Query Pending').item.json.results || [];\nconst out = [];\nfor (const row of rows){\n  const props = row.properties;\n  const threadId  = props?.['Thread ID']?.title?.[0]?.plain_text || '';\n  const channelId = props?.['Channel ID']?.rich_text?.[0]?.plain_text || '';\n  const lockedAt  = props?.['Locked At']?.created_time || row.created_time;\n  const lastRem   = props?.['Last Reminder At']?.date?.start || '';\n  const pageId    = row.id;\n\n  // since: ultimo recordatorio, o creacion si nunca se recordo\n  const sinceISO = lastRem || lockedAt;\n  if (!sinceISO) continue;\n  if (businessHoursElapsed(sinceISO) < THRESHOLD_HOURS) continue;\n\n  // aprobadores del area de esta fila\n  const areaPageId = areaByChannel[channelId];\n  const approvers = (areaPageId && approversByArea[areaPageId]) ? approversByArea[areaPageId] : [];\n  if (approvers.length === 0) continue;\n\n  // permalink del hilo\n  const threadUrl = 'https://arduasolutions.slack.com/archives/' + channelId + '/p' + threadId.replace('.', '');\n\n  for (const approverId of approvers){\n    out.push({ json: {\n      approverId, channelId, threadId, threadUrl, pageId,\n      nowISO: new Date().toISOString(),\n    }});\n  }\n}\n\nif (out.length === 0) return [{ json: { hasReminders: false } }];\nreturn out.map(o => ({ json: { ...o.json, hasReminders: true } }));"
      },
      "id": "a0a14918-00a4-48c3-bb73-576284c48fd4",
      "name": "Resolve Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        1568
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-has-pending",
              "leftValue": "={{ $json.hasReminders }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3ad0c25-62a3-4cef-9ce0-b4919e0d8626",
      "name": "IF — Has Reminders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5120,
        1568
      ]
    },
    {
      "parameters": {},
      "id": "25128979-c1a5-4b23-9152-870c43a7d8d8",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5376,
        1824
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Resolve Reminders').item.json.approverId, text: '👋 Tenés un requerimiento esperando tu aprobación. Para revisarlo y habilitarlo/rechazarlo, entrá al hilo: ' + $('Resolve Reminders').item.json.threadUrl, mrkdwn: true }) }}",
        "options": {}
      },
      "id": "c765c3b0-8298-41c4-aafb-01c766f6f34f",
      "name": "Send DM Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5840,
        1552
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MX2QZHGzOYBtt41s",
          "name": "Slack Bot Token — Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.notion.com/v1/pages/' + $('Resolve Reminders').item.json.pageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'Last Reminder At': { date: { start: $('Resolve Reminders').item.json.nowISO } } } }) }}",
        "options": {}
      },
      "id": "dee798cb-4c1d-4b45-84bb-2cf25a6dcb1d",
      "name": "Update Last Reminder At",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6032,
        1552
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/20437e6c297a4afe923a29b5d01ad26c/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { and: [ { property: 'Thread ID', title: { equals: $json.threadId } }, { property: 'Status', select: { does_not_equal: 'Pending' } } ] } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5344,
        1552
      ],
      "id": "bc1cdb5f-c8a3-45fe-8b3c-c8518f85e27e",
      "name": "Check Thread Resolved",
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "60ba7f5d-85f3-49d7-894d-f07e35dab02b",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5600,
        1552
      ],
      "id": "5687347e-5ec4-4c1a-9bd0-ff38a09c4f70",
      "name": "IF — Already Resolved?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/43a8018b-e397-44b6-87f6-59c6dadaba00/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ page_size: 100 }) }}",
        "options": {}
      },
      "id": "92ae773d-bee5-4b8b-b0fc-dfa4ae174e70",
      "name": "Query Business Areas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4912,
        1344
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/836a99fd-c232-44b8-a2bf-17fb388f0d0c/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Code', rich_text: { equals: 'req.approve.own' } } }) }}",
        "options": {}
      },
      "id": "14395ff9-0265-4f12-93a3-82b4d1f19ff6",
      "name": "Query Capability Own",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5120,
        1344
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/376e8880-def6-805c-bd88-fc5b2c6765f0/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Capabilities', relation: { contains: ($('Query Capability Own').item.json.results[0] ? $('Query Capability Own').item.json.results[0].id : 'none') } }, page_size: 100 }) }}",
        "options": {}
      },
      "id": "b45d67cc-107d-4beb-8866-9aa121000a81",
      "name": "Query Own Stakeholders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5344,
        1344
      ],
      "credentials": {
        "notionApi": {
          "id": "aldMlehkPJEZ6AqY",
          "name": "Notion-API-Miles"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger — Cron": {
      "main": [
        [
          {
            "node": "Query Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Pending": {
      "main": [
        [
          {
            "node": "Query Business Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Business Areas": {
      "main": [
        [
          {
            "node": "Query Capability Own",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Capability Own": {
      "main": [
        [
          {
            "node": "Query Own Stakeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Own Stakeholders": {
      "main": [
        [
          {
            "node": "Resolve Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Reminders": {
      "main": [
        [
          {
            "node": "IF — Has Reminders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Has Reminders?": {
      "main": [
        [
          {
            "node": "Check Thread Resolved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Thread Resolved": {
      "main": [
        [
          {
            "node": "IF — Already Resolved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Already Resolved?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send DM Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send DM Reminder": {
      "main": [
        [
          {
            "node": "Update Last Reminder At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "cdf3f016-4f59-48d0-97b7-6e456f28140b",
  "meta": {
    "instanceId": "95944be45d5aa5e5565d656a14e718ed8b92e30102ad1bd3fcad4cf1b1c2f383"
  },
  "id": "9TxrLxzhf2xu1MIm",
  "tags": [
    {
      "updatedAt": "2026-03-25T20:09:56.359Z",
      "createdAt": "2026-03-25T20:09:56.359Z",
      "id": "m3quhhGHST3hiHGb",
      "name": "miles"
    }
  ]
}