workflows/miles-slack-actions-router.json
{
  "name": "miles-slack-actions-router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-actions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4a7f54cf-8ffd-4558-b2a4-a56e2ac1f48c",
      "name": "Trigger — Slack Actions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -896,
        80
      ],
      "webhookId": "miles-slack-actions"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "8a187986-c54c-4096-8ba5-ec370b13a15b",
      "name": "Respond — Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -688,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// miles-slack-actions-router · Parse & Classify Action\n// ----------------------------------------------------------------------------\n// Router (dispatcher) de la Interactivity API de Slack. Endpoint: /slack-actions\n// (configurado como Interactivity Request URL del Slack App de Miles).\n//\n// A diferencia de la Events API, Slack envia las interacciones como\n// application/x-www-form-urlencoded con un campo `payload` que es un JSON\n// stringificado. Hay que JSON.parse(decodeURIComponent(payload)) para leerlo.\n//\n// RESPONSABILIDAD UNICA: leer el discriminador y rutear. NO procesa negocio.\n// El payload crudo se reenvia tal cual al handler que corresponda (passthrough),\n// para que el parseo existente de cada handler siga funcionando sin cambios.\n//\n// Discriminadores soportados:\n//   callback_id.startsWith('req_approval')  -> 'approval'  (formato legacy attachments)\n//   (todo lo demas)                         -> 'unknown'   -> noOp\n//\n// A medida que Miles sume interacciones (modales, otros botones), se agregan\n// ramas nuevas aca + en el Switch, sin tocar los handlers existentes.\n// ============================================================================\n\nconst body = $json.body || {};\n\n// El payload puede venir como string (form field `payload`) o ya como objeto.\nconst raw = body.payload || body || '';\nlet payload;\ntry {\n  payload = typeof raw === 'string' ? JSON.parse(decodeURIComponent(raw)) : raw;\n} catch (e) {\n  // Si no parsea, no rompemos: clasificamos como unknown y dejamos traza.\n  return [{ json: { action_type: 'unknown', _reason: 'parse_error', _raw: String(raw).slice(0, 500) } }];\n}\n\nconst payloadType = payload.type || '';                 // 'interactive_message' (legacy) | 'block_actions' | 'view_submission' ...\nconst callbackId  = payload.callback_id || '';          // legacy attachments\nconst actionId    = (payload.actions && payload.actions[0] && payload.actions[0].action_id) || ''; // block kit moderno\n\n// --- Clasificacion ----------------------------------------------------------\n// Aprobacion de REQ: callback_id `req_approval_*` (legacy). Tambien contemplamos\n// un eventual action_id `req_approval*` por si se migra a Block Kit en el futuro.\nconst isApproval = callbackId.startsWith('req_approval') || actionId.startsWith('req_approval');\n\nif (isApproval) {\n  // Passthrough: reenviamos el payload CRUDO (string original) para que el\n  // approval-handler lo parsee como siempre. Si vino como string lo mandamos\n  // tal cual; si vino objeto, lo re-stringificamos.\n  const rawPayloadString = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  return [{ json: {\n    action_type: 'approval',\n    raw_payload: rawPayloadString,\n    callback_id: callbackId,\n  }}];\n}\n\n// --- Sin match -> unknown (noOp). No hacemos nada, pero dejamos traza. -------\nreturn [{ json: {\n  action_type: 'unknown',\n  _reason: 'no_match',\n  payload_type: payloadType,\n  callback_id: callbackId,\n  action_id: actionId,\n}}];"
      },
      "id": "604bbf25-1175-4f7b-a19a-d65bdd87ffbe",
      "name": "Parse & Classify Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        80
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action_type }}",
        "rules": {
          "rules": [
            {
              "value2": "approval"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "e5dc5100-cd32-41c0-a19b-69ae064a4c75",
      "name": "Switch — Action Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -240,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.arduasolutions.com/webhook/req-approval",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ payload: $json.raw_payload }) }}",
        "options": {}
      },
      "id": "b5f43d45-eda5-4c41-a501-9d7e41633b03",
      "name": "Forward — Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -64
      ]
    },
    {
      "parameters": {},
      "id": "42a1cd85-ed10-4b52-818c-b02af4ac6726",
      "name": "Ignore",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16,
        176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger — Slack Actions": {
      "main": [
        [
          {
            "node": "Respond — Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond — Ack": {
      "main": [
        [
          {
            "node": "Parse & Classify Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Classify Action": {
      "main": [
        [
          {
            "node": "Switch — Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Action Type": {
      "main": [
        [
          {
            "node": "Forward — Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "05fc4071-3cba-4dc6-b01b-5c7c0b411705",
  "meta": {
    "instanceId": "95944be45d5aa5e5565d656a14e718ed8b92e30102ad1bd3fcad4cf1b1c2f383"
  },
  "id": "kbyXLYxUSaVhz3ZD",
  "tags": [
    {
      "updatedAt": "2026-03-25T20:09:56.359Z",
      "createdAt": "2026-03-25T20:09:56.359Z",
      "id": "m3quhhGHST3hiHGb",
      "name": "miles"
    }
  ]
}